flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:[% invite_alias_scenarios_pbx_test.testuser1002.phone_number %]@invite-alias.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-alias.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'Contact: <sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP>'
  - 'Content-Length:\s+0'
  - 'P-NGCP-Src-Ip: [% scenarios.0.ip %]'
  - 'P-NGCP-Src-Port: [% scenarios.0.responders.0.port %]'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:[% invite_alias_scenarios_pbx_test.testuser1002.phone_number %]@invite-alias.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-alias.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ BYE',
      'Contact: <sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP>',
      'Content-Length:\s+0',
      'P-NGCP-Src-Ip: [% scenarios.0.ip %]',
      'P-NGCP-Src-Port: [% scenarios.0.responders.0.port %]',
      'P-NGCP-Src-Proto: udp',
      'P-NGCP-Src-Af: 4',
    ]
