cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: 'invite-offline-soundset.scenarios.test'
    source_cli: '0'
    destination_user: '[% scenarios.0.responders.0.username %]'
    destination_domain: 'invite-offline-soundset.scenarios.test'
    destination_user_dialed: '[% scenarios.0.responders.0.username %]'
    call_type: 'call'
    call_status: 'noanswer'
    call_code: '480'
  - source_user: '[% scenarios.0.username %]'
    source_domain: 'invite-offline-soundset.scenarios.test'
    source_cli: '0'
    destination_user: '[% scenarios.1.responders.0.username %]'
    destination_domain: 'invite-offline-soundset.scenarios.test'
    destination_user_dialed: '[% scenarios.1.responders.0.username %]'
    call_type: 'call'
    call_status: 'noanswer'
    call_code: '480'