flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_CHECK_TIMER_SUPP_REQ:
  - return|ROUTE_CHECK_TIMER_SUPP_REQ:
  - start|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - return|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
  - return|dialog:start:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:[% invite_force_inbound_calls_to_peer_scenarios_test.testuser1002.phone_number %]@invite-force-inbound-calls-to-peer.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_force_inbound_calls_to_peer_scenarios_test.testuser1003.phone_number %]@invite-force-inbound-calls-to-peer.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:[% scenarios.0.username %]@invite-force-inbound-calls-to-peer.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% invite_force_inbound_calls_to_peer_scenarios_test.testuser1003.phone_number %]@invite-force-inbound-calls-to-peer.scenarios.test>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'P-Out-Socket: udp:127.0.0.1:5060',
    ]
