cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: 'reminder.scenarios.test'
    source_cli: '[% reminder_scenarios_test.testuser1001.phone_number %]'
    destination_user: '\*55\*1420'
    destination_domain: 'vsc.local'
    destination_user_dialed: '\*55\*1420'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'