cdr:
  - source_user: 'AX_testuser1001'
    source_domain: 'dom.reminder.test'
    source_cli: '43501001'
    destination_user: '\*55\*1420'
    destination_domain: 'vsc.local'
    destination_user_dialed: '\*55\*1420'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'