flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_LEG_B:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
  - return|dialog:start:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:[% invite_scenarios_pbx_test.testuser1002.phone_number %]@invite.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:testuser1003@invite.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
sip_out:
  - [
      'PUBLISH sip:testuser1003@invite.scenarios-pbx.test SIP/2.0',
      'To: <sip:testuser1003@invite.scenarios-pbx.test>',
      'From: <sip:testuser1003@invite.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ PUBLISH',
      'Content-Length:\s+\d+',
      'User-Agent: Sipwise NGCP Proxy',
      'Event: dialog',
      'SIP-If-Match: .+',
      'Content-Type: application/dialog\-info\+xml',
    ]
  - [
      'SIP/2.0 200 OK',
      'From: <sip:[% invite_scenarios_pbx_test.testuser1002.phone_number %]@invite.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:testuser1003@invite.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
    ]
