flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_SCA_UPDATE:
  - return|ROUTE_SCA_UPDATE:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - start|ROUTE_WITHINDLG_RTPENGINE:
  - return|ROUTE_WITHINDLG_RTPENGINE:
  - start|ROUTE_OUTBOUND:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'ACK sip:127.0.0.1:508[08];prxroute=1 SIP/2.0'
  - 'From: <sip:[% scenarios.0.username %]@invite.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_scenarios_pbx_test.testuser1003.pbx_extension %]@invite.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ ACK'
  - 'Contact: <sip:[% scenarios.0.username %]@[% scenarios.0.ip %]:[% scenarios.0.port %](;[^>]+)?>'
  - 'Content-Length: 0'
  - 'P-Sock-Info: udp:[% server_ip %]:5060'
  - 'P-LB-Uptime: \d+'
sip_out:
  - [
      'ACK sip:127.0.0.1:508[08];prxroute=1 SIP/2.0',
      'From: <sip:[% invite_scenarios_pbx_test.testuser1002.phone_number %]@invite.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% invite_scenarios_pbx_test.testuser1003.pbx_extension %]@invite.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ ACK',
      'Contact: <sip:[% scenarios.0.username %]@[% scenarios.0.ip %]:[% scenarios.0.port %](;[^>]+)?>',
      'Content-Length: 0',
      'P-Sock-Info: udp:[% server_ip %]:5060',
      'P-LB-Uptime: \d+',
    ]
