flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - return|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
  - return|dialog:start:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:004321001@timer-session-callee-only-supported.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:testuser1001@timer-session-callee-only-supported.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Require: timer'
  - 'Supported: timer'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
  - 'Content-Length: 0'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:004321001@[% scenarios.0.domain %]>;tag=[\w-]+',
      'To: <sip:testuser1001@timer-session-callee-only-supported.scenarios.test>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'Content-Length: 0',
      'P-Out-Socket: udp:127.0.0.1:5060',
    ]
