flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_CF_LOOP:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
  - start|FAILURE_ROUTE_HUNT:
  - start|ROUTE_STOP_RTPPROXY_BRANCH:
  - return|ROUTE_STOP_RTPPROXY_BRANCH:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_EXECUTE_CF_LOOP:
  - start|ROUTE_ADD_AOC_HEADER:
  - return|ROUTE_ADD_AOC_HEADER:
  - start|BRANCH_ROUTE_FWD_LOOP:
  - start|ROUTE_SET_HIH_CF:
  - return|ROUTE_SET_HIH_CF:
  - start|ROUTE_APPEND_CF_HDRS:
  - start|ROUTE_ADD_DEVALIAS_HEADERS:
  - return|ROUTE_ADD_DEVALIAS_HEADERS:
  - return|ROUTE_APPEND_CF_HDRS:
  - start|ROUTE_ADD_CALLINFO:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - return|BRANCH_ROUTE_FWD_LOOP:
  - start|ROUTE_DROP:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_DROP:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXECUTE_CF_LOOP:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
 - 'SIP/2.0 486 Busy Here'
 - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+;did=[^;]+>'
 - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>'
 - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>'
 - 'From: <sip:[% scenarios.1.username %]@invite-manager-2sec.scenarios-pbx.test>;tag=[\w-]+'
 - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-manager-2sec.scenarios-pbx.test>;tag=[\w-]+'
 - 'CSeq: \d+ INVITE'
 - 'P-NGCP-Caller-Info: <sip:[% scenarios.0.responders.0.username %]@invite-manager-2sec.scenarios-pbx.test>;ip=127.0.0.1;port=5080;primary=[% invite_manager_2sec_scenarios_pbx_test.manager.phone_number %]'
 - 'P-NGCP-Callee-Info: <sip:[% invite_manager_2sec_scenarios_pbx_test.secretary1.pbx_phone_number %]@invite-manager-2sec.scenarios-pbx.test>;ip=[% scenarios.1.responders.2.ip %];port=[% scenarios.1.responders.2.port %];primary=[% invite_manager_2sec_scenarios_pbx_test.secretary1.pbx_phone_number %]'
 - 'Content-Length:\s+0'
sip_out:
  - [
      'ACK sip:[% invite_manager_2sec_scenarios_pbx_test.secretary1.pbx_phone_number %]@invite-manager-2sec.scenarios-pbx.test SIP/2.0',
      'From: <sip:[% scenarios.1.username %]@invite-manager-2sec.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-manager-2sec.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ ACK',
      'Content-Length:\s+0',
    ]
  - [
      'INVITE sip:[% invite_manager_2sec_scenarios_pbx_test.secretary2.pbx_phone_number %]@invite-manager-2sec.scenarios-pbx.test SIP/2.0',
      'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+;did=[^;]+>',
      'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>',
      'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>',
      'From: <sip:[% scenarios.1.username %]@invite-manager-2sec.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-manager-2sec.scenarios-pbx.test>',
      'CSeq: \d+ INVITE',
      'Contact: <sip:[% scenarios.1.username %]@[% scenarios.1.ip %]:[% scenarios.1.port %];alias=[^;]+>',
      'Proxy-Authorization: Digest username="[% scenarios.1.username %]",realm="invite-manager-2sec.scenarios-pbx.test",uri="sip:[% server_ip %]:5060",nonce="[^"]+",response="[^"]+",algorithm=MD5',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'P-LB-Uptime:\s+\d+',
      'P-CF-Loop-Count: 2',
      'P-HIH-Cause: 302',
      'P-App-Param: ;profile=ngcp_cf',
      'P-App-Name: sbc',
      'P-D-Uri: sip:127.0.0.1:5062',
      'P-NGCP-Sems-Instance: sbc',
      'P-Caller-UUID: [% invite_manager_2sec_scenarios_pbx_test.manager.uuid %]',
      'P-MS-Forward-Active: 1',
      'P-First-Caller-UPN: [% invite_manager_2sec_scenarios_pbx_test.manager.phone_number %]1003',
      'P-First-Caller-NPN: [% invite_manager_2sec_scenarios_pbx_test.manager.phone_number %]1003',
      'P-First-Caller-UPD: invite-manager-2sec.scenarios-pbx.test',
      'P-First-Caller-NPD: invite-manager-2sec.scenarios-pbx.test',
      'P-Acc-Caller-User: manager',
      'P-Acc-Caller-Domain: invite-manager-2sec.scenarios-pbx.test',
      'P-Acc-State: cfu',
      'P-From-Peer: 0',
      'P-First-V46-RTP: auto',
      'P-First-RTP: ice_strip_candidates',
      'P-First-RTP-Transport: transparent',
      'P-First-Caller-CLIR: 0',
      'P-CF-Depth: 2',
      'P-First-Caller-UA-Mode: strip',
      'P-First-Caller-Cloud-PBX: [% invite_manager_2sec_customerpbx_test.id %]',
      'P-First-Caller-PBX-Ext: [% invite_manager_2sec_scenarios_pbx_test.testuser1003.pbx_extension %]',
      'P-Callee-Ext-Subs-ID: ',
      'P-Callee-Ext-Contr-ID: ',
      'P-Callee-Account-ID: 0',
      'P-Orig-Callee-Dialed: manager',
      'P-Prev-Caller-UUID: [% invite_manager_2sec_scenarios_pbx_test.testuser1003.uuid %]',
      'P-First-Caller-RTP-Interface: ext',
      'P-First-Caller-RTP-Interface-Source: default',
      'P-NGCP-Presence-Caller: sip:[% scenarios.1.username %]@invite-manager-2sec.scenarios-pbx.test',
      'P-NGCP-Alias-DevId: 0',
      'P-NGCP-Caller-Info: <sip:[% scenarios.1.username %]@invite-manager-2sec.scenarios-pbx.test>;ip=[% scenarios.1.ip %];port=[% scenarios.1.port %];primary=[% invite_manager_2sec_scenarios_pbx_test.testuser1003.pbx_phone_number %]',
      'P-NGCP-Forward-Info: <sip:[% scenarios.0.responders.0.username %]@invite-manager-2sec.scenarios-pbx.test>;ip=127.0.0.1;port=5080;primary=[% invite_manager_2sec_scenarios_pbx_test.manager.phone_number %]',
      'P-NGCP-Callee-Info: <sip:[% invite_manager_2sec_scenarios_pbx_test.secretary2.pbx_phone_number %]@invite-manager-2sec.scenarios-pbx.test>;ip=127.0.0.1;port=5080',
      'v=0',
      'o=user1 \d+ \d+ IN IP4 [% scenarios.0.ip %]',
      's=-',
      'c=IN IP4 [% scenarios.0.ip %]',
      't=0 0',
      'm=audio [% scenarios.1.mport %] RTP/AVP 8',
      'a=rtpmap:8 PCMA/8000',
      'a=ptime:50',
    ]
