cdr:
  - source_user: '[% scenarios.1.username %]'
    source_domain: 'invite-manager-2sec.scenarios-pbx.test'
    source_cli: '[% invite_manager_2sec_scenarios_pbx_test.testuser1003.pbx_phone_number %]'
    destination_user: 'manager'
    destination_domain: 'invite-manager-2sec.scenarios-pbx.test'
    destination_user_dialed: 'manager'
    destination_user_in: 'manager'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'manager'
    source_domain: 'invite-manager-2sec.scenarios-pbx.test'
    source_cli: '[% invite_manager_2sec_scenarios_pbx_test.manager.pbx_number %]'
    destination_user: 'secretary2'
    destination_domain: 'invite-manager-2sec.scenarios-pbx.test'
    destination_user_dialed: '[% invite_manager_2sec_scenarios_pbx_test.secretary2.pbx_phone_number %]'
    destination_user_in: '[% invite_manager_2sec_scenarios_pbx_test.secretary2.pbx_phone_number %]'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'manager'
    source_domain: 'invite-manager-2sec.scenarios-pbx.test'
    source_cli: '[% invite_manager_2sec_scenarios_pbx_test.manager.pbx_number %]'
    destination_user: 'secretary1'
    destination_domain: 'invite-manager-2sec.scenarios-pbx.test'
    destination_user_dialed: '[% invite_manager_2sec_scenarios_pbx_test.secretary1.pbx_phone_number %]'
    destination_user_in: '[% invite_manager_2sec_scenarios_pbx_test.secretary1.pbx_phone_number %]'
    call_type: 'cfu'
    call_status: 'busy'
    call_code: '486'
  - source_user: 'secretary2'
    source_domain: 'invite-manager-2sec.scenarios-pbx.test'
    source_cli: '[% invite_manager_2sec_scenarios_pbx_test.secretary.pbx_phone_number %]'
    destination_user: 'manager'
    destination_domain: 'invite-manager-2sec.scenarios-pbx.test'
    destination_user_dialed: '[% invite_manager_2sec_scenarios_pbx_test.manager.pbx_extension %]'
    destination_user_in: 'manager'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
