cdr:
  - source_user: 'testuser1002'
    source_domain: 'invite-allowip.scenarios.test'
    source_cli: '0'
    destination_user: 'testuser1003'
    destination_domain: 'invite-allowip.scenarios.test'
    destination_user_dialed: 'testuser1003'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'