flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_LEG_B:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'INVITE sip:E1112@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=udp SIP/2.0'
  - 'From: <sip:[% invite_emergency_cirpack_scenarios_test.testuser1002.phone_number %]@invite-emergency-cirpack.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:E1112@[% scenarios.0.responders.0.ip %]>'
  - 'CSeq: \d+ INVITE'
  - 'P-LB-Uptime: \d+'
  - 'P-Asserted-Identity: <sip:[% invite_emergency_cirpack_scenarios_test.testuser1002.phone_number %]@invite-emergency-cirpack.scenarios.test>'
  - 'P-Caller-UUID: [% invite_emergency_cirpack_scenarios_test.testuser1002.uuid %]'
  - 'P-NGCP-Caller-Info: <sip:[% scenarios.0.username %]@invite-emergency-cirpack.scenarios.test>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %];primary=[% invite_emergency_cirpack_scenarios_test.testuser1002.phone_number %]'
  - 'P-NGCP-Callee-Info: <sip:emergency_112@invite-emergency-cirpack.scenarios.test>;ip=[% scenarios.0.responders.0.ip %];port=[% scenarios.0.responders.0.port %]'
  - 'P-D-Uri: sip:127.0.0.1:5060;received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %]%3blr%3btransport%3dudp'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:[% invite_emergency_cirpack_scenarios_test.testuser1002.phone_number %]@invite-emergency-cirpack.scenarios.test>;tag=[\w-]+',
      'To: <sip:E1112@[% scenarios.0.responders.0.ip %]>',
      'CSeq: \d+ INVITE',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'INVITE sip:E1112@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=udp SIP/2.0',
      'From: <sip:[% invite_emergency_cirpack_scenarios_test.testuser1002.phone_number %]@invite-emergency-cirpack.scenarios.test>;tag=[\w-]+',
      'To: <sip:E1112@[% scenarios.0.responders.0.ip %]>',
      'CSeq: \d+ INVITE',
      'P-LB-Uptime: \d+',
      'P-Asserted-Identity: <sip:[% invite_emergency_cirpack_scenarios_test.testuser1002.phone_number %]@invite-emergency-cirpack.scenarios.test>',
      'P-Caller-UUID: [% invite_emergency_cirpack_scenarios_test.testuser1002.uuid %]',
      'P-NGCP-Caller-Info: <sip:[% scenarios.0.username %]@invite-emergency-cirpack.scenarios.test>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %];primary=[% invite_emergency_cirpack_scenarios_test.testuser1002.phone_number %]',
      'P-NGCP-Callee-Info: <sip:emergency_112@invite-emergency-cirpack.scenarios.test>;ip=[% scenarios.0.responders.0.ip %];port=[% scenarios.0.responders.0.port %]',
      'P-D-Uri: sip:127.0.0.1:5060;received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %]%3blr%3btransport%3dudp',
      'Content-Type: multipart/mixed;boundary=\"unique-boundary-1\"',
      'Content-Length:\s+\d+',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'Content-Type: application/sdp',
      'Content-Type: application/vnd\.cirpack\.isdn-ext',
      'Content-Disposition: signal;handling=required',
      '7e Od 04 55 75 69 20 4d 61 6b 65 43 61 6c 6c',
    ]
