flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
      $x_hdr(From): sip:testuser1003@
  - return|ROUTE_NET_INFO:
      $avp(proto): ["tcp"]
  - start|ROUTE_REG_REQUEST:
  - start|ROUTE_REG_HANDLE:
  - start|ROUTE_AUTH:
  - start|ROUTE_AUTH_HELPER:
      $x_hdr(From): spce.test
      $var(realm_user): testuser1003
      $var(realm_domain): spce.test
  - return|ROUTE_AUTH_HELPER:
      $avp(orig_acc_caller_user): ['testuser1003']
      $avp(orig_acc_caller_domain): ['spce.test']
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_AUTH:
  - start|ROUTE_PREFERENCES:
  - start|ROUTE_CHECK_UA:
  - return|ROUTE_CHECK_UA:
  - return|ROUTE_PREFERENCES:
      $xavp(caller_dom_prefs[0]=>dummy[*]): ['caller']
      $xavp(caller_dom_prefs[0]=>ac[*]): None
      $xavp(caller_dom_prefs[0]=>cc[*]): None
      $xavp(caller_dom_prefs[0]=>cli[*]): None
      $xavp(caller_real_prefs[0]=>dummy[*]): ['caller']
      $xavp(caller_real_prefs[0]=>ac[*]): [1]
      $xavp(caller_real_prefs[0]=>cc[*]): [43]
      $xavp(caller_real_prefs[0]=>cli[*]): [4311003]
      $xavp(caller_usr_prefs[0]=>dummy[*]): ['caller']
      $xavp(caller_usr_prefs[0]=>ac[*]): [1]
      $xavp(caller_usr_prefs[0]=>cc[*]): [43]
      $xavp(caller_usr_prefs[0]=>cli[*]): [4311003]
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^REGISTER'
  - 'Contact: sip:testuser1003@'
  - 'Content-Length: 0'
  - 'Expires: 600'
  - 'Authorization: Digest username="testuser1003"'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'Content-Length: 0'
    ]
  - [
      '^SIP/2.0 200 OK',
      'Content-Length: 0',
      'P-NGCP-Authorization: testuser1003@',
      'P-NGCP-Authorized: 1'
    ]
