flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_REG_REQUEST:
  - start|ROUTE_REG_HANDLE:
  - start|ROUTE_AUTH:
  - start|ROUTE_AUTH_HELPER:
  - return|ROUTE_AUTH_HELPER:
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_AUTH:
  - start|ROUTE_PREFERENCES:
  - start|ROUTE_CHECK_UA:
  - return|ROUTE_CHECK_UA:
  - return|ROUTE_PREFERENCES:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'REGISTER sip:testuser1001@invite-locmap-forward.scenarios.test SIP/2.0'
  - 'From: <sip:testuser1001@invite-locmap-forward.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>'
  - 'CSeq: \d+ REGISTER'
  - 'Authorization: Digest username="testuser1001",realm="invite-locmap-forward.scenarios.test",uri="sip:[% server_ip %]:5060",nonce=".+",response=".+",algorithm=MD5'
  - 'Contact: sip:testuser1001@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP'
  - 'Content-Length: 0'
  - 'P-NGCP-Src-Ip: 10.20.29.2'
  - 'P-NGCP-Src-Port: \d+'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
  - 'P-Sock-Info: udp:[% server_ip %]:5060'
  - 'P-LB-Uptime: \d+'
  - 'P-NGCP-Src-Nat: 1'
  - 'Path: <sip:lb@127.0.0.1;lr;received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];socket=sip:[% server_ip %]:5060>'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:testuser1001@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>',
      'CSeq: \d+ REGISTER',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: 10.20.29.2',
      'P-NGCP-Auth-UA: <null>',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'SIP/2.0 200 OK',
      'From: <sip:testuser1001@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'CSeq: \d+ REGISTER',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: 10.20.29.2',
      'P-NGCP-Auth-UA: <null>',
      'P-NGCP-Authorization: testuser1001@invite-locmap-forward.scenarios.test',
      'P-NGCP-Authorized: 1',
      'P-Caller-UUID: [% invite_locmap_forward_scenarios_test.testuser1001.uuid %]',
      'Contact: <sip:testuser1001@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %]>;expires=\d+;received="sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %]"',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
