flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_INVITE:
  - start|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_FIND_CALLER:
  - start|ROUTE_AUTH:
  - start|ROUTE_AUTH_HELPER:
  - return|ROUTE_AUTH_HELPER:
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_AUTH:
  - return|ROUTE_FIND_CALLER:
  - start|ROUTE_LOAD_CALLER_PREF:
  - start|ROUTE_CLEAR_CALLER_PREF:
  - return|ROUTE_CLEAR_CALLER_PREF:
  - start|ROUTE_CHECK_UA:
  - return|ROUTE_CHECK_UA:
  - start|ROUTE_LOAD_CALLER_CONTRACT_PREF:
  - return|ROUTE_LOAD_CALLER_CONTRACT_PREF:
  - return|ROUTE_LOAD_CALLER_PREF:
  - start|ROUTE_DLG_MANAGE:
  - return|ROUTE_DLG_MANAGE:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_GET_CALLER_CLI:
  - return|ROUTE_GET_CALLER_CLI:
  - start|ROUTE_GET_FORWARDER_CLI:
  - return|ROUTE_GET_FORWARDER_CLI:
  - start|ROUTE_CLIR:
  - return|ROUTE_CLIR:
  - start|ROUTE_CALLER_BLOCK_CLI:
  - return|ROUTE_CALLER_BLOCK_CLI:
  - start|ROUTE_CHECK_USERPROV_CLI:
  - start|ROUTE_CHECK_CLI_ALLOWED:
  - return|ROUTE_CHECK_CLI_ALLOWED:
  - return|ROUTE_CHECK_USERPROV_CLI:
  - start|ROUTE_FIND_CALLEE:
  - start|ROUTE_CLEAR_CALLEE_PREF:
  - return|ROUTE_CLEAR_CALLEE_PREF:
  - start|ROUTE_LOAD_CALLEE_PREF:
  - start|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
  - return|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
  - start|ROUTE_SET_CALLEE_DIALOG:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_SET_CALLEE_DIALOG:
  - start|ROUTE_BLOCK_IN:
  - return|ROUTE_BLOCK_IN:
  - return|ROUTE_LOAD_CALLEE_PREF:
  - start|ROUTE_NCOS_CHECK:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - return|ROUTE_NCOS_CHECK:
  - start|ROUTE_BLOCK_OUT:
  - return|ROUTE_BLOCK_OUT:
  - start|ROUTE_CHECK_PBX:
  - return|ROUTE_CHECK_PBX:
  - start|ROUTE_CALLEE_DISPATCH:
  - start|ROUTE_INVITE_TO_INT:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_CF_CFU:
  - return|ROUTE_CF_CFU:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - start|ROUTE_CHECK_LOCATIONS:
  - start|ROUTE_LOOKUP_SUBSCRIBER_LOCATIONS:
  - return|ROUTE_LOOKUP_SUBSCRIBER_LOCATIONS:
  - start|ROUTE_OUTBOUND:
  - start|ROUTE_SET_CALLER_DIALOG:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_SET_CALLER_DIALOG:
  - start|ROUTE_ACC_CALLER:
  - start|ROUTE_SET_ACC_CALLER_CALL_COUNTERS:
  - return|ROUTE_SET_ACC_CALLER_CALL_COUNTERS:
  - return|ROUTE_ACC_CALLER:
  - start|ROUTE_ACC_CALLEE:
  - start|ROUTE_SET_ACC_CALLEE_CALL_COUNTERS:
  - return|ROUTE_SET_ACC_CALLEE_CALL_COUNTERS:
  - return|ROUTE_ACC_CALLEE:
  - start|ROUTE_ADD_AOC_HEADER:
  - return|ROUTE_ADD_AOC_HEADER:
  - start|BRANCH_ROUTE_SBC:
  - start|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
  - return|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
  - start|ROUTE_SET_CALLEE_DIALOG:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_SET_CALLEE_DIALOG:
  - start|ROUTE_SET_BRANCH_HDRS:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - return|ROUTE_SET_BRANCH_HDRS:
  - start|ROUTE_SET_RUSER:
  - return|ROUTE_SET_RUSER:
  - start|ROUTE_BRANCH_ACC_RTP:
  - return|ROUTE_BRANCH_ACC_RTP:
  - start|ROUTE_FILTER_PRACK:
  - return|ROUTE_FILTER_PRACK:
  - start|ROUTE_PREPARE_SST:
  - return|ROUTE_PREPARE_SST:
  - start|ROUTE_PREPARE_MOH:
  - return|ROUTE_PREPARE_MOH:
  - start|ROUTE_SET_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_SET_CALLER_CLI:
  - start|ROUTE_SET_CALLEE:
  - return|ROUTE_SET_CALLEE:
  - start|ROUTE_ADD_CALLINFO:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - return|BRANCH_ROUTE_SBC:
  - start|ROUTE_APPEND_CF_HDRS:
  - start|ROUTE_ADD_DEVALIAS_HEADERS:
  - return|ROUTE_ADD_DEVALIAS_HEADERS:
  - return|ROUTE_APPEND_CF_HDRS:
  - start|ROUTE_ADD_CALLINFO:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO:
  - return|BRANCH_ROUTE_SBC:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'INVITE sip:testuser1001@invite-locmap-forward.scenarios.test SIP/2.0'
  - 'From: <sip:testuser1000@invite-locmap-forward.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Contact: <sip:testuser1000@[% scenarios.0.ip %]:[% scenarios.0.port %];alias=[% scenarios.0.ip %]~[% scenarios.0.port %]~1>'
  - 'Proxy-Authorization: Digest username="testuser1000",realm="invite-locmap-forward.scenarios.test",uri="sip:[% server_ip %]:5060",nonce=".+",response=".+",algorithm=MD5'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'P-NGCP-Src-Ip: 10.20.29.2'
  - 'P-NGCP-Src-Port: \d+'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
  - 'P-Sock-Info: udp:[% server_ip %]:5060'
  - 'P-LB-Uptime: \d+'
  - 'P-NGCP-Src-Nat: 1'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:testuser1000@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>',
      'CSeq: \d+ INVITE',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: 10.20.29.2',
      'P-NGCP-Auth-UA: <null>',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'SIP/2.0 101 Connecting',
      'From: <sip:testuser1000@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>',
      'CSeq: \d+ INVITE',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: 10.20.29.2',
      'P-NGCP-Auth-UA: <null>',
      'P-NGCP-Authorization: testuser1000@invite-locmap-forward.scenarios.test',
      'P-NGCP-Authorized: 1',
      'P-NGCP-Caller-Info: <sip:testuser1000@invite-locmap-forward.scenarios.test>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %];primary=\d+',
      'P-Caller-UUID: [% invite_locmap_forward_scenarios_test.testuser1000.uuid %]',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'INVITE sip:testuser1001@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0',
      'From: <sip:\d+@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>',
      'CSeq: \d+ INVITE',
      'Contact: <sip:testuser1000@[% scenarios.0.ip %]:[% scenarios.0.port %];alias=[% scenarios.0.ip %]~[% scenarios.0.port %]~1>',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'P-LB-Uptime: \d+',
      'P-Asserted-Identity: <sip:\d+@invite-locmap-forward.scenarios.test>',
      'P-Caller-UUID: [% invite_locmap_forward_scenarios_test.testuser1000.uuid %]',
      'P-Callee-UUID: [% invite_locmap_forward_scenarios_test.testuser1001.uuid %]',
      'P-Called-Party-ID: <sip:testuser1001@invite-locmap-forward.scenarios.test>',
      'P-App-Param: ;calltimer=21600;aleg_sst_enable=no;sst_enable=no;hold_alter_b2b_bleg=no;hold_alter_b2b_aleg=no;',
      'P-App-Name: sbc',
      'P-NGCP-Caller-Info: <sip:testuser1000@invite-locmap-forward.scenarios.test>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %];primary=\d+',
      'P-NGCP-Callee-Info: <sip:testuser1001@invite-locmap-forward.scenarios.test>;ip=[% scenarios.0.responders.0.ip %];port=[% scenarios.0.responders.0.port %];primary=\d+',
      'P-D-Uri: sip:lb@127.0.0.1;lr;received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];socket=sip:[% server_ip %]:5060',
      'P-Proxy-Uri: sip:127.0.0.1:5062',
    ]
  - [
      'INVITE sip:testuser1002@invite-locmap-forward.scenarios.test SIP/2.0',
      'From: <sip:testuser1000@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>',
      'CSeq: \d+ INVITE',
      'Contact: <sip:testuser1000@[% scenarios.0.ip %]:[% scenarios.0.port %];alias=[% scenarios.0.ip %]~[% scenarios.0.port %]~1>',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'P-LB-Uptime: \d+',
      'P-App-Param: ;profile=ngcp_cf',
      'P-App-Name: sbc',
      'P-D-Uri: sip:127.0.0.1:5062',
      'P-NGCP-Sems-Instance: sbc',
      'P-Caller-UUID: [% invite_locmap_forward_scenarios_test.testuser1001.uuid %]',
      'P-First-Caller-UPN: \d+',
      'P-First-Caller-NPN: \d+',
      'P-First-Caller-UPD: invite-locmap-forward.scenarios.test',
      'P-First-Caller-NPD: invite-locmap-forward.scenarios.test',
      'P-Acc-Caller-User: testuser1001',
      'P-Acc-Caller-Domain: invite-locmap-forward.scenarios.test',
      'P-Acc-State: cfu',
      'P-From-Peer: 0',
      'P-First-V46-RTP: auto',
      'P-First-RTP: ice_strip_candidates',
      'P-First-RTP-Transport: RTP/AVP',
      'P-First-Caller-CLIR: 0',
      'P-First-Caller-UA-Mode: strip',
      'P-Callee-Ext-Subs-ID: ',
      'P-Callee-Ext-Contr-ID: ',
      'P-Callee-Account-ID: \d+',
      'P-Orig-Callee-Dialed: testuser1001',
      'P-Prev-Caller-UUID: [% invite_locmap_forward_scenarios_test.testuser1000.uuid %]',
      'P-First-Caller-RTP-Interface: ext',
      'P-First-Caller-RTP-Interface-Source: default',
      'P-NGCP-Alias-DevId: 0',
      'P-CF-LocMappingForward: [% invite_locmap_forward_scenarios_test.testuser1000.uuid %]',
      'P-NGCP-Caller-Info: <sip:testuser1000@invite-locmap-forward.scenarios.test>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %];primary=\d+',
      'P-NGCP-Callee-Info: <sip:testuser1001@invite-locmap-forward.scenarios.test>;ip=127.0.0.1;port=508[08];primary=\d+',
    ]
