flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_LEG_B:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'SIP/2.0 180 Ringing'
  - 'From: <sip:4311000@invite-locmap-forward.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Allow: INVITE, PRACK, ACK, BYE, CANCEL, OPTIONS, NOTIFY, REGISTER, SUBSCRIBE, PUBLISH, UPDATE, MESSAGE'
  - 'Call-Info: <sip:invite-locmap-forward.scenarios.test>;appearance-index=1'
  - 'Allow-Events: talk,hold,conference,refer,check-sync'
  - 'Contact: <sip:10.20.29.2:51603;transport=UDP>'
  - 'Content-Length: 0'
  - 'P-NGCP-Src-Ip: 10.20.29.2'
  - 'P-NGCP-Src-Port: \d+'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
sip_out:
  - [
      'SIP/2.0 180 Ringing',
      'From: <sip:4311000@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'Allow: INVITE, PRACK, ACK, BYE, CANCEL, OPTIONS, NOTIFY, REGISTER, SUBSCRIBE, PUBLISH, UPDATE, MESSAGE',
      'Call-Info: <sip:invite-locmap-forward.scenarios.test>;appearance-index=1',
      'Allow-Events: talk,hold,conference,refer,check-sync',
      'Contact: <sip:10.20.29.2:51603;transport=UDP>',
      'Content-Length: 0',
      'P-NGCP-Src-Ip: 10.20.29.2',
      'P-NGCP-Src-Port: \d+',
      'P-NGCP-Src-Proto: udp',
      'P-NGCP-Src-Af: 4',
    ]
