flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_INVITE:
  - start|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_FIND_CALLER:
  - start|ROUTE_CONSUME_CF_HDRS:
  - start|ROUTE_RESTORE_DEVALIAS_HEADERS:
  - return|ROUTE_RESTORE_DEVALIAS_HEADERS:
  - return|ROUTE_CONSUME_CF_HDRS:
  - return|ROUTE_FIND_CALLER:
  - start|ROUTE_LOAD_CALLER_PREF:
  - start|ROUTE_CLEAR_CALLER_PREF:
  - return|ROUTE_CLEAR_CALLER_PREF:
  - start|ROUTE_CHECK_UA:
  - return|ROUTE_CHECK_UA:
  - start|ROUTE_LOAD_CALLER_CONTRACT_PREF:
  - return|ROUTE_LOAD_CALLER_CONTRACT_PREF:
  - return|ROUTE_LOAD_CALLER_PREF:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_GET_FORWARDER_CLI:
  - return|ROUTE_GET_FORWARDER_CLI:
  - start|ROUTE_CLIR:
  - return|ROUTE_CLIR:
  - start|ROUTE_CALLER_BLOCK_CLI:
  - return|ROUTE_CALLER_BLOCK_CLI:
  - start|ROUTE_CHECK_USERPROV_CLI:
  - start|ROUTE_CHECK_CLI_ALLOWED:
  - return|ROUTE_CHECK_CLI_ALLOWED:
  - return|ROUTE_CHECK_USERPROV_CLI:
  - start|ROUTE_CHECK_USERPROV_CLI:
  - start|ROUTE_CHECK_CLI_ALLOWED:
  - return|ROUTE_CHECK_CLI_ALLOWED:
  - return|ROUTE_CHECK_USERPROV_CLI:
  - start|ROUTE_FIND_CALLEE:
  - start|ROUTE_INVITE_TO_EXT:
  - start|ROUTE_PSTN:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_CNT_DLG_CHECK:
  - start|ROUTE_DLG_MANAGE:
  - return|ROUTE_DLG_MANAGE:
  - return|ROUTE_CNT_DLG_CHECK:
  - start|ROUTE_PSTN_SELECT_PEER:
  - start|ROUTE_CHECK_PEER_PROBE:
  - return|ROUTE_CHECK_PEER_PROBE:
  - start|ROUTE_CLEAR_PEER_OUT_PREF:
  - return|ROUTE_CLEAR_PEER_OUT_PREF:
  - start|ROUTE_LOAD_PEER_OUT_PREF:
  - return|ROUTE_LOAD_PEER_OUT_PREF:
  - return|ROUTE_PSTN_SELECT_PEER:
  - start|ROUTE_OUTBOUND:
  - start|ROUTE_SET_CALLER_DIALOG:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_SET_CALLER_DIALOG:
  - start|ROUTE_ACC_CALLER:
  - start|ROUTE_SET_ACC_CALLER_CALL_COUNTERS:
  - return|ROUTE_SET_ACC_CALLER_CALL_COUNTERS:
  - return|ROUTE_ACC_CALLER:
  - start|ROUTE_ACC_CALLEE:
  - start|ROUTE_SET_ACC_CALLEE_CALL_COUNTERS:
  - return|ROUTE_SET_ACC_CALLEE_CALL_COUNTERS:
  - return|ROUTE_ACC_CALLEE:
  - start|BRANCH_ROUTE_SBC:
  - start|ROUTE_SET_BRANCH_HDRS:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - return|ROUTE_SET_BRANCH_HDRS:
  - start|ROUTE_SET_RUSER:
  - return|ROUTE_SET_RUSER:
  - start|ROUTE_BRANCH_ACC_RTP:
  - return|ROUTE_BRANCH_ACC_RTP:
  - start|ROUTE_FILTER_PRACK:
  - return|ROUTE_FILTER_PRACK:
  - start|ROUTE_PREPARE_SST:
  - start|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - return|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - return|ROUTE_PREPARE_SST:
  - start|ROUTE_PREPARE_MOH:
  - return|ROUTE_PREPARE_MOH:
  - start|ROUTE_SET_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_SET_CALLER_CLI:
  - start|ROUTE_SET_CALLEE:
  - return|ROUTE_SET_CALLEE:
  - start|ROUTE_ADD_CALLINFO:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - return|BRANCH_ROUTE_SBC:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'INVITE sip:testuser1002@invite-locmap-forward.scenarios.test SIP/2.0'
  - 'From: <sip:testuser1000@invite-locmap-forward.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'P-NGCP-Sems-Instance: sbc'
  - 'P-Caller-UUID: [% invite_locmap_forward_scenarios_test.testuser1001.uuid %]'
  - 'P-First-Caller-UPN: 4311000'
  - 'P-First-Caller-NPN: 4311000'
  - 'P-First-Caller-UPD: invite-locmap-forward.scenarios.test'
  - 'P-First-Caller-NPD: invite-locmap-forward.scenarios.test'
  - 'P-Acc-Caller-User: testuser1001'
  - 'P-Acc-Caller-Domain: invite-locmap-forward.scenarios.test'
  - 'P-Acc-State: cfu'
  - 'P-From-Peer: 0'
  - 'P-First-V46-RTP: auto'
  - 'P-First-RTP: ice_strip_candidates'
  - 'P-First-RTP-Transport: RTP/AVP'
  - 'P-First-Caller-CLIR: 0'
  - 'P-First-Caller-UA-Mode: strip'
  - 'P-Callee-Account-ID: \d+'
  - 'P-Orig-Callee-Dialed: testuser1001'
  - 'P-Prev-Caller-UUID: [% invite_locmap_forward_scenarios_test.testuser1000.uuid %]'
  - 'P-First-Caller-RTP-Interface: ext'
  - 'P-First-Caller-RTP-Interface-Source: default'
  - 'P-CF-LocMappingForward: [% invite_locmap_forward_scenarios_test.testuser1000.uuid %]'
  - 'P-NGCP-Caller-Info: <sip:testuser1000@invite-locmap-forward.scenarios.test>;ip=10.20.29.2;port=51602;primary=4311000'
  - 'P-NGCP-Callee-Info: <sip:testuser1001@invite-locmap-forward.scenarios.test>;ip=127.0.0.1;port=508[08];primary=4311001'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:testuser1000@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>',
      'CSeq: \d+ INVITE',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'INVITE sip:testuser1002@172.30.1.2:52602;transport=udp SIP/2.0',
      'From: <sip:4311000@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>',
      'CSeq: \d+ INVITE',
      'P-Caller-UUID: [% invite_locmap_forward_scenarios_test.testuser1001.uuid %]',
      'P-NGCP-Caller-Info: <sip:testuser1001@invite-locmap-forward.scenarios.test>;ip=127.0.0.1;port=508[08];primary=4311001',
      'P-NGCP-Callee-Info: <sip:<null>@<null>>;ip=172.30.1.2;port=52602',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'P-Asserted-Identity: <sip:4311000@invite-locmap-forward.scenarios.test>',
      'P-Callee-UUID: 0',
      'P-Called-Party-ID: <sip:testuser1002@172.30.1.2>',
      'P-App-Param: ;calltimer=21600;aleg_sst_enable=no;sst_enable=no;hold_alter_b2b_bleg=no;hold_alter_b2b_aleg=no;fast_ack=no;a_park_domain=\d+',
      'P-App-Name: sbc',
      'P-D-Uri: sip:127.0.0.1:5060;received=sip:172.30.1.2:52602%3blr%3btransport%3dudp',
      'P-Proxy-Uri: sip:127.0.0.1:5062',
    ]
