flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_LEG_B:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'INVITE sip:testuser1002@172.30.1.2:52602;transport=udp SIP/2.0'
  - 'From: <sip:4311000@invite-locmap-forward.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:testuser1002@172.30.1.2>'
  - 'CSeq: \d+ INVITE'
  - 'P-Caller-UUID: [% invite_locmap_forward_scenarios_test.testuser1001.uuid %]'
  - 'P-NGCP-Caller-Info: <sip:testuser1001@invite-locmap-forward.scenarios.test>;ip=127.0.0.1;port=508[08];primary=4311001'
  - 'P-NGCP-Callee-Info: <sip:<null>@<null>>;ip=172.30.1.2;port=52602'
  - 'P-Asserted-Identity: <sip:4311000@invite-locmap-forward.scenarios.test>'
  - 'P-Callee-UUID: 0'
  - 'P-D-Uri: sip:127.0.0.1:5060;received=sip:172.30.1.2:52602%3blr%3btransport%3dudp'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:4311000@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1002@172.30.1.2>',
      'CSeq: \d+ INVITE',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'INVITE sip:testuser1002@172.30.1.2:52602;transport=udp SIP/2.0',
      'From: <sip:4311000@invite-locmap-forward.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1002@172.30.1.2>',
      'CSeq: \d+ INVITE',
      'P-Caller-UUID: [% invite_locmap_forward_scenarios_test.testuser1001.uuid %]',
      'P-NGCP-Caller-Info: <sip:testuser1001@invite-locmap-forward.scenarios.test>;ip=127.0.0.1;port=508[08];primary=4311001',
      'P-NGCP-Callee-Info: <sip:<null>@<null>>;ip=172.30.1.2;port=52602',
      'P-Asserted-Identity: <sip:4311000@invite-locmap-forward.scenarios.test>',
      'P-Callee-UUID: 0',
      'P-D-Uri: sip:127.0.0.1:5060;received=sip:172.30.1.2:52602%3blr%3btransport%3dudp',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
    ]
