flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_LOCAL:
  - return|ROUTE_LOCAL:
sip_in:
  - 'ACK sip:testuser1001@10.20.29.2:51603 SIP/2.0'
  - 'From: <sip:4311000@invite-locmap-forward.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:testuser1001@invite-locmap-forward.scenarios.test>'
  - 'CSeq: \d+ ACK'
  - 'Content-Length: 0'
sip_out: []
