flow:
  - start|REPLY_ROUTE_NAT:
  - exit|REPLY_ROUTE_NAT:
sip_in:
  - '^SIP/2.0 200 OK'
  - 'CSeq: 3 BYE'
  - 'Content-Length: 0'
  - 'From: "Anonymous" <sip:anonymous@anonymous.invalid>'
  - 'To: <sip:testuser1003@'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'CSeq: 3 BYE',
      'Content-Length: 0',
      '_:NOT:_P-Asserted-Identity: \w+',
      'From: "Anonymous" <sip:anonymous@anonymous.invalid>',
      'To: <sip:testuser1003@'
    ]
