cdr:
  - source_user: 'anonymous'
    source_domain: 'dom.invite_anonymous.test'
    source_cli: '4311002'
    source_clir: '1'
    source_ip: '127.12.126.1'
    destination_user: 'L_testuser1003'
    destination_domain: 'dom.invite_anonymous.test'
    destination_user_dialed: 'L_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'