flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|REPLY_SCA_UPDATE:
  - return|REPLY_SCA_UPDATE:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'SIP/2.0 180 Ringing'
  - 'From: <sip:[% invite_username_devid_scenarios_pbx_test.testuser1002.phone_number %]@invite-username-devid.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_username_devid_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-username-devid.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
  - 'Content-Length: 0'
sip_out:
  - [
      'PUBLISH sip:testuser1002@invite-username-devid.scenarios-pbx.test SIP/2.0',
      'To: <sip:testuser1002@invite-username-devid.scenarios-pbx.test>',
      'From: <sip:testuser1002@invite-username-devid.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ PUBLISH',
      'Content-Length:\s+\d+',
      'User-Agent: Sipwise NGCP Proxy',
      'Event: dialog',
      'SIP-If-Match: .+',
      'Content-Type: application/dialog\-info\+xml',
    ]
  - [
      'SIP/2.0 180 Ringing',
      'From: <sip:testuser1002@invite-username-devid.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:1003@invite-username-devid.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'Content-Length: 0',
      'P-COLP-Identity: "[% invite_username_devid_scenarios_pbx_test.testuser1003.pbx_extension %]" <sip:[% invite_username_devid_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-username-devid.scenarios-pbx.test>',
      'P-Out-Socket: udp:[% server_ip %]:5060',
    ]
