flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_LEG_B:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
  - return|dialog:start:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:4311002@spce.test>;tag=[\w-]+'
  - 'To: <sip:testuser1003@spce.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Contact: <sip:127.2.0.3:\d+;transport=UDP>'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'P-NGCP-Src-Ip: 127.2.0.3'
  - 'P-NGCP-Src-Port: \d+'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:4311002@spce.test>;tag=[\w-]+',
      'To: <sip:testuser1003@spce.test>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'Contact: <sip:127.2.0.3:\d+;transport=UDP>',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'P-NGCP-Src-Ip: 127.2.0.3',
      'P-NGCP-Src-Port: \d+',
      'P-NGCP-Src-Proto: udp',
      'P-NGCP-Src-Af: 4',
    ]
