messages:
- - 'SIP/2.0 401 Unauthorized'
  - 'From: <sip:[% scenarios.1.devid %]@invite-username-devid.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: "TestBria" <sip:[% scenarios.1.devid %]@invite-username-devid.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'WWW-Authenticate: Digest realm="invite-username-devid.scenarios-pbx.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.1.devid %]@invite-username-devid.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: "TestBria" <sip:[% scenarios.1.devid %]@invite-username-devid.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'Contact: <sip:[% scenarios.1.devid %]@10.20.29.2:6666;ob>;expires=\d+;received="sip:[% scenarios.1.ip %]:[% scenarios.1.port %]";\+sip.instance="<urn:uuid:C3DD6013-20E8-40E3-8EA2-5849B02ED0C4>";reg-id=1'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
