flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_COLLECT_HDR:
  - return|ROUTE_COLLECT_HDR:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|REPLY_SCA_UPDATE:
  - return|REPLY_SCA_UPDATE:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'From: <sip:testuser1002@spce.test>;tag='
  - 'To: <sip:1003@spce.test>;tag='
  - 'CSeq: 2 INVITE'
  - 'Contact: <sip:127.0.0.1:5085;transport=udp>'
sip_out:
  - [
      '^NOTIFY sip:testuser1002@127.1.0.2:\d+ SIP/2.0',
      'To: <sip:testuser1002@spce.test>;tag=',
      'From: <sip:testuser1002@spce.test>;tag=',
      'CSeq: 2 NOTIFY',
      'Contact: sip:127.0.0.1:5062',
      'Call-Info: <sip:spce.test>;appearance-index=1',
      'Event: line-seize',
      'Subscription-State: terminated;reason=noresource'
    ]
  - [
      '^NOTIFY sip:testuser1002@127.1.0.1:\d+ SIP/2.0',
      'To: <sip:testuser1002@spce.test>;tag=',
      'From: <sip:testuser1002@spce.test>;tag=',
      'CSeq: 4 NOTIFY',
      'Contact: sip:127.0.0.1:5062',
      'Call-Info: <sip:spce.test>;appearance-index=1;appearance-state=progressing,<sip:spce.test>;appearance-index=\*;appearance-state=idle',
      'Event: call-info',
      'Subscription-State: active;expires=\d+'
    ]
  - [
      '^SIP/2.0 180 Ringing',
      'From: <sip:testuser1002@spce.test>;tag=',
      'To: <sip:1003@spce.test>;tag=',
      'CSeq: 2 INVITE',
      'Contact: <sip:127.0.0.1:5085;transport=udp>',
      'Content-Length:\s+0',
      'P-COLP-Identity: \"1003\" <sip:1003@spce.test>',
      'P-Out-Socket: udp:127.0.0.1:5060'
    ]
