flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'Contact: <sip:127.0.0.1:5080;transport=udp>'
  - 'Content-Length:\s+0'
sip_out:
  - [
      '^PUBLISH sip:testuser1003@invite-shared-line.scenarios-pbx.test SIP/2.0',
      'From: <sip:testuser1003@invite-shared-line.scenarios-pbx.test>',
      'To: <sip:testuser1003@invite-shared-line.scenarios-pbx.test>',
      'Event: dialog',
      'Content-Type: application/dialog-info\+xml',
    ]
  - [
      '^SIP/2.0 180 Ringing',
      'From: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>;tag=',
      'To: <sip:1003@invite-shared-line.scenarios-pbx.test>;tag=',
      'CSeq: \d+ INVITE',
      'Contact: <sip:127.0.0.1:5080;transport=udp>',
      'Content-Length:\s+0'
    ]
