flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|REPLY_SCA_UPDATE:
  - return|REPLY_SCA_UPDATE:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'From: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>;tag='
  - 'To: <sip:1003@invite-shared-line.scenarios-pbx.test>;tag='
  - 'CSeq: 2 INVITE'
  - 'Contact: <sip:127.0.0.1:5080;transport=udp>'
sip_out:
  - [
      '^NOTIFY sip:testuser1002@[% scenarios.1.responders.0.ip %]:[% scenarios.1.responders.0.port %] SIP/2.0',
      'To: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>;tag=',
      'From: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>;tag=',
      'CSeq: 2 NOTIFY',
      'Contact: sip:127.0.0.1:5062',
      'Call-Info: <sip:invite-shared-line.scenarios-pbx.test>;appearance-index=1',
      'Event: line-seize',
      'Subscription-State: terminated;reason=noresource'
    ]
  - [
      '^NOTIFY sip:testuser1002@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0',
      'To: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>;tag=',
      'From: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>;tag=',
      'CSeq: 4 NOTIFY',
      'Contact: sip:127.0.0.1:5062',
      'Call-Info: <sip:invite-shared-line.scenarios-pbx.test>;appearance-index=1;appearance-state=progressing,<sip:invite-shared-line.scenarios-pbx.test>;appearance-index=\*;appearance-state=idle',
      'Event: call-info',
      'Subscription-State: active;expires=\d+'
    ]
  - [
      '^PUBLISH sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test SIP/2.0',
      'From: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>',
      'To: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>',
      'Event: dialog',
      'Content-Type: application/dialog-info\+xml',
    ]
  - [
      '^SIP/2.0 180 Ringing',
      'From: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>;tag=',
      'To: <sip:1003@invite-shared-line.scenarios-pbx.test>;tag=',
      'CSeq: 2 INVITE',
      'Contact: <sip:127.0.0.1:5080;transport=udp>',
      'Content-Length:\s+0',
      'P-COLP-Identity: \"1003\" <sip:1003@invite-shared-line.scenarios-pbx.test>',
      'P-Out-Socket: udp:127.0.0.1:5060'
    ]