flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_OUTBOUND:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^ACK sip:127.0.0.1:5080;transport=udp SIP/2.0'
  - 'From: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>;tag='
  - 'To: <sip:1003@invite-shared-line.scenarios-pbx.test>;tag='
  - 'CSeq: \d+ ACK'
  - 'Max-Forwards: 70'
  - 'Content-Length:\s+0'
  - 'Contact: <sip:127.0.0.1:5080;transport=udp>'
sip_out:
  - [
      '^ACK sip:127.0.0.1:5080;transport=udp SIP/2.0',
      'From: <sip:[% invite_shared_line_scenarios_pbx_test.testuser1002.phone_number %]@invite-shared-line.scenarios-pbx.test>;tag=',
      'To: <sip:1003@invite-shared-line.scenarios-pbx.test>;tag=',
      'CSeq: \d+ ACK',
      'Content-Length:\s+0',
      'Contact: <sip:127.0.0.1:5080;transport=udp>'
    ]
