flow:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_COLLECT_HDR:
  - return|ROUTE_COLLECT_HDR:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|REPLY_SCA_UPDATE:
  - return|REPLY_SCA_UPDATE:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|ROUTE_APPLY_HDR:
  - return|ROUTE_APPLY_HDR:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
      $avp(lua_dlg_profile): [
        "totalaccountout:[% customerpbx_test.id %]",
        "totaluserout:[% spce_test.testuser1002.uuid %]",
        "totalaccount:[% customerpbx_test.id %]",
        "totaluser:[% spce_test.testuser1002.uuid %]",
        "totalaccount:[% customerpbx_test.id %]",
        "totaluser:[% spce_test.testuser1003.uuid %]",
        "total"
      ]
  - return|dialog:start:
sip_in:
  - '^SIP/2.0 200 OK'
  - 'From: <sip:testuser1002@spce.test>;tag='
  - 'To: <sip:1003@spce.test>;tag='
  - 'CSeq: 2 INVITE'
  - 'Contact: <sip:127.0.0.1:5085;transport=udp>'
  - 'Content-Type: application/sdp'
sip_out:
  - [
      '^NOTIFY sip:testuser1002@127.1.0.1:\d+ SIP/2.0',
      'To: <sip:testuser1002@spce.test>;tag=',
      'From: <sip:testuser1002@spce.test>;tag=',
      'CSeq: 5 NOTIFY',
      'Contact: sip:127.0.0.1:5062',
      'Call-Info: <sip:spce.test>;appearance-index=1;appearance-state=active;appearance-uri=\"<sip:testuser1003@spce.test>\",<sip:spce.test>;appearance-index=\*;appearance-state=idle',
      'Event: call-info',
      'Subscription-State: active;expires=\d+'
    ]
  - [
      '^SIP/2.0 200 OK',
      'From: <sip:testuser1002@spce.test>;tag=',
      'To: <sip:1003@spce.test>;tag=',
      'CSeq: 2 INVITE',
      'Contact: <sip:127.0.0.1:5085;transport=udp>',
      'Content-Type: application/sdp',
      'P-COLP-Identity: \"1003\" <sip:1003@spce.test>',
      'P-Asserted-Identity:  <sip:testuser1003@spce.test>',
      'P-Out-Socket: udp:127.0.0.1:5060'
    ]
