cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: 'invite-shared-line.scenarios-pbx.test'
    source_cli: '[% invite_shared_line_scenarios_pbx_test.testuser1002.phone_number %]'
    destination_user: 'testuser1003'
    destination_domain: 'invite-shared-line.scenarios-pbx.test'
    destination_user_dialed: '1003'
    destination_user_in: '[% invite_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'