messages:
- - 'SIP/2.0 200 Alive'
  - 'From: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@invite-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ OPTIONS'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length: 0'
