flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
 - 'SIP/2.0 200 OK'
 - 'From: <sip:[% invite_callforward_cfna_scenarios_test.testuser1001.phone_number %]@'
 - 'To: <sip:[% scenarios.0.responders.1.username %]@'
 - 'CSeq: \d+ BYE'
 - 'Content-Length:\s+0'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:[% invite_callforward_cfna_scenarios_test.testuser1001.phone_number %]@',
      'To: <sip:[% scenarios.0.responders.1.username %]@',
      'CSeq: \d+ BYE',
      'Content-Length:\s+0',
    ]
