flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_INVITE:
  - start|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_FIND_CALLER:
  - start|ROUTE_AUTH:
  - start|ROUTE_AUTH_HELPER:
  - return|ROUTE_AUTH_HELPER:
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_AUTH:
  - return|ROUTE_FIND_CALLER:
  - start|ROUTE_LOAD_CALLER_PREF:
  - start|ROUTE_CLEAR_CALLER_PREF:
  - return|ROUTE_CLEAR_CALLER_PREF:
  - start|ROUTE_CHECK_UA:
  - return|ROUTE_CHECK_UA:
  - start|ROUTE_LOAD_CALLER_CONTRACT_PREF:
  - return|ROUTE_LOAD_CALLER_CONTRACT_PREF:
  - return|ROUTE_LOAD_CALLER_PREF:
  - start|ROUTE_DLG_MANAGE:
  - return|ROUTE_DLG_MANAGE:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_GET_CALLER_CLI:
  - return|ROUTE_GET_CALLER_CLI:
  - start|ROUTE_GET_FORWARDER_CLI:
  - return|ROUTE_GET_FORWARDER_CLI:
  - start|ROUTE_APPLY_CALLER_RWR:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
      $var(dp_user): 0
  - return|ROUTE_APPLY_CALLER_RWR:
  - start|ROUTE_CLIR:
  - return|ROUTE_CLIR:
  - start|ROUTE_CALLER_BLOCK_CLI:
  - return|ROUTE_CALLER_BLOCK_CLI:
  - start|ROUTE_CHECK_USERPROV_CLI:
  - start|ROUTE_CHECK_CLI_ALLOWED:
  - return|ROUTE_CHECK_CLI_ALLOWED:
  - return|ROUTE_CHECK_USERPROV_CLI:
  - start|ROUTE_FIND_CALLEE:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
      $var(dp_user): 4321001
  - start|ROUTE_CLEAR_CALLEE_PREF:
  - return|ROUTE_CLEAR_CALLEE_PREF:
  - start|ROUTE_NCOS_CHECK:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - return|ROUTE_NCOS_CHECK:
  - start|ROUTE_BLOCK_OUT:
  - return|ROUTE_BLOCK_OUT:
  - start|ROUTE_CHECK_PBX:
  - return|ROUTE_CHECK_PBX:
  - start|ROUTE_INVITE_TO_EXT:
  - start|ROUTE_PSTN:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - start|ROUTE_PSTN_SELECT_PEER:
      $avp(lua_dlg_profile): ["outgoing"]
  - start|ROUTE_CLEAR_PEER_OUT_PREF:
  - return|ROUTE_CLEAR_PEER_OUT_PREF:
  - start|ROUTE_LOAD_PEER_OUT_PREF:
  - return|ROUTE_LOAD_PEER_OUT_PREF:
  - return|ROUTE_PSTN_SELECT_PEER:
  - start|ROUTE_OUTBOUND:
      $avp(lua_dlg_profile): [
        "relay",
        "peerout:[% peer_00_host0.id %]",
        "peer:[% peer_00_host0.id %]",
        "outgoing"
      ]
  - start|ROUTE_SET_CALLER_DIALOG:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_SET_CALLER_DIALOG:
      $avp(lua_dlg_profile): [
        "accountout:[% customer_test.id %]",
        "userout:[% spce_test.testuser1002.uuid %]",
        "account:[% customer_test.id %]",
        "user:[% spce_test.testuser1002.uuid %]",
        "totalaccountout:[% customer_test.id %]",
        "totaluserout:[% spce_test.testuser1002.uuid %]",
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% spce_test.testuser1002.uuid %]",
        "total",
        "relay",
        "peerout:[% peer_00_host0.id %]",
        "peer:[% peer_00_host0.id %]",
        "outgoing"
      ]
  - start|ROUTE_ACC_CALLER:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_ACC_CALLER:
  - start|ROUTE_ACC_CALLEE:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_ACC_CALLEE:
  - start|ROUTE_ADD_AOC_HEADER:
  - return|ROUTE_ADD_AOC_HEADER:
  - start|BRANCH_ROUTE_SBC:
  - start|ROUTE_SET_BRANCH_HDRS:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - return|ROUTE_SET_BRANCH_HDRS:
  - start|ROUTE_SET_RUSER:
  - return|ROUTE_SET_RUSER:
  - start|ROUTE_BRANCH_ACC_RTP:
  - return|ROUTE_BRANCH_ACC_RTP:
  - start|ROUTE_FILTER_PRACK:
  - return|ROUTE_FILTER_PRACK:
  - start|ROUTE_PREPARE_SST:
  - return|ROUTE_PREPARE_SST:
  - start|ROUTE_PREPARE_MOH:
  - return|ROUTE_PREPARE_MOH:
  - start|ROUTE_SET_CALLER_CLI:
  - start|ROUTE_APPLY_CALLER_RWR_FIRST:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
      $var(dp_user): 1002
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
      $var(dp_user): 1002
  - return|ROUTE_APPLY_CALLER_RWR_FIRST:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_SET_CALLER_CLI:
  - start|ROUTE_SET_CALLEE:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
      $var(dp_user): 0
  - return|ROUTE_SET_CALLEE:
  - start|ROUTE_ADD_CALLINFO:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - return|BRANCH_ROUTE_SBC:
  # branch ??
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
      $avp(lua_dlg_profile): [
        "accountout:[% customer_test.id %]",
        "userout:[% spce_test.testuser1002.uuid %]",
        "account:[% customer_test.id %]",
        "user:[% spce_test.testuser1002.uuid %]",
        "totalaccountout:[% customer_test.id %]",
        "totaluserout:[% spce_test.testuser1002.uuid %]",
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% spce_test.testuser1002.uuid %]",
        "total",
        "relay",
        "peerout:[% peer_00_host0.id %]",
        "peer:[% peer_00_host0.id %]",
        "outgoing"
      ]
sip_in:
  - '^INVITE sip:004321001@'
  - 'Contact: sip:testuser1002@'
  - 'CSeq: 2 INVITE'
  - 'Max-Forwards: 69'
  - 'Content-Type: application/sdp'
  - 'Proxy-Authorization: Digest username="testuser1002"'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
      'To: <sip:004321001@'
    ]
  - [
      '^SIP/2.0 101 Connecting',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
      'To: <sip:004321001@'
    ]
  - [
      '^INVITE sip:4321001@',
      'CSeq: 2 INVITE',
      'From: <sip:1002@',
      'To: <sip:004321001@',
      'Content-Type: application/sdp',
      'P-Caller-UUID: [% spce_test.testuser1002.uuid %]',
      'P-Callee-UUID: 0',
      'P-Asserted-Identity: <sip:1002@',
      'P-Called-Party-ID: <sip:4321001@',
      'P-App-Param: ;calltimer=21600;aleg_sst_enable=no;sst_enable=no',
      'P-App-Name: sbc'
    ]
