cdr:
  - source_user: ''
    source_domain: 'invite-peerout-rewrite-pv-regex.scenarios.test'
    source_cli: ''
    source_user_out: ''
    destination_user: '[% extra_info.phone_numbers.0 %]'
    destination_domain: '[% scenarios.0.responders.0.ip %]'
    destination_user_dialed: '[% extra_info.phone_numbers.0 %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'