cdr:
  - source_user: 'AI_testuser1002'
    source_domain: 'dom.invite_peerout_rewrite_pv_regex.test'
    source_cli: '43351002'
    source_user_out: '1002'
    destination_user: '4321001'
    destination_domain: '127.35.2.1'
    destination_user_dialed: '4321001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'