cdr:
  - source_user: '[% invite_xfer_blind_callee_immediat_rel_scenarios_pbx_test.testuser1002.phone_number %]'
    source_domain: 'invite-xfer-blind-callee-immediat-rel.scenarios-pbx.test'
    source_cli: '[% invite_xfer_blind_callee_immediat_rel_scenarios_pbx_test.testuser1002.phone_number %]'
    destination_user: 'testuser1003'
    destination_domain: 'invite-xfer-blind-callee-immediat-rel.scenarios-pbx.test'
    destination_user_dialed: '[% invite_xfer_blind_callee_immediat_rel_scenarios_pbx_test.testuser1003.phone_number %]'
    destination_user_in: '[% invite_xfer_blind_callee_immediat_rel_scenarios_pbx_test.testuser1003.phone_number %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
