flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - exit|REPLY_ROUTE_NAT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'CSeq: 2 INVITE'
  - 'Contact: <sip:(testuser1001@)?127.0.0.1:5080(;transport=udp)?>'
  - 'From: <sip:4311002@'
  - 'To: <sip:\*1@'
sip_out:
  - [
      '^SIP/2.0 180 Ringing',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
  	  'To: <sip:\*1@',
    ]
