flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - exit|REPLY_ROUTE_NAT:
sip_in:
  - '^SIP/2.0 200 OK'
  - 'CSeq: 3 BYE'
  - 'From: <sip:4311002@'
  - 'To: <sip:\*1@'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'CSeq: 3 BYE',
      'From: <sip:testuser1002@',
      'To: <sip:\*1@',
    ]
