*~
.swp
log
result
mem
*.pyc
scenario_ids.yml
sipp_scenario_responder*_reg.xml
*errors.log
*.msg
*.csv
presence_*xml
presence.sh
apicert.pem
.ngcpcfg_perms
# templates
*_test.yml
prefs.json
callforward.yml
trusted.yml
lnp.yml
