cdr:
  - source_user: 'testuser1002'
    source_domain: 'invite-callforward.scenarios.test'
    source_cli: '[% invite_callforward_scenarios_test.testuser1002.phone_number %]'
    destination_user: 'testuser1004'
    destination_domain: 'invite-callforward.scenarios.test'
    destination_user_dialed: 'testuser1004'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'testuser1004'
    source_domain: 'invite-callforward.scenarios.test'
    source_cli: '[% invite_callforward_scenarios_test.testuser1004.phone_number %]'
    destination_user: 'testuser1005'
    destination_domain: 'invite-callforward.scenarios.test'
    destination_user_dialed: '[% invite_callforward_scenarios_test.testuser1005.phone_number %]'
    call_type: 'cfb'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'testuser1002'
    source_domain: 'invite-callforward.scenarios.test'
    source_cli: '[% invite_callforward_scenarios_test.testuser1002.phone_number %]'
    destination_user: 'testuser1001'
    destination_domain: 'invite-callforward.scenarios.test'
    destination_user_dialed: 'testuser1001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'testuser1001'
    source_domain: 'invite-callforward.scenarios.test'
    source_cli: '[% invite_callforward_scenarios_test.testuser1001.phone_number %]'
    destination_user: 'testuser1003'
    destination_domain: 'invite-callforward.scenarios.test'
    destination_user_dialed: '[% invite_callforward_scenarios_test.testuser1003.phone_number %]'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'