cdr:
  - source_user: 'T_testuser1002'
    source_domain: 'dom.invite_callforward.test'
    source_cli: '4311002'
    destination_user: 'T_testuser1004'
    destination_domain: 'dom.invite_callforward.test'
    destination_user_dialed: 'T_testuser1004'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'T_testuser1004'
    source_domain: 'dom.invite_callforward.test'
    source_cli: '4311004'
    destination_user: 'T_testuser1005'
    destination_domain: 'dom.invite_callforward.test'
    destination_user_dialed: '4311005'
    call_type: 'cfb'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'T_testuser1002'
    source_domain: 'dom.invite_callforward.test'
    source_cli: '4311002'
    destination_user: 'T_testuser1001'
    destination_domain: 'dom.invite_callforward.test'
    destination_user_dialed: 'T_testuser1001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'T_testuser1001'
    source_domain: 'dom.invite_callforward.test'
    source_cli: '4311001'
    destination_user: 'T_testuser1003'
    destination_domain: 'dom.invite_callforward.test'
    destination_user_dialed: '4311003'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'