messages:
- - 'INVITE sip:[% scenarios.1.responders.0.username %]@[% scenarios.1.responders.0.ip %]:[% scenarios.1.responders.0.port %] SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+;leg_b=1;did=[^;]+>'
  - 'From: <sip:[% invite_callforward_scenarios_test.testuser1002.phone_number %]@invite-callforward.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.1.responders.0.username %]@invite-callforward.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'P-Asserted-Identity: <sip:[% invite_callforward_scenarios_test.testuser1002.phone_number %]@invite-callforward.scenarios.test>'
  - 'Content-Type: application/sdp'
  - 'Content-Length: \d+'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'ACK sip:[% scenarios.1.responders.0.username %]@[% scenarios.1.responders.0.ip %]:[% scenarios.1.responders.0.port %] SIP/2.0'
  - 'From: <sip:[% invite_callforward_scenarios_test.testuser1002.phone_number %]@invite-callforward.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.1.responders.0.username %]@invite-callforward.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ ACK'
  - 'Content-Length: 0'
