cdr:
  - source_user: '004321001'
    source_domain: '[% scenarios.0.ip %]'
    source_cli: '[% scenarios.0.username %]'
    destination_user: '[% invite_callforward_use_redirection_scenarios_test.testuser1003.phone_number %]'
    destination_domain: 'callerpeerdomainexample'
    destination_user_dialed: '[% invite_callforward_use_redirection_scenarios_test.responders.0.username %]'
    call_type: 'cfu'
    call_status: 'other'
    call_code: '302'
  - source_user: '004321001'
    source_domain: [% scenarios.0.ip %]
    source_cli: '[% scenarios.0.username %]'
    destination_user: '[% invite_callforward_use_redirection_scenarios_test.responders.0.username %]'
    destination_domain: 'callerpeerdomainexample'
    destination_user_dialed: '[% invite_callforward_use_redirection_scenarios_test.responders.1.username %]'
    call_type: 'cfb'
    call_status: 'other'
    call_code: '302'
  - source_user: '004321001'
    source_domain: [% scenarios.0.ip %]
    source_cli: '[% scenarios.0.username %]'
    destination_user: '[% invite_callforward_use_redirection_scenarios_test.responders.1.username %]'
    destination_domain: 'invite-callforward-use-redirection.scenarios.test'
    destination_user_dialed: '[% invite_callforward_use_redirection_scenarios_test.responders.1.username %]'
    call_type: 'call'
    call_status: 'other'
    call_code: '302'
  - source_user: '004321001'
    source_domain: [% scenarios.0.ip %]
    source_cli: '[% scenarios.0.username %]'
    destination_user: '[% invite_callforward_use_redirection_scenarios_test.responders.3.username %]'
    destination_domain: 'callerpeerdomainexample'
    destination_user_dialed: '[% invite_callforward_use_redirection_scenarios_test.responders.2.username %]'
    call_type: 'cfna'
    call_status: 'other'
    call_code: '302'
