messages:
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-callforward-use-redirection.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-use-redirection.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 302 Moved Temporarily'
  - 'From: <sip:[% scenarios.0.username %]@invite-callforward-use-redirection.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-use-redirection.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Contact: <sip:[% invite_callforward_use_redirection_scenarios_test.testuser1003.phone_number %]@callerpeerdomainexample>'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length:\s+0'
