cdr:
  - source_user: 'AR_testuser1001'
    source_domain: 'dom.lock_ported.test'
    source_cli: '4311001'
    destination_user: 'AR_testuser1004'
    destination_domain: 'dom.lock_ported.test'
    destination_user_dialed: 'AR_testuser1004'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'
    duration: '0'
  - source_user: 'AR_testuser1002'
    source_domain: 'dom.lock_ported.test'
    source_cli: '4311002'
    destination_user: 'AR_testuser1001'
    destination_domain: 'dom.lock_ported.test'
    destination_user_dialed: 'AR_testuser1001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'AR_testuser1001'
    source_domain: 'dom.lock_ported.test'
    source_cli: '4311001'
    destination_user: 'AR_testuser1003'
    destination_domain: 'dom.lock_ported.test'
    destination_user_dialed: '4311003'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'
