cdr:
  - source_user: '[% scenarios.1.username %]'
    source_domain: 'lock-ported.scenarios.test'
    source_cli: '[% lock_ported_scenarios_test.testuser1001.phone_number %]'
    destination_user: '[% scenarios.1.responders.1.username %]'
    destination_domain: 'lock-ported.scenarios.test'
    destination_user_dialed: '[% scenarios.1.responders.1.username %]'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'
    duration: '0'
  - source_user: '[% scenarios.0.username %]'
    source_domain: 'lock-ported.scenarios.test'
    source_cli: '[% lock_ported_scenarios_test.testuser1002.phone_number %]'
    destination_user: '[% scenarios.0.responders.0.username %]'
    destination_domain: 'lock-ported.scenarios.test'
    destination_user_dialed: '[% scenarios.0.responders.0.username %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: '[% scenarios.0.responders.0.username %]'
    source_domain: 'lock-ported.scenarios.test'
    source_cli: '[% lock_ported_scenarios_test.testuser1001.phone_number %]'
    destination_user: '[% scenarios.0.responders.1.username %]'
    destination_domain: 'lock-ported.scenarios.test'
    destination_user_dialed: '[% register_allowip_scenarios_test.testuser1003.phone_number %]'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'
