cdr:
  - source_user: 'N_testuser1002'
    source_domain: 'dom.invite_blockin_clir.test'
    source_cli: '43141002'
    source_clir: '1'
    destination_user: 'N_testuser1003'
    destination_domain: 'dom.invite_blockin_clir.test'
    destination_user_dialed: '43141003'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'