cdr:
  - source_user: testuser1002
    source_domain: spce.test
    source_cli: 4311002
    source_clir: 1
    destination_user: testuser1003
    destination_domain: spce.test
    destination_user_dialed: 4311003
    call_type: call
    call_status: other
    call_code: 403