flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_COLLECT_HDR:
  - return|ROUTE_COLLECT_HDR:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_IMP_REQUEST:
  - start|ROUTE_IMP_WITHINDLG:
  - return|ROUTE_IMP_WITHINDLG:
  - start|ROUTE_AUTH:
  - start|ROUTE_AUTH_HELPER:
  - return|ROUTE_AUTH_HELPER:
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_AUTH:
  - start|ROUTE_IMP_PRESENCE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SUBSCRIBE sip:testuser1002@spce.test SIP/2.0'
  - 'From: <sip:testuser1002@spce.test>;tag='
  - 'To: <sip:testuser1002@spce.test>'
  - 'Proxy-Authorization: Digest'
  - 'CSeq: 2 SUBSCRIBE'
  - 'Contact: <sip:testuser1002@127.1.0.1:\d+>'
  - 'Expires: 20'
  - 'Event: call-info'
  - 'Content-Length:\s+0'
  - 'P-NGCP-Src-Ip: 127.1.0.1'
  - 'P-NGCP-Src-Port: \d+'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
  - 'P-Sock-Info: udp:127.0.0.1:5060'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'From: <sip:testuser1002@spce.test>;tag=',
      'To: <sip:testuser1002@spce.test>',
      'CSeq: 2 SUBSCRIBE',
      'P-Out-Socket: udp:127.0.0.1:5060',
      'P-NGCP-Auth-IP: 127.1.0.1',
      'P-NGCP-Auth-UA: <null>',
      'Content-Length: 0',
    ]
  - [
      '^SIP/2.0 202 Accepted',
      'From: <sip:testuser1002@spce.test>;tag=',
      'To: <sip:testuser1002@spce.test>;tag=',
      'CSeq: 2 SUBSCRIBE',
      'P-Out-Socket: udp:127.0.0.1:5060',
      'P-NGCP-Auth-IP: 127.1.0.1',
      'P-NGCP-Auth-UA: <null>',
      'P-NGCP-Authorization: testuser1002@spce.test',
      'P-NGCP-Authorized: 1',
      'P-Caller-UUID: [% spce_test.testuser1002.uuid %]',
      'Event: call-info',
      'Contact: sip:127.0.0.1:5062',
      'Allow-Events: call-info, line-seize',
      'Expires: 20',
      'Content-Length: 0',
    ]
  - [
      '^NOTIFY sip:testuser1002@127.1.0.1:\d+ SIP/2.0',
      'To: <sip:testuser1002@spce.test>;tag=',
      'From: <sip:testuser1002@spce.test>;tag=',
      'CSeq: 1 NOTIFY',
      'Max-Forwards: 70',
      'Content-Length: 0',
      'Contact: sip:127.0.0.1:5062',
      'Call-Info: <sip:spce\.test>;appearance-index=\*;appearance-state=idle',
      'Event: call-info',
      'Subscription-State: active',
    ]
