flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_COLLECT_HDR:
  - return|ROUTE_COLLECT_HDR:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_IMP_REQUEST:
  - start|ROUTE_IMP_WITHINDLG:
  - return|ROUTE_IMP_WITHINDLG:
  - start|ROUTE_AUTH:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SUBSCRIBE sip:testuser1002@spce.test SIP/2.0'
  - 'From: <sip:testuser1002@spce.test>;tag='
  - 'To: <sip:testuser1002@spce.test>'
  - 'CSeq: 1 SUBSCRIBE'
  - 'Contact: <sip:testuser1002@127.1.0.2:\d+>'
  - 'Expires: 20'
  - 'Event: call-info'
  - 'Content-Length:\s+0'
  - 'P-NGCP-Src-Ip: 127.1.0.2'
  - 'P-NGCP-Src-Port: \d+'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
  - 'P-Sock-Info: udp:127.0.0.1:5060'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'CSeq: 1 SUBSCRIBE'
    ]
  - [
      '^SIP/2.0 407 Proxy Authentication Required',
      'From: <sip:testuser1002@spce.test>;tag=',
      'To: <sip:testuser1002@spce.test>;tag=',
      'CSeq: 1 SUBSCRIBE'
    ]
