flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_LEG_B:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_BRANCH_ACC_RTP:
  - return|ROUTE_BRANCH_ACC_RTP:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'INVITE sip:[% scenarios.2.responders.1.username %]@[% scenarios.2.responders.1.ip %]:[% scenarios.2.responders.1.port %] SIP/2.0'
  - 'From: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.2.responders.1.username %]@incoming-shared-line.scenarios-pbx.test>'
  - 'CSeq: \d+ INVITE'
  - 'P-LB-Uptime: \d+'
  - 'P-Asserted-Identity: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>'
  - 'P-Caller-UUID: [% incoming_shared_line_scenarios_pbx_test.testuser1003.uuid %]'
  - 'P-Callee-UUID: [% incoming_shared_line_scenarios_pbx_test.testuser1002.uuid %]'
  - 'P-NGCP-Rtpengine-Bleg: 1'
  - 'P-NGCP-Caller-Info: <sip:[% scenarios.2.username %]@incoming-shared-line.scenarios-pbx.test>;ip=[% scenarios.2.ip %];port=[% scenarios.2.port %];primary=[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]'
  - 'P-NGCP-Callee-Info: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1002.phone_number %]@incoming-shared-line.scenarios-pbx.test>;ip=[% scenarios.2.responders.1.ip %];port=[% scenarios.2.responders.1.port %];primary=[% incoming_shared_line_scenarios_pbx_test.testuser1002.phone_number %]'
  - 'P-NGCP-Presence-Caller: sip:[% scenarios.2.username %]@incoming-shared-line.scenarios-pbx.test'
  - 'P-NGCP-Presence-Callee: sip:[% scenarios.2.responders.1.username %]@incoming-shared-line.scenarios-pbx.test'
  - 'P-D-Uri: sip:lb@127.0.0.1;lr;(received=sip:[% scenarios.2.responders.1.ip %]:[% scenarios.2.responders.1.port %];)?socket=sip:[% server_ip %]:5060'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.2.responders.1.username %]@incoming-shared-line.scenarios-pbx.test>',
      'CSeq: \d+ INVITE',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'INVITE sip:[% scenarios.2.responders.1.username %]@[% scenarios.2.responders.1.ip %]:[% scenarios.2.responders.1.port %] SIP/2.0',
      'From: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.2.responders.1.username %]@incoming-shared-line.scenarios-pbx.test>',
      'CSeq: \d+ INVITE',
      'P-LB-Uptime: \d+',
      'P-Asserted-Identity: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>',
      'P-Caller-UUID: [% incoming_shared_line_scenarios_pbx_test.testuser1003.uuid %]',
      'P-Callee-UUID: [% incoming_shared_line_scenarios_pbx_test.testuser1002.uuid %]',
      'P-NGCP-Rtpengine-Bleg: 1',
      'P-NGCP-Caller-Info: <sip:[% scenarios.2.username %]@incoming-shared-line.scenarios-pbx.test>;ip=[% scenarios.2.ip %];port=[% scenarios.2.port %];primary=[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]',
      'P-NGCP-Callee-Info: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1002.phone_number %]@incoming-shared-line.scenarios-pbx.test>;ip=[% scenarios.2.responders.1.ip %];port=[% scenarios.2.responders.1.port %];primary=[% incoming_shared_line_scenarios_pbx_test.testuser1002.phone_number %]',
      'P-D-Uri: sip:lb@127.0.0.1;lr;(received=sip:[% scenarios.2.responders.1.ip %]:[% scenarios.2.responders.1.port %];)?socket=sip:[% server_ip %]:5060',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
    ]
