flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:43110021003@spce.test>;tag=[\w-]+'
  - 'To: <sip:1002@spce.test>;tag=[\w-]+'
  - 'CSeq: \d+ CANCEL'
  - 'Server: Sipwise NGCP Application'
  - 'Content-Length: 0'
sip_out: []
