flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|dialog:end:
  - return|dialog:end:
  - return|dialog:end:
  - start|ROUTE_FIX_PBX_STOP_RECORDS:
  - return|ROUTE_FIX_PBX_STOP_RECORDS:
  - start|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_OUTBOUND:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^BYE sip:127.0.0.1:5080;transport=udp SIP/2.0'
  - 'From: <sip:testuser1003@spce.test>;tag='
  - 'To: <sip:1002@spce.test>;tag='
  - 'CSeq: \d+ BYE'
  - 'Max-Forwards: 70'
  - 'Content-Length: 0'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'From: <sip:testuser1003@spce.test>;tag=',
      'To: <sip:1002@spce.test>;tag=',
      'CSeq: \d+ BYE',
      'Content-Length: 0',
    ]
  - [
      '^BYE sip:127.0.0.1:5080;transport=udp SIP/2.0',
      'From: <sip:43110021003@spce.test>;tag=',
      'To: <sip:1002@spce.test>;tag=',
      'CSeq: \d+ BYE',
      'Max-Forwards: 69',
      'Content-Length: 0',
    ]
