flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_LOCAL:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^CANCEL'
  - 'To: <sip:testuser1002@incoming-shared-line.scenarios-pbx.test>'
  - 'From: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ CANCEL'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
  - 'P-LB-Uptime: \d+'
  - 'P-Asserted-Identity: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>'
  - 'P-Caller-UUID: [% incoming_shared_line_scenarios_pbx_test.testuser1003.uuid %]'
  - 'P-Callee-UUID: [% incoming_shared_line_scenarios_pbx_test.testuser1002.uuid %]'
  - 'P-NGCP-Rtpengine-Bleg: 1'
  - 'P-NGCP-Caller-Info: <sip:testuser1003@incoming-shared-line.scenarios-pbx.test>;ip=[% scenarios.2.ip %];port=[% scenarios.2.port %];primary=[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]'
  - 'P-NGCP-Callee-Info: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1002.phone_number %]@incoming-shared-line.scenarios-pbx.test>;ip=[% scenarios.2.responders.0.ip %];port=[% scenarios.2.responders.0.port %];primary=[% incoming_shared_line_scenarios_pbx_test.testuser1002.phone_number %]'
  - 'P-NGCP-Presence-Caller: sip:testuser1003@incoming-shared-line.scenarios-pbx.test'
  - 'P-NGCP-Presence-Callee: sip:testuser1002@incoming-shared-line.scenarios-pbx.test'
  - 'P-D-Uri: sip:lb@127.0.0.1;lr;(received=sip:[% scenarios.2.responders.0.ip %]:[% scenarios.2.responders.0.port %];)?socket=sip:[% server_ip %]:5060'
  - 'Content-Length: 0'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'To: <sip:testuser1002@incoming-shared-line.scenarios-pbx.test>',
      'From: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ CANCEL',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      '^CANCEL',
      'From: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:testuser1002@incoming-shared-line.scenarios-pbx.test>',
      'CSeq: \d+ CANCEL',
      'Content-Length: 0',
    ]
  - [
      'SIP/2.0 200 canceling',
      'To: <sip:testuser1002@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'From: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ CANCEL',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
