flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_COLLECT_HDR:
  - return|ROUTE_COLLECT_HDR:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_APPLY_HDR:
  - return|ROUTE_APPLY_HDR:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
  - return|dialog:start:
sip_in:
  - '^SIP/2.0 200 OK'
  - 'From: <sip:43110021003@spce.test>;tag='
  - 'To: <sip:1002@spce.test>;tag='
  - 'CSeq: \d+ INVITE'
  - 'Allow: INVITE, PRACK, ACK, BYE, CANCEL, OPTIONS, NOTIFY, REGISTER, SUBSCRIBE, REFER, PUBLISH, UPDATE, MESSAGE'
  - 'Call-Info: <sip:spce\.test>;appearance-index=1'
  - 'Contact: <sip:127.0.0.1:5080;transport=udp>'
  - 'Content-Type: application/sdp'
  - 'Content-Length: \d+'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'From: <sip:testuser1003@spce.test>;tag=',
      'To: <sip:1002@spce.test>;tag=',
      'CSeq: \d+ INVITE',
      'Allow: INVITE, PRACK, ACK, BYE, CANCEL, OPTIONS, NOTIFY, REGISTER, SUBSCRIBE, REFER, PUBLISH, UPDATE, MESSAGE',
      'Call-Info: <sip:spce\.test>;appearance-index=1',
      'Contact: <sip:127.0.0.1:5080;transport=udp>',
      'Content-Type: application/sdp',
      'Content-Length: \d+',
    ]
  - [
      '^CANCEL sip:testuser1002@127.1.0.3:\d+ SIP/2.0',
      'From: <sip:43110021003@spce.test>;tag=',
      'To: <sip:1002@spce.test>',
      'CSeq: \d+ CANCEL',
      'Route: <sip:lb@127.0.0.1;lr;socket=sip:127.0.0.1:5060>',
      'Max-Forwards: 69',
      'Content-Length: 0',
      'Reason: SIP;cause=200;text=\"Call completed elsewhere\"',
    ]
