flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
  - 'SIP/2.0 200 canceling'
  - 'From: <sip:43110021003@spce.test>;tag=[\w-]+'
  - 'To: <sip:testuser1002@spce.test>;tag=[\w-]+'
  - 'CSeq: \d+ CANCEL'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length: 0'
sip_out: []
