flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|dialog:end:
  - return|dialog:end:
  - start|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_FIX_PBX_STOP_RECORDS:
  - return|ROUTE_FIX_PBX_STOP_RECORDS:
  - start|ROUTE_SCA_UPDATE:
  - return|ROUTE_SCA_UPDATE:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_OUTBOUND:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'BYE sip:127.0.0.1:508[08];prxroute=1 SIP/2.0'
  - 'From: <sip:[% scenarios.2.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1002.pbx_extension %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'Call-Info: <sip:incoming-shared-line.scenarios-pbx.test>;appearance-index=1'
  - 'CSeq: \d+ BYE'
  - 'Content-Length: 0'
  - 'P-NGCP-Src-Af: 4'
  - 'P-Sock-Info: udp:[% server_ip %]:5060'
  - 'P-LB-Uptime: \d+'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:[% scenarios.2.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1002.pbx_extension %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ BYE',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: [% scenarios.2.ip %]',
      'P-NGCP-Auth-UA: <null>',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'PUBLISH sip:[% scenarios.2.username %]@incoming-shared-line.scenarios-pbx.test SIP/2.0',
      'To: <sip:[% scenarios.2.username %]@incoming-shared-line.scenarios-pbx.test>',
      'From: <sip:[% scenarios.2.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ PUBLISH',
      'Content-Length:\s+\d+',
      'User-Agent: Sipwise NGCP Proxy',
      'Event: dialog',
      'SIP-If-Match: .+',
      'Content-Type: application/dialog\-info\+xml',
    ]
  - [
      'NOTIFY sip:[% scenarios.0.responders.0.username %]@',
      'To: <sip:[% scenarios.0.responders.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'From: <sip:[% scenarios.0.responders.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ NOTIFY',
      'Content-Length: 0',
      'User-Agent: Sipwise NGCP Proxy',
      'Contact: sip:127.0.0.1:5062',
      'Call-Info: <sip:incoming-shared-line.scenarios-pbx.test>;appearance-index=\*;appearance-state=idle',
      'Event: call-info',
      'Subscription-State: active;expires=\d+',
    ]
  - [
      'NOTIFY sip:[% scenarios.1.responders.0.username %]@',
      'To: <sip:[% scenarios.1.responders.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'From: <sip:[% scenarios.1.responders.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ NOTIFY',
      'Content-Length: 0',
      'User-Agent: Sipwise NGCP Proxy',
      'Contact: sip:127.0.0.1:5062',
      'Call-Info: <sip:incoming-shared-line.scenarios-pbx.test>;appearance-index=\*;appearance-state=idle',
      'Event: call-info',
      'Subscription-State: active;expires=\d+',
    ]
  - [
      'BYE sip:127.0.0.1:508[08];prxroute=1 SIP/2.0',
      'From: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1002.pbx_extension %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ BYE',
      'Content-Length: 0',
      'P-LB-Uptime: \d+',
      'P-Asserted-Identity: <sip:[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]@incoming-shared-line.scenarios-pbx.test>',
    ]
