cdr:
  - source_user: '[% scenarios.2.username %]'
    source_domain: 'incoming-shared-line.scenarios-pbx.test'
    source_cli: '[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]'
    source_user_out: '[% incoming_shared_line_scenarios_pbx_test.testuser1003.pbx_phone_number %]'
    destination_user: '[% scenarios.0.username %]'
    destination_domain: 'incoming-shared-line.scenarios-pbx.test'
    destination_user_dialed: '1002'
    destination_user_in: '[% incoming_shared_line_scenarios_pbx_test.testuser1002.phone_number %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'