messages:
- - 'SIP/2.0 407 Proxy Authentication Required'
  - 'From: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ SUBSCRIBE'
  - 'Proxy-Authenticate: Digest realm="incoming-shared-line.scenarios-pbx.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 202 Accepted'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>'
  - 'From: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ SUBSCRIBE'
  - 'Event: call-info'
  - 'Allow-Events: call-info, line-seize'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'NOTIFY sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=udp:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=udp:[% server_ip %]:5060>'
  - 'To: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'From: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ NOTIFY'
  - 'Content-Length: 0'
  - 'User-Agent: Sipwise NGCP Proxy'
  - 'Call-Info: <sip:incoming-shared-line.scenarios-pbx.test>;appearance-index=\*;appearance-state=idle'
  - 'Event: call-info'
  - 'Subscription-State: active'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'NOTIFY sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=udp:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=udp:[% server_ip %]:5060>'
  - 'To: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'From: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ NOTIFY'
  - 'Content-Length: 0'
  - 'User-Agent: Sipwise NGCP Proxy'
  - 'Call-Info: <sip:incoming-shared-line.scenarios-pbx.test>;appearance-index=1;appearance-state=active;appearance-uri="<sip:[% scenarios.2.username %]@incoming-shared-line.scenarios-pbx.test>",<sip:incoming-shared-line.scenarios-pbx.test>;appearance-index=\*;appearance-state=idle'
  - 'Event: call-info'
  - 'Subscription-State: active;expires=16'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'NOTIFY sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=udp:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=udp:[% server_ip %]:5060>'
  - 'To: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'From: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ NOTIFY'
  - 'Content-Length: 0'
  - 'User-Agent: Sipwise NGCP Proxy'
  - 'Call-Info: <sip:incoming-shared-line.scenarios-pbx.test>;appearance-index=\*;appearance-state=idle'
  - 'Event: call-info'
  - 'Subscription-State: active;expires=14'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'SIP/2.0 407 Proxy Authentication Required'
  - 'From: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ SUBSCRIBE'
  - 'Proxy-Authenticate: Digest realm="incoming-shared-line.scenarios-pbx.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 202 Accepted'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>'
  - 'From: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ SUBSCRIBE'
  - 'Event: call-info'
  - 'Allow-Events: call-info, line-seize'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'NOTIFY sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=udp:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=udp:[% server_ip %]:5060>'
  - 'To: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'From: <sip:[% scenarios.0.username %]@incoming-shared-line.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ NOTIFY'
  - 'Content-Length: 0'
  - 'User-Agent: Sipwise NGCP Proxy'
  - 'Call-Info: <sip:incoming-shared-line.scenarios-pbx.test>;appearance-index=\*;appearance-state=idle'
  - 'Event: call-info'
  - 'Subscription-State: terminated'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
