flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_INVITE:
  - start|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_FIND_CALLER:
  - start|ROUTE_CLEAR_PEER_IN_PREF:
  - return|ROUTE_CLEAR_PEER_IN_PREF:
  - start|ROUTE_LOAD_PEER_IN_PREF:
  - start|ROUTE_DLG_MANAGE:
  - return|ROUTE_DLG_MANAGE:
  - return|ROUTE_LOAD_PEER_IN_PREF:
  - start|ROUTE_PROCESS_INCOMING_HIH:
  - return|ROUTE_PROCESS_INCOMING_HIH:
  - return|ROUTE_FIND_CALLER:
  - start|ROUTE_GET_CALLER_CLI:
  - return|ROUTE_GET_CALLER_CLI:
  - start|ROUTE_GET_CALLER_CLI:
  - return|ROUTE_GET_CALLER_CLI:
  - start|ROUTE_GET_FORWARDER_CLI:
  - return|ROUTE_GET_FORWARDER_CLI:
  - start|ROUTE_CLIR:
  - return|ROUTE_CLIR:
  - start|ROUTE_FIND_CALLEE:
  - start|ROUTE_CLEAR_CALLEE_PREF:
  - return|ROUTE_CLEAR_CALLEE_PREF:
  - start|ROUTE_LOAD_CALLEE_PREF:
  - start|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
  - return|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
  - start|ROUTE_SET_CALLEE_DIALOG:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_SET_CALLEE_DIALOG:
  - start|ROUTE_BLOCK_IN:
  - return|ROUTE_BLOCK_IN:
  - start|ROUTE_ORDER_CF_MAP_ID:
  - return|ROUTE_ORDER_CF_MAP_ID:
  - return|ROUTE_LOAD_CALLEE_PREF:
  - start|ROUTE_NCOS_CHECK:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - return|ROUTE_NCOS_CHECK:
  - start|ROUTE_BLOCK_OUT:
  - return|ROUTE_BLOCK_OUT:
  - start|ROUTE_CHECK_PBX:
  - return|ROUTE_CHECK_PBX:
  - start|ROUTE_INVITE_TO_INT:
  - start|ROUTE_LOAD_CF_MAP:
  - return|ROUTE_LOAD_CF_MAP:
  - start|ROUTE_CHECK_CF_PERIOD:
  - return|ROUTE_CHECK_CF_PERIOD:
  - start|ROUTE_ACC_CF:
  - start|ROUTE_ACC_CALLER:
  - return|ROUTE_ACC_CALLER:
  - start|ROUTE_ACC_CALLEE:
  - return|ROUTE_ACC_CALLEE:
  - return|ROUTE_ACC_CF:
  - start|ROUTE_EXECUTE_CF_LOOP:
  - start|ROUTE_SET_CALLER_DIALOG:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_SET_CALLER_DIALOG:
  - start|BRANCH_ROUTE_FWD_LOOP:
  - start|ROUTE_PROCESS_INCOMING_HIH:
  - return|ROUTE_PROCESS_INCOMING_HIH:
  - start|ROUTE_APPEND_CF_HDRS:
  - return|ROUTE_APPEND_CF_HDRS:
  - start|ROUTE_ADD_CALLINFO:
  - return|ROUTE_ADD_CALLINFO:
  - return|BRANCH_ROUTE_FWD_LOOP:
  - return|BRANCH_ROUTE_FWD_LOOP:
  - exit|ROUTE_EXECUTE_CF_LOOP:
sip_in:
  - '^INVITE sip:4311003@'
  - 'Contact: sip:004321001@'
  - 'CSeq: 1 INVITE'
  - 'Max-Forwards: 69'
  - 'Content-Type: application/sdp'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'CSeq: 1 INVITE',
      'From: <sip:004321001@',
      'To: <sip:4311003@'
    ]
  - [
      '^INVITE sip:4311002@',
      'CSeq: 1 INVITE',
      'From: <sip:004321001@',
      'To: <sip:4311003@',
      'Content-Type: application/sdp',
      'History-Info: <sip:\+4313012026@spce.test;user=phone\?privacy=history>;index=1',
      'History-Info: <sip:\+4311003@spce.test;user=phone;cause=302\?privacy=id>;index=1.1',
      'P-HIH-Cause: 302',
      'P-Caller-UUID: \w+',
      'P-First-Caller-UPN: 004321001',
      'P-First-Caller-NPN: 004321001',
      'P-Acc-Caller-User: testuser1003',
      'P-Acc-State: cfu',
      'P-From-Peer: 1',
      'P-CF-Depth: 1',
      'P-Callee-Account-ID: \d+',
      'P-App-Param: ;profile=ngcp_cf',
      'P-App-Name: sbc',
      'P-NGCP-Forward-Info: <sip:4311003@',
      'P-NGCP-Callee-Info: <sip:4311002@'
    ]

