---
testuser1003@incoming-hih.scenarios.test:
  destinations:
    destinations:
      - destination: sip:[% incoming_hih_scenarios_test.testuser1002.phone_number %]@incoming-hih.scenarios.test
        priority: 0
        timeout: 25
    name: dest1003
  mappings:
    cfu:
      - bnumberset: null
        destinationset: dest1003
        sourceset: null
        timeset: null
        enabled: true
    cfb: []
    cfna: []
    cft: []
    cfs: []
    cfr: []
    cfo: []
