cdr:
  - source_user: '004321001'
    source_domain: '127.3.2.1'
    source_cli: '004321001'
    destination_user: 'C_testuser1003'
    destination_domain: 'dom.incoming_hih.test'
    destination_user_dialed: '4311003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'C_testuser1003'
    source_domain: 'dom.incoming_hih.test'
    source_cli: '4311003'
    destination_user: 'C_testuser1002'
    destination_domain: 'dom.incoming_hih.test'
    destination_user_dialed: '4311002'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'