cdr:
  - source_user: 'AN_testuser1002'
    source_domain: 'dom.invite_tcp_udp_reinvite.test'
    source_cli: '4311002'
    destination_user: 'AN_testuser1003'
    destination_domain: 'dom.invite_tcp_udp_reinvite.test'
    destination_user_dialed: 'AN_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'