flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|dialog:end:
  - return|dialog:end:
  - return|dialog:end:
  - start|ROUTE_STOP_RTPPROXY:
  - return|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_FIX_PBX_STOP_RECORDS:
  - return|ROUTE_FIX_PBX_STOP_RECORDS:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_OUTBOUND:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
 - 'BYE sip:127.0.0.1:5080;prxroute=1 SIP/2.0'
 - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>'
 - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>'
 - 'From: <sip:[% scenarios.1.username %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+'
 - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+'
 - 'CSeq: \d+ BYE'
 - 'Contact: <sip:[% scenarios.1.username %]@[% scenarios.1.ip %]:[% scenarios.1.port %];alias=[^;]+>'
 - 'Content-Length:\s+0'
 - 'P-NGCP-Src-Ip: [% scenarios.0.ip %]'
 - 'P-NGCP-Src-Port: [% scenarios.1.port %]'
 - 'P-NGCP-Src-Proto: udp'
 - 'P-NGCP-Src-Af: 4'
 - 'P-Sock-Info: udp:[% server_ip %]:5060'
 - 'P-LB-Uptime:\s+\d+'
 - 'P-NGCP-Src-Nat: 1'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:[% scenarios.1.username %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ BYE',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: [% scenarios.0.ip %]',
      'P-NGCP-Auth-UA: <null>',
      'Server: Sipwise NGCP Proxy',
      'Content-Length:\s+0',
    ]
  - [
      'PUBLISH sip:[% scenarios.1.username %]@invite-manager.scenarios-pbx.test SIP/2.0',
      'To: <sip:[% scenarios.1.username %]@invite-manager.scenarios-pbx.test>',
      'From: <sip:[% scenarios.1.username %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ PUBLISH',
      'Content-Length:\s+\d+',
      'User-Agent: Sipwise NGCP Proxy',
      'Event: dialog',
      'SIP-If-Match:',
      'Content-Type: application/dialog-info\+xml',
    ]
  - [
      'BYE sip:127.0.0.1:5080;prxroute=1 SIP/2.0',
      'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+>',
      'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>',
      'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;nat=yes;socket=udp:[% server_ip %]:5060>',
      'From: <sip:[% scenarios.1.username %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ BYE',
      'Contact: <sip:[% scenarios.1.username %]@[% scenarios.1.ip %]:[% scenarios.1.port %];alias=[^;]+>',
      'Content-Length:\s+0',
      'P-LB-Uptime:\s+\d+',
    ]
