flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
 - 'SIP/2.0 200 OK'
 - 'From: <sip:[% invite_manager_scenarios_pbx_test.testuser1003.pbx_phone_number %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+'
 - 'To: <sip:[% scenarios.0.username %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+'
 - 'CSeq: \d+ BYE'
 - 'Contact: <sip:[% scenarios.1.responders.1.ip %]:[% scenarios.1.responders.1.port %];transport=UDP>'
 - 'Content-Length:\s+0'
 - 'P-NGCP-Src-Ip: [% scenarios.0.ip %]'
 - 'P-NGCP-Src-Port: [% scenarios.1.responders.1.port %]'
 - 'P-NGCP-Src-Proto: udp'
 - 'P-NGCP-Src-Af: 4'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:[% invite_manager_scenarios_pbx_test.testuser1003.pbx_phone_number %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.username %]@invite-manager.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ BYE',
      'Contact: <sip:[% scenarios.1.responders.1.ip %]:[% scenarios.1.responders.1.port %];transport=UDP>',
      'Content-Length:\s+0',
      'P-NGCP-Src-Ip: [% scenarios.0.ip %]',
      'P-NGCP-Src-Port: [% scenarios.1.responders.1.port %]',
      'P-NGCP-Src-Proto: udp',
      'P-NGCP-Src-Af: 4',
    ]
