flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
      $avp(lua_dlg_profile): [
        "resellerout:1",
        "accountout:[% customer_test.id %]",
        "userout:[% invite_allowedcli_match_alias_scenarios_test.testuser1002.uuid %]",
        "reseller:1",
        "account:[% customer_test.id %]",
        "user:[% invite_allowedcli_match_alias_scenarios_test.testuser1002.uuid %]",
        "totalresellerout:1",
        "totalaccountout:[% customer_test.id %]",
        "totaluserout:[% invite_allowedcli_match_alias_scenarios_test.testuser1002.uuid %]",
        "totalreseller:1",
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% invite_allowedcli_match_alias_scenarios_test.testuser1002.uuid %]",
        "local",
        "totalreseller:1",
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% invite_allowedcli_match_alias_scenarios_test.testuser1003.uuid %]",
        "total",
        "reseller:1",
        "account:[% customer_test.id %]",
        "user:[% invite_allowedcli_match_alias_scenarios_test.testuser1003.uuid %]"
      ]
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'CSeq: 2 INVITE'
  - 'From: <sip:43122122@'
  - 'To: <sip:testuser1003@'
sip_out:
  - [
      '^SIP/2.0 180 Ringing',
      'CSeq: 2 INVITE',
      'From: "[% invite_allowedcli_nonmatch_scenarios_test.testuser1002.phone_number %]22" <sip:testuser1002@',
      'To: <sip:testuser1003@'
    ]
