cdr:
  - source_user: 'H_testuser1002'
    source_domain: 'dom.invite_allowedcli_nonmatch.test'
    source_cli: '43122122'
    destination_user: 'H_testuser1003'
    destination_domain: 'dom.invite_allowedcli_nonmatch.test'
    destination_user_dialed: 'H_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'