cdr:
  - source_user: '3_4_testuser1002'
    source_domain: 'dom.invite_ncos_black.test'
    source_cli: '4311002'
    destination_user: '43999300'
    destination_domain: '127.0.2.1'
    destination_user_dialed: '43999300'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: '3_4_testuser1002'
    source_domain: 'dom.invite_ncos_black.test'
    source_cli: '4311002'
    destination_user: '43999100'
    destination_domain: 'dom.invite_ncos_black.test'
    destination_user_dialed: '43999100'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'
    duration: '0'
  - source_user: '3_4_testuser1002'
    source_domain: 'dom.invite_ncos_black.test'
    source_cli: '4311002'
    destination_user: '4318881001'
    destination_domain: 'dom.invite_ncos_black.test'
    destination_user_dialed: '43999200'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'
    duration: '0'