messages:
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-ncos-black.scenarios-lnp.test>;tag=[\w-]+'
  - 'To: <sip:[% extra_info.phone_numbers.3 %]@invite-ncos-black.scenarios-lnp.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length: 0'
- - 'SIP/2.0 407 Proxy Authentication Required'
  - 'From: <sip:[% scenarios.0.username %]@invite-ncos-black.scenarios-lnp.test>;tag=[\w-]+'
  - 'To: <sip:[% extra_info.phone_numbers.3 %]@invite-ncos-black.scenarios-lnp.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Proxy-Authenticate: Digest realm="invite-ncos-black.scenarios-lnp.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-ncos-black.scenarios-lnp.test>;tag=[\w-]+'
  - 'To: <sip:[% extra_info.phone_numbers.3 %]@invite-ncos-black.scenarios-lnp.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length: 0'
- - 'SIP/2.0 403 Blocked by NCOS level'
  - 'From: <sip:[% scenarios.0.username %]@invite-ncos-black.scenarios-lnp.test>;tag=[\w-]+'
  - 'To: <sip:[% extra_info.phone_numbers.3 %]@invite-ncos-black.scenarios-lnp.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
