flow:
  - start|REPLY_ROUTE_NAT:
      $avp(lua_dlg_profile): [
        "accountout:[% customer_test.id %]",
        "userout:[% spce_test.test1003.uuid %]",
        "account:[% customer_test.id %]",
        "user:[% spce_test.test1003.uuid %]",
        "totalaccountout:[% customer_test.id %]",
        "totaluserout:[% spce_test.test1003.uuid %]",
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% spce_test.test1003.uuid %]",
        "local",
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% spce_test.test1002.uuid %]",
        "total",
        "account:[% customer_test.id %]",
        "user:[% spce_test.test1002.uuid %]"
      ]
  - exit|REPLY_ROUTE_NAT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'CSeq: 2 INVITE'
sip_out:
  - [
      '^SIP/2.0 180 Ringing',
      'CSeq: 2 INVITE',
    ]
