cdr:
  - source_user: 'E_testuser1002'
    source_domain: 'dom.invite.test'
    source_cli: '43051002'
    destination_user: 'E_testuser1003'
    destination_domain: 'dom.invite.test'
    destination_user_dialed: 'E_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'