flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_INVITE:
  - start|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_FIND_CALLER:
  - start|ROUTE_PSTN_SELECT_INBOUND_PEER:
  - return|ROUTE_PSTN_SELECT_INBOUND_PEER:
  - start|ROUTE_CLEAR_PEER_IN_PREF:
  - return|ROUTE_CLEAR_PEER_IN_PREF:
  - start|ROUTE_LOAD_PEER_IN_PREF:
  - start|ROUTE_DLG_MANAGE:
  - return|ROUTE_DLG_MANAGE:
  - return|ROUTE_LOAD_PEER_IN_PREF:
      $avp(lua_dlg_profile): ["peer:[% peer_incoming_peer_00_host0.id %]", "total"]
  - return|ROUTE_FIND_CALLER:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_GET_CALLER_CLI:
  - return|ROUTE_GET_CALLER_CLI:
  - start|ROUTE_GET_CALLER_CLI:
  - return|ROUTE_GET_CALLER_CLI:
  - start|ROUTE_GET_FORWARDER_CLI:
  - return|ROUTE_GET_FORWARDER_CLI:
  - start|ROUTE_CLIR:
  - return|ROUTE_CLIR:
  - start|ROUTE_CALLER_BLOCK_CLI:
  - return|ROUTE_CALLER_BLOCK_CLI:
  - start|ROUTE_FIND_CALLEE:
  - start|ROUTE_DETECT_LOOP:
  - return|ROUTE_DETECT_LOOP:
  - start|ROUTE_CLEAR_CALLEE_PREF:
  - return|ROUTE_CLEAR_CALLEE_PREF:
  - start|ROUTE_LOAD_CALLEE_PREF:
  - start|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
  - return|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
  - start|ROUTE_SET_CALLEE_DIALOG:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - start|ROUTE_SET_CALLEE_DIALOG_BASE:
  - return|ROUTE_SET_CALLEE_DIALOG_BASE:
  - start|ROUTE_SET_CALLEE_DIALOG_TOTAL:
  - return|ROUTE_SET_CALLEE_DIALOG_TOTAL:
  - return|ROUTE_SET_CALLEE_DIALOG:
        $avp(lua_dlg_profile): [
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]",
        "account:[% customer_test.id %]",
        "user:[% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]",
        "peer:[% peer_incoming_peer_00_host0.id %]",
        "total"
      ]
  - start|ROUTE_BLOCK_IN:
  - return|ROUTE_BLOCK_IN:
  - return|ROUTE_LOAD_CALLEE_PREF:
      $xavp(caller_peer_prefs[0]=>concurrent_max[*]): [1]
  - start|ROUTE_NCOS_CHECK:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS_SET:
  - return|ROUTE_NCOS_SET:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS_SET:
  - return|ROUTE_NCOS_SET:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS_SET:
  - return|ROUTE_NCOS_SET:
  - start|ROUTE_NCOS:
  - return|ROUTE_NCOS:
  - start|ROUTE_NCOS_SET:
  - return|ROUTE_NCOS_SET:
  - return|ROUTE_NCOS_CHECK:
  - start|ROUTE_BLOCK_OUT:
  - return|ROUTE_BLOCK_OUT:
  - start|ROUTE_CHECK_PBX:
  - return|ROUTE_CHECK_PBX:
  - start|ROUTE_CALLEE_DISPATCH:
  - start|ROUTE_INVITE_TO_INT:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_CF_CFU:
  - start|ROUTE_LOAD_CF_MAP:
  - return|ROUTE_LOAD_CF_MAP:
  - start|ROUTE_CHECK_CF:
  - return|ROUTE_CHECK_CF:
  - start|ROUTE_ACC_CF:
  - start|ROUTE_ACC_CALLER:
  - start|ROUTE_SET_ACC_CALLER_CALL_COUNTERS:
  - return|ROUTE_SET_ACC_CALLER_CALL_COUNTERS:
  - return|ROUTE_ACC_CALLER:
  - start|ROUTE_ACC_CALLEE:
  - start|ROUTE_SET_ACC_CALLEE_CALL_COUNTERS:
  - return|ROUTE_SET_ACC_CALLEE_CALL_COUNTERS:
  - return|ROUTE_ACC_CALLEE:
  - return|ROUTE_ACC_CF:
  - start|ROUTE_EXECUTE_CF_LOOP:
  - start|ROUTE_SET_CALLER_DIALOG:
  - start|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_CNT_DLG_CHECK:
  - return|ROUTE_SET_CALLER_DIALOG:
  - start|ROUTE_SET_ACC_CALLER_CALL_COUNTERS:
  - return|ROUTE_SET_ACC_CALLER_CALL_COUNTERS:
  - start|ROUTE_SET_ACC_CALLEE_CALL_COUNTERS:
  - return|ROUTE_SET_ACC_CALLEE_CALL_COUNTERS:
  - start|ROUTE_ADD_AOC_HEADER:
  - return|ROUTE_ADD_AOC_HEADER:
  - start|BRANCH_ROUTE_FWD_LOOP:
  - start|ROUTE_SET_HIH_CF:
  - return|ROUTE_SET_HIH_CF:
  - start|ROUTE_APPEND_CF_HDRS:
  - start|ROUTE_ADD_DEVALIAS_HEADERS:
  - return|ROUTE_ADD_DEVALIAS_HEADERS:
  - return|ROUTE_APPEND_CF_HDRS:
  - start|ROUTE_ADD_CALLINFO:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - return|BRANCH_ROUTE_FWD_LOOP:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
      $avp(lua_dlg_profile): [
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]",
        "account:[% customer_test.id %]",
        "user:[% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]",
        "peer:[% peer_incoming_peer_00_host0.id %]",
        "total"
      ]
sip_in:
  - '^INVITE sip:[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]@'
  - 'Contact: <sip:[% scenarios.0.username %]@[% scenarios.0.ip %]:[% scenarios.0.port %](;[^>]+)?>'
  - 'CSeq: 1 INVITE'
  - 'Max-Forwards: 69'
  - 'Content-Type: application/sdp'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'CSeq: 1 INVITE',
      'From: <sip:[% scenarios.0.username %]@',
      'To: <sip:[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]@'
    ]
  - [
      '^INVITE sip:[% extra_info.phone_numbers.0 %]@',
      'CSeq: 1 INVITE',
      'From: <sip:[% scenarios.0.username %]@',
      'To: <sip:[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]@',
      'Contact: <sip:[% scenarios.0.username %]@[% scenarios.0.ip %]:[% scenarios.0.port %](;[^>]+)?>',
      'Content-Type: application/sdp',
      'P-HIH-Cause: 302',
      'P-From-Peer: 1',
      'P-Caller-UUID: [% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]',
      'P-First-Caller-UPN: [% scenarios.0.username %]',
      'P-First-Caller-NPN: [% scenarios.0.username %]',
      'P-Acc-Caller-User: testuser1001',
      'P-CF-Depth: 1',
      'P-Orig-Callee-Dialed: [% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]',
      'P-App-Param: ;profile=ngcp_cf',
      'P-App-Name: sbc'
    ]
