flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_LEG_B:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'INVITE sip:[% extra_info.phone_numbers.1 %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=udp SIP/2.0'
  - 'From: <sip:[% scenarios.0.username %]@incoming-peer.scenarios-lnp.test>;tag=[\w-]+'
  - 'To: <sip:[% extra_info.phone_numbers.1 %]@[% scenarios.0.responders.0.ip %]>'
  - 'CSeq: \d+ INVITE'
  - 'P-Caller-UUID: [% incoming_peer_scenarios_lnp_test.testuser1001.uuid %]'
  - 'P-NGCP-Caller-Info: <sip:testuser1001@incoming-peer.scenarios-lnp.test>;ip=127.0.0.1;port=508[08];primary=[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]'
  - 'P-NGCP-Forward-Info: <sip:[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]@incoming-peer.scenarios-lnp.test>;ip=127.0.0.1;port=508[08];primary=[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]'
  - 'P-NGCP-Callee-Info: <sip:[% extra_info.phone_numbers.0 %]@incoming-peer.scenarios-lnp.test>;ip=[% scenarios.0.responders.0.ip %];port=[% scenarios.0.responders.0.port %]'
  - 'P-Asserted-Identity: <sip:[% scenarios.0.devid %]@[% scenarios.0.domain %]>'
  - 'P-D-Uri: sip:127.0.0.1:5060;received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %]%3blr%3btransport%3dudp'
  - 'Content-Type: application/sdp'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
  - 'Content-Length:\s+\d+'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:[% scenarios.0.username %]@incoming-peer.scenarios-lnp.test>;tag=[\w-]+',
      'To: <sip:[% extra_info.phone_numbers.1 %]@[% scenarios.0.responders.0.ip %]>',
      'CSeq: \d+ INVITE',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'INVITE sip:[% extra_info.phone_numbers.1 %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=udp SIP/2.0',
      'From: <sip:[% scenarios.0.username %]@incoming-peer.scenarios-lnp.test>;tag=[\w-]+',
      'To: <sip:[% extra_info.phone_numbers.1 %]@[% scenarios.0.responders.0.ip %]>',
      'CSeq: \d+ INVITE',
      'P-Caller-UUID: [% incoming_peer_scenarios_lnp_test.testuser1001.uuid %]',
      'P-NGCP-Caller-Info: <sip:testuser1001@incoming-peer.scenarios-lnp.test>;ip=127.0.0.1;port=508[08];primary=[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]',
      'P-NGCP-Forward-Info: <sip:[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]@incoming-peer.scenarios-lnp.test>;ip=127.0.0.1;port=508[08];primary=[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]',
      'P-NGCP-Callee-Info: <sip:[% extra_info.phone_numbers.0 %]@incoming-peer.scenarios-lnp.test>;ip=[% scenarios.0.responders.0.ip %];port=[% scenarios.0.responders.0.port %]',
      'P-Asserted-Identity: <sip:[% scenarios.0.devid %]@[% scenarios.0.domain %]>',
      'P-D-Uri: sip:127.0.0.1:5060;received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %]%3blr%3btransport%3dudp',
      'Content-Type: application/sdp',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'Content-Length:\s+\d+',
    ]
