flow:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
      $avp(lua_dlg_profile): [
        "accountout:[% cst.incoming_peer.test.id %]",
        "userout:[% dom.incoming_peer.test.A_testuser1003.uuid %]",
        "account:[% cst.incoming_peer.test.id %]",
        "user:[% dom.incoming_peer.test.A_testuser1003.uuid %]",
        "totalaccountout:[% cst.incoming_peer.test.id %]",
        "totaluserout:[% dom.incoming_peer.test.A_testuser1003.uuid %]",
        "totalaccount:[% cst.incoming_peer.test.id %]",
        "totaluser:[% dom.incoming_peer.test.A_testuser1003.uuid %]",
        "relay",
        "peerout:[% A_peer_01_host1.id %]",
        "peer:[% A_peer_01_host1.id %]",
        "outgoing"
      ]
  - return|dialog:start:
sip_in:
  - '^SIP/2.0 200 OK'
  - 'CSeq: \d+ INVITE'
  - 'From: <sip:004321001@'
  - 'To: <sip:4311001@'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'CSeq: \d+ INVITE',
      'From: <sip:004321001@',
      'To: <sip:4311001@',
    ]
