flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_CHECK_TIMER_SUPP_REQ:
  - return|ROUTE_CHECK_TIMER_SUPP_REQ:
  - start|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - return|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
      $avp(lua_dlg_profile): [
        "accountout:[% customer_test.id %]",
        "userout:[% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]",
        "account:[% customer_test.id %]",
        "user:[% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]",
        "totalaccountout:[% customer_test.id %]",
        "totaluserout:[% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]",
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]",
        "relay",
        "peerout:[% peer_incoming_peer_01_host1.id %]",
        "peer:[% peer_incoming_peer_01_host1.id %]",
        "outgoing"
      ]
  - return|dialog:start:
sip_in:
  - '^SIP/2.0 200 OK'
  - 'CSeq: \d+ INVITE'
  - 'From: <sip:[% scenarios.0.username %]@'
  - 'To: <sip:[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]@'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'CSeq: \d+ INVITE',
      'From: <sip:[% scenarios.0.username %]@',
      'To: <sip:[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]@',
    ]
