flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_CF_LOOP:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
      $avp(lua_dlg_profile): [
        "totalreseller:1",
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]",
        "reseller:1",
        "account:[% customer_test.id %]",
        "user:[% incoming_peer_scenarios_lnp_test.testuser1003.uuid %]",
        "peer:[% peer_incoming_peer_00_host0.id %]",
        "total"
      ]
sip_in:
  - '^SIP/2.0 200 OK'
  - 'CSeq: 1 INVITE'
  - 'From: <sip:[% scenarios.0.username %]@'
  - 'To: <sip:[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]@'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'CSeq: 1 INVITE',
      'From: <sip:[% scenarios.0.username %]@',
      'To: <sip:[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]@',
    ]
