cdr:
  - source_user: '004321001'
    source_domain: '127.0.2.1'
    source_cli: '004321001'
    destination_user: 'A_testuser1001'
    destination_domain: 'dom.incoming_peer.test'
    destination_user_dialed: '4311001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'A_testuser1001'
    source_domain: 'dom.incoming_peer.test'
    source_cli: '4311001'
    destination_user: '4318881003'
    destination_domain: '127.1.0.1'
    destination_user_dialed: '4311003'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'