cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: '[% scenarios.0.ip %]'
    source_cli: '[% scenarios.0.username %]'
    destination_user: 'testuser1001'
    destination_domain: 'incoming-peer.scenarios-lnp.test'
    destination_user_dialed: '[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'testuser1001'
    source_domain: 'incoming-peer.scenarios-lnp.test'
    source_cli: '[% incoming_peer_scenarios_lnp_test.testuser1001.phone_number %]'
    destination_user: '[% extra_info.phone_numbers.1 %]'
    destination_domain: '[% scenarios.0.responders.0.ip %]'
    destination_user_dialed: '[% extra_info.phone_numbers.0 %]'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'