{
    "peer_incoming_peer_00_host0": {
    	"lnp_add_npdi": true,
    	"lnp_to_rn": true,
        "concurrent_max": 1
    },
    "testuser1001@incoming-peer.scenarios-lnp.test": {
        "lock": 5
    }
}
