flow:
  - start|REPLY_ROUTE_NAT:
  - exit|REPLY_ROUTE_NAT:
sip_in:
  - '^SIP/2.0 183 Progress'
  - 'From: <sip:testuser1002@'
  - 'To: <sip:testuser1003@'
  - 'CSeq: 2 INVITE'
  - 'Contact: <sip:earlyannounce@127.0.0.1:5080>'
  - 'Content-Type: application/sdp'
  - 'Content-Length: \d+'
sip_out:
  - [
      '^SIP/2.0 183 Progress',
      'Contact: <sip:earlyannounce@127.0.0.1:5080>',
      'Content-Type: application/sdp',
      'Content-Length: \d+',
      'P-Out-Socket: udp:127.0.0.1:5060'
    ]
