flow:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_COLLECT_HDR:
  - return|ROUTE_COLLECT_HDR:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|FAILURE_ROUTE_EARLY_REJECT:
  - start|ROUTE_STOP_RTPPROXY_BRANCH:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_STOP_RTPPROXY_BRANCH:
  - start|FAILURE_ROUTE_EARLY_REJECT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
  - start|dialog:failed:
  - return|dialog:failed:
      $avp(lua_dlg_profile): None
  - return|dialog:failed:
sip_in:
  - '^SIP/2.0 403 Unauthorized IP detected'
  - 'From: <sip:testuser1002@spce.test>;tag='
  - 'To: <sip:testuser1003@spce.test>;tag='
  - 'CSeq: 2 INVITE'
  - 'Content-Length: 0'
sip_out:
  - [
      '^ACK sip:earlyannounce@app.local SIP/2.0',
      'From: <sip:testuser1002@spce.test>;tag=',
      'To: <sip:testuser1003@spce.test>;tag=',
      'CSeq: 2 ACK',
      'Max-Forwards: 68',
      'Content-Length: 0'
    ]
  - [
      '^SIP/2.0 403 Unauthorized IP detected',
      'CSeq: 2 INVITE',
      'Content-Length: 0',
      'P-Out-Socket: udp:127.0.0.1:5060'
    ]
