cdr:
  - source_user: 'K_testuser1002'
    source_domain: 'dom.invite_allowip_soundset.test'
    source_cli: '0'
    destination_user: 'K_testuser1003'
    destination_domain: 'dom.invite_allowip_soundset.test'
    destination_user_dialed: 'K_testuser1003'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'