cdr:
  - source_user: 'U_testuser1002'
    source_domain: 'dom.invite_concurrent_max.test'
    source_cli: '43211002'
    destination_user: 'U_testuser1003'
    destination_domain: 'dom.invite_concurrent_max.test'
    destination_user_dialed: 'U_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'U_testuser1004'
    source_domain: 'dom.invite_concurrent_max.test'
    source_cli: '43211004'
    destination_user: 'U_testuser1003'
    destination_domain: 'dom.invite_concurrent_max.test'
    destination_user_dialed: 'U_testuser1003'
    call_type: 'call'
    call_status: 'busy'
    call_code: '486'
    duration: '0'