flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:testuser1003@invite-callee-bye.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_callee_bye_scenarios_test.testuser1002.alias_numbers.0.phone_number %]@invite-callee-bye.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'Content-Length: 0'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:testuser1003@invite-callee-bye.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% invite_callee_bye_scenarios_test.testuser1002.alias_numbers.0.phone_number %]@invite-callee-bye.scenarios.test>;tag=[\w-]+',
      'CSeq: \d+ BYE',
      'Content-Length: 0',
    ]
