flow:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
      $avp(lua_dlg_profile): [
        "accountout:[% cst.invite_peerout.test.id %]",
        "userout:[% dom.invite_peerout.test.AE_testuser1002.uuid %]",
        "account:[% cst.invite_peerout.test.id %]",
        "user:[% dom.invite_peerout.test.AE_testuser1002.uuid %]",
        "totalaccountout:[% cst.invite_peerout.test.id %]",
        "totaluserout:[% dom.invite_peerout.test.AE_testuser1002.uuid %]",
        "totalaccount:[% cst.invite_peerout.test.id %]",
        "totaluser:[% dom.invite_peerout.test.AE_testuser1002.uuid %]",
        "total",
        "relay",
        "peerout:[% AE_peer_00_host0.id %]",
        "peer:[% AE_peer_00_host0.id %]",
        "outgoing"
      ]
  - return|dialog:start:
sip_in:
  - '^SIP/2.0 200 OK'
  - 'CSeq: 2 INVITE'
  - 'From: <sip:43311002@'
  - 'To: <sip:004321001@'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'CSeq: 2 INVITE',
      'From: <sip:AE_testuser1002@',
      'To: <sip:004321001@',
    ]
