# INVITE_OFFLINE scenario
flow:
  - start|MAIN:
  - start|ROUTE_NET_INFO:
  - end|ROUTE_NET_INFO:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - end|ROUTE_INITVARS:
  - start|ROUTE_INVITE:
  - start|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - end|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - end|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_FIND_CALLER:
  - start|ROUTE_AUTH:
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - end|ROUTE_ADD_CALLINFO_REPLY:
  - end|ROUTE_AUTH:
  - end|ROUTE_FIND_CALLER:
  - start|ROUTE_LOAD_CALLER_PREF:
  - start|ROUTE_CLEAR_CALLER_PREF:
  - end|ROUTE_CLEAR_CALLER_PREF:
  - end|ROUTE_LOAD_CALLER_PREF:
  - start|ROUTE_GET_CALLER_CLI:
  - end|ROUTE_GET_CALLER_CLI:
  - start|ROUTE_GET_FORWARDER_CLI:
  - end|ROUTE_GET_FORWARDER_CLI:
  - start|ROUTE_APPLY_CALLER_RWR:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
  - end|ROUTE_APPLY_CALLER_RWR:
  - start|ROUTE_CHECK_USERPROV_CLI:
  - start|ROUTE_CHECK_CLI_ALLOWED:
  - end|ROUTE_CHECK_CLI_ALLOWED:
  - end|ROUTE_CHECK_USERPROV_CLI:
  - start|ROUTE_FIND_CALLEE:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
  - start|ROUTE_CLIR:
  - end|ROUTE_CLIR:
  - start|ROUTE_CHECK_PBX:
  - return|ROUTE_CHECK_PBX:
  - start|ROUTE_EMERGENCY:
      $xavp(caller_real_prefs[0]=>reject_emergency): None
      $xavp(caller_real_prefs[0]=>emergency_location_object): '7e 19 00 0d 64 30 90 11 f4 31 ff ff 43 68 65 6d 6e 69 74 7a 74 61 6c 73'
  - start|ROUTE_PSTN:
      $avp(em_call): [1]
  - start|ROUTE_CLEAR_PEER_OUT_PREF:
  - end|ROUTE_CLEAR_PEER_OUT_PREF:
  - start|ROUTE_LOAD_PEER_OUT_PREF:
  - end|ROUTE_LOAD_PEER_OUT_PREF:
  - start|ROUTE_OUTBOUND:
  - start|ROUTE_SET_CALLER_DIALOG:
  - end|ROUTE_SET_CALLER_DIALOG:
  - start|ROUTE_ACC_CALLER:
  - end|ROUTE_ACC_CALLER:
  - start|ROUTE_ACC_CALLEE:
  - end|ROUTE_ACC_CALLEE:
  - start|BRANCH_ROUTE_SBC:
  - start|ROUTE_BRANCH_ACC_RTP:
  - end|ROUTE_BRANCH_ACC_RTP:
  - start|ROUTE_SET_BRANCH_HDRS:
  - return|ROUTE_SET_BRANCH_HDRS:
  - start|ROUTE_PREPARE_SST:
  - end|ROUTE_PREPARE_SST:
  - start|ROUTE_PREPARE_MOH:
  - end|ROUTE_PREPARE_MOH:
  - start|ROUTE_SET_CALLER_CLI:
  - start|ROUTE_APPLY_CALLER_RWR_FIRST:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
  - end|ROUTE_APPLY_CALLER_RWR_FIRST:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - end|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - end|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - end|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - end|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - end|ROUTE_PREPARE_CALLER_CLI:
  - end|ROUTE_SET_CALLER_CLI:
  - start|ROUTE_SET_CALLEE:
  - start|ROUTE_APPLY_REWRITE_RULE:
  - return|ROUTE_APPLY_REWRITE_RULE:
  - end|ROUTE_SET_CALLEE:
  - start|ROUTE_ADD_CALLINFO:
  - end|ROUTE_ADD_CALLINFO:
  - end|BRANCH_ROUTE_SBC:
  - exit|ROUTE_OUTBOUND:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - exit|REPLY_ROUTE_NAT:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - exit|REPLY_ROUTE_NAT:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - exit|REPLY_ROUTE_NAT:
sip_in:
  - '^INVITE sip:112@'
  - 'Contact: sip:testuser1002@'
  - 'CSeq: 2 INVITE'
  - 'Max-Forwards: 69'
  - 'Content-Type: application/sdp'
  - 'Proxy-Authorization: Digest username="testuser1002"'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
      'To: <sip:112@'
    ]
  - [
      '^SIP/2.0 101 Connecting',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
      'To: <sip:112@'
    ]
  - [
      '^INVITE sip:112@',
      'CSeq: 2 INVITE',
      'From: <sip:4311002@',
      'To: <sip:112@',
      'Content-Type: application/sdp',
      'P-Caller-UUID: \w+',
      'P-Callee-UUID: \w+',
      'P-Asserted-Identity: <sip:4311002@',
      'P-Called-Party-ID: <sip:112@',
      'P-App-Param: ;aleg_sst_enable=no;sst_enable=no',
      'P-App-Name: sbc',
      'P-NGCP-Callee-Info: <sip:emergency_112@',
      '--unique-boundary-1',
      'Content-Type: application/sdp',
      'Content-Type: application/vnd.cirpack.isdn-ext',
      '7e 19 00 0d 64 30 90 11 f4 31 ff ff 43 68 65 6d 6e 69 74 7a 74 61 6c 73',
      '--unique-boundary-1--',
    ]
  - [
      '^SIP/2.0 180 Ringing',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
      'To: <sip:112@'
    ]
  - [
      '^SIP/2.0 200 OK',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
      'To: <sip:112@'
    ]

