flow:
  - start|REPLY_ROUTE_NAT:
  - 'start|dialog:start':
  - 'return|dialog:start':
  # branch ??
  - 'return|dialog:start':
sip_in:
  - '^SIP/2.0 200 OK'
  - 'CSeq: 2 INVITE'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
      'To: <sip:testuser1003@',
      '_:NOT:_Allow: .*REFER.*',
    ]
