cdr:
  - source_user: 'AC_testuser1002'
    source_domain: 'dom.invite_no_refer.test'
    source_cli: '43291002'
    destination_user: 'AC_testuser1003'
    destination_domain: 'dom.invite_no_refer.test'
    destination_user_dialed: 'AC_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'