cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: 'invite-no-refer.scenarios.test'
    source_cli: '[% invite_no_refer_scenarios_test.phone_number %]'
    destination_user: '[% scenarios.0.responders.0.username %]'
    destination_domain: 'invite-no-refer.scenarios.test'
    destination_user_dialed: '[% scenarios.0.responders.0.username %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'