cdr:
  - source_user: 'testuser1002'
    source_domain: 'invite-callforward-timeout.scenarios.test'
    source_cli: '4311001'
    destination_user: 'testuser1001'
    destination_domain: 'invite-callforward-timeout.scenarios.test'
    destination_user_dialed: 'testuser1001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'testuser1001'
    source_domain: 'invite-callforward-timeout.scenarios.test'
    source_cli: '4311000'
    destination_user: 'testuser1003'
    destination_domain: 'invite-callforward-timeout.scenarios.test'
    destination_user_dialed: 'testuser1003'
    call_type: 'cft'
    call_status: 'ok'
    call_code: '200'