messages:
- - 'INVITE sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'From: <sip:[% invite_callforward_timeout_scenarios_test.testuser1002.phone_number %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-timeout.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'P-Asserted-Identity: <sip:[% invite_callforward_timeout_scenarios_test.testuser1002.phone_number %]@invite-callforward-timeout.scenarios.test>'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'CANCEL sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'From: <sip:[% invite_callforward_timeout_scenarios_test.testuser1002.phone_number %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-timeout.scenarios.test>'
  - 'CSeq: \d+ CANCEL'
  - 'Content-Length:\s+0'
- - 'ACK sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'From: <sip:[% invite_callforward_timeout_scenarios_test.testuser1002.phone_number %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ ACK'
  - 'Content-Length:\s+0'
