messages:
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-timeout.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 407 Proxy Authentication Required'
  - 'From: <sip:[% scenarios.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Proxy-Authenticate: Digest realm="invite-callforward-timeout.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-timeout.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 180 Ringing'
  - 'From: <sip:[% scenarios.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Length:\s+0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'SIP/2.0 180 Ringing'
  - 'From: <sip:[% scenarios.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Length:\s+0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Allow: INVITE,ACK,OPTIONS,CANCEL,BYE,UPDATE,PRACK,SUBSCRIBE,NOTIFY,MESSAGE,PUBLISH'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward-timeout.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'Allow: INVITE,ACK,OPTIONS,CANCEL,BYE,UPDATE,PRACK,SUBSCRIBE,NOTIFY,MESSAGE,PUBLISH'
  - 'Content-Length:\s+0'
