flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_LEG_B:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'INVITE sip:[% extra_info.phone_numbers.0 %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=udp SIP/2.0'
  - 'From: <sip:[% invite_scenarios_lnp_test.testuser1002.phone_number %]@invite.scenarios-lnp.test>;tag=[\w-]+'
  - 'To: <sip:[% extra_info.phone_numbers.0 %]@[% scenarios.0.responders.0.ip %]>'
  - 'CSeq: \d+ INVITE'
  - 'P-LB-Uptime: \d+'
  - 'P-Asserted-Identity: <sip:[% invite_scenarios_lnp_test.testuser1002.phone_number %]@invite.scenarios-lnp.test>'
  - 'P-Caller-UUID: [% invite_scenarios_lnp_test.testuser1002.uuid %]'
  - 'P-NGCP-Caller-Info: <sip:testuser1002@invite.scenarios-lnp.test>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %];primary=[% invite_scenarios_lnp_test.testuser1002.phone_number %]'
  - 'P-NGCP-Callee-Info: <sip:[% invite_scenarios_lnp_test.testuser1001.phone_number %]@invite.scenarios-lnp.test>;ip=[% scenarios.0.responders.0.ip %];port=[% scenarios.0.responders.0.port %];primary=[% invite_scenarios_lnp_test.testuser1001.phone_number %]'
  - 'P-D-Uri: sip:127.0.0.1:5060;received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %]%3blr%3btransport%3dudp'
  - 'Content-Type: application/sdp'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
  - 'Content-Length:\s+\d+'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:[% invite_scenarios_lnp_test.testuser1002.phone_number %]@invite.scenarios-lnp.test>;tag=[\w-]+',
      'To: <sip:[% extra_info.phone_numbers.0 %]@[% scenarios.0.responders.0.ip %]>',
      'CSeq: \d+ INVITE',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'INVITE sip:[% extra_info.phone_numbers.0 %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=udp SIP/2.0',
      'From: <sip:[% invite_scenarios_lnp_test.testuser1002.phone_number %]@invite.scenarios-lnp.test>;tag=[\w-]+',
      'To: <sip:[% extra_info.phone_numbers.0 %]@[% scenarios.0.responders.0.ip %]>',
      'CSeq: \d+ INVITE',
      'P-LB-Uptime: \d+',
      'P-Asserted-Identity: <sip:[% invite_scenarios_lnp_test.testuser1002.phone_number %]@invite.scenarios-lnp.test>',
      'P-Caller-UUID: [% invite_scenarios_lnp_test.testuser1002.uuid %]',
      'P-NGCP-Caller-Info: <sip:testuser1002@invite.scenarios-lnp.test>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %];primary=[% invite_scenarios_lnp_test.testuser1002.phone_number %]',
      'P-NGCP-Callee-Info: <sip:[% invite_scenarios_lnp_test.testuser1001.phone_number %]@invite.scenarios-lnp.test>;ip=[% scenarios.0.responders.0.ip %];port=[% scenarios.0.responders.0.port %];primary=[% invite_scenarios_lnp_test.testuser1001.phone_number %]',
      'P-D-Uri: sip:127.0.0.1:5060;received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %]%3blr%3btransport%3dudp',
      'Content-Type: application/sdp',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'Content-Length:\s+\d+',
    ]
