cdr:
  - source_user: 'C_testuser1002'
    source_domain: 'dom.invite.test'
    source_cli: '4311002'
    destination_user: '4318881001'
    destination_domain: '127.3.2.1'
    destination_user_dialed: '4311001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'