cdr:
  - source_user: 'testuser1002'
    source_domain: 'spce.test'
    source_cli: '4311002'
    destination_user: '439333111'
    destination_domain: 'spce.test'
    destination_user_dialed: '439333111'
    destination_user_in: '439333111'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'