{
    "@invite-alias-devid-fulllookup.scenarios-pbx.test": {
        "nat_sipping": "no"
    },
    "testuser1003@invite-alias-devid-fulllookup.scenarios-pbx.test": {
        "lookup_all_registrations": true
    }
}
