flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
 - 'SIP/2.0 487 Request terminated'
 - 'To: <sip:[% invite_group_parallel_and_cft_scenarios_pbx_test.testgroup1010.pbx_extension %]@invite-group-parallel-and-cft.scenarios-pbx.test>;tag=[\w-]+'
 - 'CSeq: \d+ INVITE'
 - 'Content-Length: 0'
sip_out:
  - [
      'ACK sip:[% scenarios.0.responders.0.username %]@invite-group-parallel-and-cft.scenarios-pbx.test SIP/2.0',
      'From: <sip:[% scenarios.0.username %]@invite-group-parallel-and-cft.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% invite_group_parallel_and_cft_scenarios_pbx_test.testgroup1010.pbx_extension %]@invite-group-parallel-and-cft.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ ACK',
      'Content-Length: 0',
    ]
