flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
  - 'SIP/2.0 100 Trying'
  - 'From: "Anonymous" <sip:anonymous@anonymous.invalid>;tag=[\w-]+'
  - 'To: <sip:testuser1003@spce.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB 9.X'
  - 'Content-Length: 0'
sip_out: []
