flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 200 OK'
  - 'CSeq: 2 BYE'
  - 'Content-Length: 0'
  - 'From: "Anonymous" <sip:anonymous@anonymous.invalid>'
  - 'To: <sip:testuser1003@'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'CSeq: 2 BYE',
      'Content-Length: 0',
      'From: "Anonymous" <sip:anonymous@anonymous.invalid>',
      'To: <sip:testuser1003@',
      '_:NOT:_P-Asserted-Identity: \w+'
    ]
