cdr:
  - source_user: 'anonymous'
    source_domain: 'invite-trusted-anonymous.scenarios.test'
    source_cli: '[% invite_trusted_anonymous_scenarios_test.testuser1002.phone_number %]'
    source_clir: '1'
    destination_user: '[% scenarios.0.responders.0.username %]'
    destination_domain: 'invite-trusted-anonymous.scenarios.test'
    destination_user_dialed: '[% scenarios.0.responders.0.username %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'