cdr:
  - source_user: 'anonymous'
    source_domain: 'dom.invite_trusted_anonymous.test'
    source_cli: '43411002'
    source_clir: '1'
    destination_user: 'AO_testuser1003'
    destination_domain: 'dom.invite_trusted_anonymous.test'
    destination_user_dialed: 'AO_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'