flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|REPLY_SCA_UPDATE:
  - return|REPLY_SCA_UPDATE:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_FIX_PBX_STOP_RECORDS:
  - return|ROUTE_FIX_PBX_STOP_RECORDS:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
  - return|dialog:start:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:testuser1002@spce.test>;tag=[\w-]+'
  - 'To: <sip:testuser1004@spce.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'P-COLP-Identity: "1005" <sip:1005@spce.test>'
  - 'Contact: <sip:127.0.0.1:508[58];transport=udp>'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:testuser1002@spce.test>;tag=[\w-]+',
      'To: <sip:testuser1004@spce.test>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'P-COLP-Identity: "1005" <sip:1005@spce.test>',
      'Contact: <sip:127.0.0.1:508[58];transport=udp>',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
    ]
