flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'SIP/2.0 100'
  - 'From: <sip:[% invite_retrans_scenarios_test.testuser1002.phone_number %]@invite-retrans.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:testuser1003@invite-retrans.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Content-Length: 0'
sip_out: []
