flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_LEG_B:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:[% invite_force_outbound_calls_to_peer_scenarios_test.testuser1002.phone_number %]@invite-force-outbound-calls-to-peer.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:testuser1003@[% scenarios.0.responders.1.ip %]>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Contact: <sip:[% scenarios.0.responders.1.ip %]:[% scenarios.0.responders.1.port %];transport=UDP>'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'P-NGCP-Src-Ip: [% scenarios.0.responders.1.ip %]'
  - 'P-NGCP-Src-Port: [% scenarios.0.responders.1.port %]'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:[% invite_force_outbound_calls_to_peer_scenarios_test.testuser1002.phone_number %]@invite-force-outbound-calls-to-peer.scenarios.test>;tag=[\w-]+',
      'To: <sip:testuser1003@[% scenarios.0.responders.1.ip %]>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'Contact: <sip:[% scenarios.0.responders.1.ip %]:[% scenarios.0.responders.1.port %];transport=UDP>',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'P-NGCP-Src-Ip: [% scenarios.0.responders.1.ip %]',
      'P-NGCP-Src-Port: [% scenarios.0.responders.1.port %]',
      'P-NGCP-Src-Proto: udp',
      'P-NGCP-Src-Af: 4',
    ]
