{
    "@invite-force-outbound-calls-to-peer.scenarios.test": {
        "nat_sipping": "no"
    },
    "testuser1002@invite-force-outbound-calls-to-peer.scenarios.test": {
        "force_outbound_calls_to_peer":"force"
    }
}
