flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_REG_REQUEST:
  - start|ROUTE_REG_HANDLE:
  - start|ROUTE_AUTH:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^REGISTER sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test SIP/2.0'
  - 'From: <sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test>;tag='
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test>'
  - 'CSeq: 1 REGISTER'
  - 'Contact: sip:[% scenarios.0.responders.0.username %]@@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %]'
  - 'Expires: 600'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'From: <sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test>;tag=',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test>',
      'CSeq: 1 REGISTER',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: [% scenarios.0.responders.0.ip %]',
      'Content-Length: 0'
    ]
  - [
      '^SIP/2.0 401 Unauthorized',
      'From: <sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test>;tag=',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test>;tag=',
      'CSeq: 1 REGISTER',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: [% scenarios.0.responders.0.ip %]',
      'WWW-Authenticate: Digest',
      'Content-Length: 0'
    ]
