messages:
- - 'SIP/2.0 401 Unauthorized'
  - 'From: <sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'WWW-Authenticate: Digest realm="invite-wrong-reg.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-wrong-reg.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'Contact: <sip:[% scenarios.0.responders.0.username %]@@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %]>;expires=\d+'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
