messages:
- - 'INVITE sip:E1112@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=udp SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+;did=[^;]+>'
  - 'From: <sip:[% invite_emergency_pidflo_scenarios_test.testuser1002.phone_number %]@invite-emergency-pidflo.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:E1112@[% scenarios.0.responders.0.ip %]>'
  - 'CSeq: \d+ INVITE'
  - 'Geolocation: <cid:\d+@invite-emergency-pidflo.scenarios.test>'
  - 'Call-Info: <cid:\d+@invite-emergency-pidflo.scenarios.test>;purpose=emergencyCallData'
  - 'P-Asserted-Identity: <sip:[% invite_emergency_pidflo_scenarios_test.testuser1002.phone_number %]@invite-emergency-pidflo.scenarios.test>'
  - 'Content-Type: multipart/mixed;boundary="unique-boundary-1"'
  - 'Content-Length: \d+'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
  - '--unique-boundary-1'
  - 'Content-Type: application/sdp'
  - 'v=0'
  - 'o=user1 \d+ \d+ IN IP4 [% server_ip %]'
  - 's=-'
  - 'c=IN IP4 [% server_ip %]'
  - 't=0 0'
  - 'm=audio \d+ RTP/AVP 8'
  - 'a=rtpmap:8 PCMA/8000'
  - 'a=sendrecv'
  - 'a=rtcp:\d+'
  - 'a=ptime:50'
  - '--unique-boundary-1'
  - 'Content-Type: application/pidf\+xml'
  - 'Content-ID: cid:\d+@invite-emergency-pidflo.scenarios.test'
  - 'Content-Disposition: by-reference;handling=optional'
  - '<\?xml version="1.0" encoding="UTF-8"\?>'
  - '<presence'
  - ' xmlns="urn:ietf:params:xml:ns:pidf"'
  - ' xmlns:gp="urn:ietf:params:xml:ns:pidf:geopriv10"'
  - ' xmlns:gml="http://www.opengis.net/gml"'
  - ' xmlns:gs="http://www.opengis.net/pidflo/1.0"'
  - ' xmlns:cl="urn:ietf:params:xml:ns:pidf:geopriv10:civicAddr"'
  - ' entity="pres:123@t-mobile.de">'
  - ' <tuple id="arcband">'
  - ' <status>'
  - ' <gp:geopriv>'
  - ' <gp:location-info>'
  - ' <gml:location>'
  - ' <gs:ArcBand srsName="urn:ogc:def:crs:EPSG:: 4258"'
  - ' xmlns:gs="http://www.opengis.net/pidflo/1.0"'
  - ' xmlns:gml="http://www.opengis.net/gml">'
  - ' <gml:pos>'
  - ' 49.8967 8.6228'
  - ' </gml:pos>'
  - ' <gs:innerRadius uom="urn:ogc:def:uom:EPSG::9001">'
  - ' 0'
  - ' </gs:innerRadius>'
  - ' <gs:outerRadius uom="urn:ogc:def:uom:EPSG::9001">'
  - ' 2005'
  - ' </gs:outerRadius>'
  - ' <gs:startAngle uom="urn:ogc:def:uom:EPSG::9102">'
  - ' 328'
  - ' </gs:startAngle>'
  - ' <gs:openingAngle uom="urn:ogc:def:uom:EPSG::9102">'
  - ' 64'
  - ' </gs:openingAngle>'
  - ' </gs:ArcBand>'
  - ' </gml:location>'
  - ' <con:confidence>100</con:confidence>'
  - ' <cl:civicAddress xml:lang="de">'
  - ' <cl:LOC>Mobilfunkzelle</cl:LOC>'
  - ' <cl:ADDCODE>26201F1080939A</cl:ADDCODE>'
  - ' </cl:civicAddress>'
  - ' </gp:location-info>'
  - ' <gp:usage-rules>'
  - ' <gbp:retransmission-allowed>yes</gbp:retransmission-allowed>'
  - ' <gbp:retention-expiry>[^<]+</gbp:retention-expiry>'
  - ' </gp:usage-rules>'
  - ' </gp:geopriv>'
  - ' </status>'
  - ' <timestamp>\d{4}-\d{2}-[^<]+</timestamp>'
  - ' </tuple>'
  - '</presence>'
  - '--unique-boundary-1'
  - 'Content-Type: application/emergencyCall.ProviderInfo\+xml'
  - 'Content-ID: cid:\d+@invite-emergency-pidflo.scenarios.test'
  - 'Content-Disposition: by-reference;handling=optional'
  - '<\?xml version="1.0" encoding="UTF-8"\?>'
  - '<emergencyCall.ProviderInfo xmlns="urn:ietf:params:xml:ns:emergencyCall.ProviderInfo">'
  - ' <DataProviderString>Telekom</DataProviderString>'
  - ' <ProviderID>D150</ProviderID>'
  - ' <contactURI>sip:\+492911234567@telekom.de;user=phone</contactURI>'
  - ' <ProviderIDSeries>BNetzA</ProviderIDSeries>'
  - '</emergencyCall.ProviderInfo>'
  - '--unique-boundary-1--'
- - 'ACK sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+>'
  - 'From: <sip:[% invite_emergency_pidflo_scenarios_test.testuser1002.phone_number %]@invite-emergency-pidflo.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:E1112@[% scenarios.0.responders.0.ip %]>;tag=[\w-]+'
  - 'CSeq: \d+ ACK'
  - 'Content-Length: 0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'BYE sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+>'
  - 'From: <sip:[% invite_emergency_pidflo_scenarios_test.testuser1002.phone_number %]@invite-emergency-pidflo.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:E1112@[% scenarios.0.responders.0.ip %]>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'P-Asserted-Identity: <sip:[% invite_emergency_pidflo_scenarios_test.testuser1002.phone_number %]@invite-emergency-pidflo.scenarios.test>'
  - 'Content-Length: 0'
