cdr:
  - source_user: 'AD_testuser1002'
    source_domain: 'dom.invite_offline.test'
    source_cli: '43301002'
    destination_user: 'AD_testuser1003'
    destination_domain: 'dom.invite_offline.test'
    destination_user_dialed: '43301003'
    call_type: 'call'
    call_status: 'noanswer'
    call_code: '480'
    duration: '0'
  - source_user: 'AD_testuser1002'
    source_domain: 'dom.invite_offline.test'
    source_cli: '43301002'
    destination_user: 'AD_testuser1003'
    destination_domain: 'dom.invite_offline.test'
    destination_user_dialed: 'AD_testuser1003'
    call_type: 'call'
    call_status: 'noanswer'
    call_code: '480'
    duration: '0'