{
    "@invite-stir.scenarios.test": {
        "nat_sipping": "no",
        "stir_pub_url": "http://fake.url/pub.key",
        "stir_check": true
    },
    "[% scenarios.1.responders.0.username %]@invite-stir.scenarios.test": {
        "stir_check": false
    }
}
