flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
  - start|FAILURE_ROUTE_LOCAL:
      $xavp(callee_real_prefs[0]=>e164_to_ruri): 1
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_STOP_RTPPROXY_BRANCH:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_STOP_RTPPROXY_BRANCH:
  - start|ROUTE_CF_CFNA:
  - return|ROUTE_CF_CFNA:
  - start|ROUTE_CODES_ANNOUNCEMENTS_MAPPING:
  - return|ROUTE_CODES_ANNOUNCEMENTS_MAPPING:
  - start|ROUTE_EARLY_REJECT:
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - start|ROUTE_LOCAL_REPLY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|dialog:failed:
  - return|dialog:failed:
  - return|dialog:failed:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
  - exit|ROUTE_EXIT:
sip_in:
  - 'SIP/2.0 404 Not Found'
  - 'From: <sip:4311002@spce.test>;tag=[\w-]+'
  - 'To: <sip:testuser1003@spce.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Length: 0'
sip_out:
  - [
      'ACK sip:testuser1003@127.1.0.1:\d+ SIP/2.0',
      'From: <sip:4311002@spce.test>;tag=[\w-]+',
      'To: <sip:testuser1003@spce.test>;tag=[\w-]+',
      'CSeq: \d+ ACK',
      'Content-Length: 0',
    ]
  - [
      'SIP/2.0 404 Not Found',
      'From: <sip:testuser1002@spce.test>;tag=[\w-]+',
      'To: <sip:testuser1003@spce.test>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'P-Out-Socket: udp:127.0.0.1:5060',
      'P-NGCP-Auth-IP: 127.126.0.1',
      'P-NGCP-Auth-UA: <null>',
      'P-NGCP-Authorization: testuser1002@spce.test',
      'P-NGCP-Authorized: 1',
      'P-NGCP-Caller-Info: <sip:testuser1002@spce.test>;ip=127.126.0.1;port=\d+;primary=4311002',
      'P-Caller-UUID: [% spce_test.testuser1002.uuid %]',
      'P-Callee-Uuid: [% spce_test.testuser1003.uuid %]',
      'P-NGCP-Caller-Info: <sip:testuser1002@spce.test>;ip=127.126.0.1;port=\d+;primary=4311002',
      'P-NGCP-Callee-Info: <sip:testuser1003@spce.test>;ip=127.1.0.1;port=\d+;primary=4311003',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
