flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'SIP/2.0 180 Ringing'
  - 'From: <sip:[% invite_announce_before_call_scenarios_test.testuser1002.phone_number %]@invite-announce-before-call.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.3.responders.0.username %]@invite-announce-before-call.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
sip_out:
  - [
      'SIP/2.0 180 Ringing',
      'From: <sip:[% scenarios.3.username %]@invite-announce-before-call.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.3.responders.0.username %]@invite-announce-before-call.scenarios.test>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'P-Early-Media: sendonly',
    ]
