messages:
- - 'SIP/2.0 400 Bad Auth Header'
  - 'From: <sip:[% scenarios.0.responders.0.username %]@sanity.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@sanity.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 400 Invalid From Header'
  - 'From: 500'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@sanity.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 400 Invalid To Header'
  - 'From: <sip:[% scenarios.0.responders.0.username %]@sanity.scenarios.test>;tag=[\w-]+'
  - 'To: 500;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 400 Bad Contact Header'
  - 'From: <sip:[% scenarios.0.responders.0.username %]@sanity.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@sanity.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
