messages:
- - 'INVITE sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=udp SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+;leg_b=1;did=[^;]+>'
  - 'From: <sip:[% invite_peerout_stir_scenarios_test.testuser1002.phone_number %]@invite-peerout-stir.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]>'
  - 'CSeq: \d+ INVITE'
  - 'Identity: [^;]+;info=<http://fake.url/pub.key>;alg=ES256;ppt=shaken'
  - 'P-Asserted-Identity: <sip:[% invite_peerout_stir_scenarios_test.testuser1002.phone_number %]@invite-peerout-stir.scenarios.test>'
  - 'Content-Type: application/sdp'
  - 'Content-Length: \d+'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
  - 'v=0'
  - 'o=user1 \d+ \d+ IN IP4 [% server_ip %]'
  - 's=-'
  - 'c=IN IP4 [% server_ip %]'
  - 't=0 0'
  - 'm=audio \d+ RTP/AVP 8'
  - 'a=rtpmap:8 PCMA/8000'
  - 'a=sendrecv'
  - 'a=rtcp:\d+'
  - 'a=ptime:50'
- - 'ACK sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+>'
  - 'From: <sip:[% invite_peerout_stir_scenarios_test.testuser1002.phone_number %]@invite-peerout-stir.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]>;tag=[\w-]+'
  - 'CSeq: \d+ ACK'
  - 'Content-Length: 0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'BYE sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+>'
  - 'From: <sip:[% invite_peerout_stir_scenarios_test.testuser1002.phone_number %]@invite-peerout-stir.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'P-Asserted-Identity: <sip:[% invite_peerout_stir_scenarios_test.testuser1002.phone_number %]@invite-peerout-stir.scenarios.test>'
  - 'Content-Length: 0'
