Source: kamailio-config-tests
Section: devel
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper-compat (= 12),
 devscripts,
 libconfig-tiny-perl,
 libhash-merge-perl,
 libjson-perl,
 libtemplate-perl,
 libtext-csv-perl,
 libyaml-libyaml-perl,
 python3:any,
Recommends:
 libgraphviz-perl,
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/

Package: kamailio-config-tests
Architecture: all
Depends:
 curl,
 libconfig-tiny-perl,
 libfile-slurp-perl,
 libhash-merge-perl,
 libio-compress-perl,
 libjson-perl,
 libtemplate-perl,
 libtext-csv-perl,
 libyaml-libyaml-perl,
 ngcp-provisioning-tools,
 parallel,
 python3-aioxmpp,
 python3-pyinotify,
 python3-yaml,
 python3:any,
 sip-tester (>= 1:3.3-1~),
 tcpdump,
 ${misc:Depends},
 ${perl:Depends},
Recommends:
 libgraphviz-perl,
Description: Kamailio configuration tests
 Scripts and tests scenarios to check Kamailio configuration.
