Source: kamailio-config-tests
Section: Development
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: http://www.sipwise.com/

Package: kamailio-config-tests
Architecture: all
Depends: curl,
         libgraphviz-perl,
         libtemplate-perl,
         libtext-csv-perl,
         ngcp-ossbss-clients-perl,
         parallel,
         python,
         python-yaml,
         sip-tester ( >= 1:3.2-1~ ),
         tcpdump,
         ${misc:Depends}
Description: Kamailio configuration tests
 scripts and tests scenarios to check Kamailio configuration
