flow:
    - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
    - start|ROUTE_ENTRY:
    - return|ROUTE_ENTRY:
    - start|ROUTE_PREPARE_UA:
    - return|ROUTE_PREPARE_UA:
    - start|ROUTE_EXIT:
    - start|ROUTE_RUNTIME:
    - return|ROUTE_RUNTIME:
    - start|FAILURE_ROUTE_LOCAL:
    - start|ROUTE_INITVARS:
    - return|ROUTE_INITVARS:
    - start|ROUTE_STOP_RTPPROXY_BRANCH:
    - start|ROUTE_RESTORE_CLUSTERSET:
    - return|ROUTE_RESTORE_CLUSTERSET:
    - return|ROUTE_STOP_RTPPROXY_BRANCH:
    - start|ROUTE_CF_CFNA:
    - return|ROUTE_CF_CFNA:
    - start|ROUTE_EARLY_REJECT:
    - start|ROUTE_ADD_CALLINFO_REPLY:
    - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
    - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
    - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
    - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
    - return|ROUTE_ADD_CALLINFO_REPLY:
    - start|dialog:failed:
    - return|dialog:failed:
        $avp(lua_dlg_profile): None
    - return|dialog:failed:
    - start|ROUTE_EARLY_REJECT:
    - start|ROUTE_RUNTIME:
    - return|ROUTE_RUNTIME:
    - start|FAILURE_ROUTE_LOCAL:
    - exit|ROUTE_EXIT:
    - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 302 Moved Temporarily'
  - 'From: <sip:4311002@'
  - 'To: <sip:testuser1003@'
  - 'CSeq: 2 INVITE'
sip_out:
  - [
      '^ACK sip:testuser1003@',
      'From: <sip:4311002@',
      'To: <sip:testuser1003@',
      'CSeq: 2 ACK',
      'Max-Forwards: 68',
      'Content-Length: 0'
    ]
  - [
      '^SIP/2.0 302 Moved Temporarily',
      'From: <sip:testuser1002@',
      'To: <sip:testuser1003@',
      'CSeq: 2 INVITE'
    ]
