cdr:
  - source_user: 'AK_testuser1002'
    source_domain: 'dom.invite_redirect_blocked.test'
    source_cli: '4311002'
    destination_user: 'AK_testuser1003'
    destination_domain: 'dom.invite_redirect_blocked.test'
    destination_user_dialed: 'AK_testuser1003'
    call_type: 'call'
    call_status: 'other'
    call_code: '302'
    duration: '0'