# INVITE_OFFLINE scenario
flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|dialog:end:
  - return|dialog:end:
      $avp(lua_dlg_profile): None
  - return|dialog:end:
  - start|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_OUTBOUND:
  - start|ROUTE_APPLY_HDR:
  - return|ROUTE_APPLY_HDR:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^BYE sip:127.0.0.1:5080(;prxroute=1)? SIP/2.0'
  - 'Contact: sip:004321001@'
  - 'CSeq: 2 BYE'
  - 'Max-Forwards: 69'
  - 'Content-Length: 0'
  - 'From: <sip:004321001@'
  - 'To: <sip:4311003@'

sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'CSeq: 2 BYE',
      'Content-Length: 0',
      'From: <sip:004321001@',
      'To: <sip:4311003@'
    ]
  - [
      '^BYE sip:127.0.0.1:5080(;prxroute=1)? SIP/2.0',
      'Contact: sip:004321001@',
      'CSeq: 2 BYE',
      'Max-Forwards: 68',
      'Content-Length: 0',
      'From: <sip:004321001@',
      'To: <sip:4311003@'
    ]
