flow:
- start|REPLY_ROUTE_NAT:
- 'start|tm:branch-failure:redirect':
- start|ROUTE_STOP_RTPPROXY_BRANCH:
- start|ROUTE_RESTORE_CLUSTERSET:
- return|ROUTE_RESTORE_CLUSTERSET:
- return|ROUTE_STOP_RTPPROXY_BRANCH:
- start|ROUTE_INITVARS:
- return|ROUTE_INITVARS:
- start|ROUTE_LOAD_CALLER_PREF:
- start|ROUTE_CLEAR_CALLER_PREF:
- return|ROUTE_CLEAR_CALLER_PREF:
- start|ROUTE_LOAD_CALLER_CONTRACT_PREF:
- return|ROUTE_LOAD_CALLER_CONTRACT_PREF:
- return|ROUTE_LOAD_CALLER_PREF:
- start|ROUTE_FIND_CALLEE:
- start|ROUTE_CLEAR_CALLEE_PREF:
- return|ROUTE_CLEAR_CALLEE_PREF:
- start|ROUTE_NCOS:
- return|ROUTE_NCOS:
- start|ROUTE_NCOS:
- return|ROUTE_NCOS:
- start|ROUTE_NCOS:
- return|ROUTE_NCOS:
- start|ROUTE_NCOS:
- return|ROUTE_NCOS:
- start|ROUTE_BLOCK_OUT:
- return|ROUTE_BLOCK_OUT:
- start|ROUTE_LOAD_CALLEE_PREF:
- start|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
- return|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
- start|ROUTE_SET_CALLEE_DIALOG:
- return|ROUTE_SET_CALLEE_DIALOG:
- start|ROUTE_BLOCK_IN:
- return|ROUTE_BLOCK_IN:
- return|ROUTE_LOAD_CALLEE_PREF:
- start|ROUTE_CHECK_PBX:
- return|ROUTE_CHECK_PBX:
- start|ROUTE_INVITE_TO_INT:
- start|ROUTE_OUTBOUND:
- start|ROUTE_SET_CALLER_DIALOG:
- return|ROUTE_SET_CALLER_DIALOG:
- start|ROUTE_ACC_CALLER:
- return|ROUTE_ACC_CALLER:
- start|ROUTE_ACC_CALLEE:
- return|ROUTE_ACC_CALLEE:
- start|BRANCH_ROUTE_SBC:
- start|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
- return|ROUTE_LOAD_CALLEE_CONTRACT_PREF:
- start|ROUTE_SET_CALLEE_DIALOG:
- return|ROUTE_SET_CALLEE_DIALOG:
- start|ROUTE_BRANCH_ACC_RTP:
- return|ROUTE_BRANCH_ACC_RTP:
- start|ROUTE_SET_RUSER:
- return|ROUTE_SET_RUSER:
- start|ROUTE_PREPARE_SST:
- return|ROUTE_PREPARE_SST:
- start|ROUTE_PREPARE_MOH:
- return|ROUTE_PREPARE_MOH:
- start|ROUTE_SET_CALLER_CLI:
- start|ROUTE_PREPARE_CALLER_CLI:
- return|ROUTE_PREPARE_CALLER_CLI:
- start|ROUTE_PREPARE_CALLER_CLI:
- return|ROUTE_PREPARE_CALLER_CLI:
- start|ROUTE_PREPARE_CALLER_CLI:
- return|ROUTE_PREPARE_CALLER_CLI:
- start|ROUTE_PREPARE_CALLER_CLI:
- return|ROUTE_PREPARE_CALLER_CLI:
- start|ROUTE_PREPARE_CALLER_CLI:
- return|ROUTE_PREPARE_CALLER_CLI:
- return|ROUTE_SET_CALLER_CLI:
- start|ROUTE_SET_CALLEE:
- return|ROUTE_SET_CALLEE:
- start|ROUTE_ADD_CALLINFO:
- return|ROUTE_ADD_CALLINFO:
- return|BRANCH_ROUTE_SBC:
- return|BRANCH_ROUTE_SBC:
- exit|ROUTE_OUTBOUND:
- exit|ROUTE_OUTBOUND:
sip_in:
  - '^SIP/2.0 302 Moved Temporarily'
  - 'From: <sip:4311002@'
  - 'To: <sip:testuser1003@'
  - 'CSeq: 2 INVITE'
sip_out:
  - [
      '^ACK sip:testuser1003@',
      'From: <sip:4311002@',
      'To: <sip:testuser1003@',
      'CSeq: 2 ACK',
      'Max-Forwards: 68',
      'Content-Length: 0'
    ]
  - [
      '^INVITE sip:testuser1004@',
      'From: <sip:4311002@',
      'To: <sip:testuser1003@',
      'CSeq: 2 INVITE',
      'Contact: sip:testuser1002@',
      'Max-Forwards: 68',
      'Content-Type: application/sdp',
      'P-Caller-UUID: \w+',
      'P-Callee-UUID: \w+',
      'P-Asserted-Identity: <sip:4311002@',
      'P-Called-Party-ID: <sip:testuser1004@',
      'P-App-Name: sbc',
      'P-NGCP-Caller-Info: <sip:testuser1002@',
      'P-NGCP-Callee-Info: <sip:testuser1004@'
    ]
