cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: 'invite-redirect.scenarios.test'
    source_cli: '[% invite_redirect_scenarios_test.testuser1002.phone_number %]'
    destination_user: '[% scenarios.0.responders.0.username %]'
    destination_domain: 'invite-redirect.scenarios.test'
    destination_user_dialed: '[% scenarios.0.responders.0.username %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: '[% scenarios.0.responders.0.username %]'
    source_domain: 'invite-redirect.scenarios.test'
    source_cli: '[% invite_redirect_scenarios_test.testuser1003.phone_number %]'
    destination_user: '[% scenarios.0.responders.1.username %]'
    destination_domain: 'invite-redirect.scenarios.test'
    destination_user_dialed: '[% scenarios.0.responders.1.username %]'
    call_type: 'cfb'
    call_status: 'ok'
    call_code: '200'