cdr:
  - source_user: 'testuser1002'
    source_domain: 'spce.test'
    source_cli: '4311002'
    destination_user: 'testuser1003'
    destination_domain: 'spce.test'
    destination_user_dialed: 'testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'testuser1003'
    source_domain: 'spce.test'
    source_cli: '4311002'
    destination_user: 'testuser1004'
    destination_domain: 'spce.test'
    destination_user_dialed: 'testuser1004'
    call_type: 'cfb'
    call_status: 'ok'
    call_code: '200'