{
    "@invite-redirect.scenarios.test": {
        "nat_sipping": "no"
    },
    "[% scenarios.0.responders.0.username %]@invite-redirect.scenarios.test": {
        "outbound_diversion": "uprn",
        "outbound_history_info": "uprn"
    },
    "[% scenarios.0.responders.1.username %]@invite-redirect.scenarios.test": {
        "outbound_diversion": "uprn",
        "outbound_history_info": "uprn"
    }
}
