cdr:
  - source_user: 'testuser1002'
    source_domain: 'invite-fritz-prefix-removal.scenarios.test'
    source_cli: '[% invite_fritz_prefix_removal_scenarios_test.testuser1002.phone_number %]'
    destination_user: '112'
    destination_domain: 'invite-fritz-prefix-removal.scenarios.test'
    destination_user_dialed: '\+431112'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'testuser1002'
    source_domain: 'invite-fritz-prefix-removal.scenarios.test'
    source_cli: '[% invite_fritz_prefix_removal_scenarios_test.testuser1002.phone_number %]'
    destination_user: 'abc[% invite_fritz_prefix_removal_scenarios_test.testuser1002.phone_number %]'
    destination_domain: 'voicebox.local'
    destination_user_dialed: '\+4312000'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'testuser1002'
    source_domain: 'invite-fritz-prefix-removal.scenarios.test'
    source_cli: '[% invite_fritz_prefix_removal_scenarios_test.testuser1002.phone_number %]'
    destination_user: '0999112'
    destination_domain: 'invite-fritz-prefix-removal.scenarios.test'
    destination_user_dialed: '0999112'
    call_type: 'call'
    call_status: 'noanswer'
    call_code: '480'
  - source_user: 'testuser1002'
    source_domain: 'invite-fritz-prefix-removal.scenarios.test'
    source_cli: '[% invite_fritz_prefix_removal_scenarios_test.testuser1002.phone_number %]'
    destination_user: 'emergency_110'
    destination_user_dialed: '00431110'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
