messages:
- - 'INVITE sip:emcprefix1110@[% scenarios.3.responders.0.ip %]:[% scenarios.3.responders.0.port %];transport=udp SIP/2.0'
  - 'From: <sip:[% invite_fritz_prefix_removal_scenarios_test.testuser1002.phone_number %]@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:emcprefix1110@[% scenarios.3.responders.0.ip %]>'
  - 'CSeq: \d+ INVITE'
  - 'P-Asserted-Identity: <sip:[% invite_fritz_prefix_removal_scenarios_test.testuser1002.phone_number %]@invite-fritz-prefix-removal.scenarios.test>'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'v=0'
  - 's=-'
  - 't=0 0'
  - 'm=audio \d+ RTP/AVP 8'
  - 'a=rtpmap:8 PCMA/8000'
  - 'a=sendrecv'
  - 'a=rtcp:\d+'
  - 'a=ptime:50'
- - 'ACK sip:[% scenarios.3.responders.0.ip %]:[% scenarios.3.responders.0.port %];transport=UDP SIP/2.0'
  - 'From: <sip:[% invite_fritz_prefix_removal_scenarios_test.testuser1002.phone_number %]@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:emcprefix1110@[% scenarios.3.responders.0.ip %]>;tag=[\w-]+'
  - 'CSeq: \d+ ACK'
  - 'Content-Length:\s+0'
- - 'BYE sip:[% scenarios.3.responders.0.ip %]:[% scenarios.3.responders.0.port %];transport=UDP SIP/2.0'
  - 'From: <sip:[% invite_fritz_prefix_removal_scenarios_test.testuser1002.phone_number %]@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:emcprefix1110@[% scenarios.3.responders.0.ip %]>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'P-Asserted-Identity: <sip:[% invite_fritz_prefix_removal_scenarios_test.testuser1002.phone_number %]@invite-fritz-prefix-removal.scenarios.test>'
  - 'Content-Length:\s+0'
