messages:
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:\+4312000@invite-fritz-prefix-removal.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 407 Proxy Authentication Required'
  - 'From: <sip:[% scenarios.0.username %]@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:\+4312000@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Proxy-Authenticate: Digest realm="invite-fritz-prefix-removal.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:\+4312000@invite-fritz-prefix-removal.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.username %]@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:\+4312000@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Server: NGCP Voicebox Server'
  - 'Allow: OPTIONS, REGISTER, SUBSCRIBE, NOTIFY, PUBLISH, INVITE, ACK, BYE, CANCEL, UPDATE, PRACK, MESSAGE'
  - 'Supported: 100rel, replaces, norefersub'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.username %]@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:\+4312000@invite-fritz-prefix-removal.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'Server: NGCP Voicebox Server'
  - 'Content-Length:\s+0'
