flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_LOCAL:
  - return|ROUTE_LOCAL:
sip_in:
  - 'ACK sip:testuser1003@'
  - 'From: \"[% invite_allowedcli_nonmatch_reject_scenarios_test.testuser1002.phone_number %]22\" <sip:testuser1002@invite-allowedcli-nonmatch-reject.scenarios.test>;tag='
  - 'To: <sip:testuser1003@invite-allowedcli-nonmatch-reject.scenarios.test>;tag='
  - 'Max-Forwards: 69'
  - 'Content-Length: 0'
sip_out: []
