cdr:
  - source_user: 'I_testuser1002'
    source_domain: 'dom.invite_allowedcli_nonmatch_reject.test'
    source_cli: '4309100222'
    destination_user: 'I_testuser1003'
    destination_domain: 'dom.invite_allowedcli_nonmatch_reject.test'
    destination_user_dialed: 'I_testuser1003'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'