cdr:
  - source_user: 'testuser1002'
    source_domain: 'invite-allowedcli-nonmatch-reject.scenarios.test'
    source_cli: '[% invite_allowedcli_nonmatch_reject_scenarios_test.testuser1002.phone_number %]22'
    destination_user: 'testuser1003'
    destination_domain: 'invite-allowedcli-nonmatch-reject.scenarios.test'
    destination_user_dialed: 'testuser1003'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'