messages:
- - 'SIP/2.0 100 Trying'
  - 'From: "431101622" <sip:[% scenarios.0.username %]@invite-allowedcli-nonmatch-reject.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-allowedcli-nonmatch-reject.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length: 0'
- - 'SIP/2.0 407 Proxy Authentication Required'
  - 'From: "431101622" <sip:[% scenarios.0.username %]@invite-allowedcli-nonmatch-reject.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-allowedcli-nonmatch-reject.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Proxy-Authenticate: Digest realm="invite-allowedcli-nonmatch-reject.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 100 Trying'
  - 'From: "431101622" <sip:[% scenarios.0.username %]@invite-allowedcli-nonmatch-reject.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-allowedcli-nonmatch-reject.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length: 0'
- - 'SIP/2.0 403 Forbidden'
  - 'From: "431101622" <sip:[% scenarios.0.username %]@invite-allowedcli-nonmatch-reject.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-allowedcli-nonmatch-reject.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
