flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_LEG_B:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'INVITE sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'From: <sip:[% invite_ignore_allowip_scenarios_test.testuser1002.phone_number %]@invite-ignore-allowip.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-ignore-allowip.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'P-LB-Uptime: \d+'
  - 'P-Asserted-Identity: <sip:[% invite_ignore_allowip_scenarios_test.testuser1002.phone_number %]@invite-ignore-allowip.scenarios.test>'
  - 'P-Caller-UUID: [% invite_ignore_allowip_scenarios_test.testuser1002.uuid %]'
  - 'P-NGCP-Caller-Info: <sip:[% scenarios.0.username %]@invite-ignore-allowip.scenarios.test>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %];primary=[% invite_ignore_allowip_scenarios_test.testuser1002.phone_number %]'
  - 'P-NGCP-Callee-Info: <sip:[% scenarios.0.responders.0.username %]@invite-ignore-allowip.scenarios.test>;ip=127.0.0.1;port=5060;primary=[% invite_ignore_allowip_scenarios_test.testuser1003.phone_number %]'
  - 'P-D-Uri: sip:lb@127.0.0.1;lr;socket=sip:127.0.0.1:5060'
  - 'Content-Type: application/sdp'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
  - 'Content-Length:\s+\d+'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:[% invite_ignore_allowip_scenarios_test.testuser1002.phone_number %]@invite-ignore-allowip.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-ignore-allowip.scenarios.test>',
      'CSeq: \d+ INVITE',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'INVITE sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0',
      'From: <sip:[% invite_ignore_allowip_scenarios_test.testuser1002.phone_number %]@invite-ignore-allowip.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-ignore-allowip.scenarios.test>',
      'CSeq: \d+ INVITE',
      'P-LB-Uptime: \d+',
      'P-Asserted-Identity: <sip:[% invite_ignore_allowip_scenarios_test.testuser1002.phone_number %]@invite-ignore-allowip.scenarios.test>',
      'P-Caller-UUID: [% invite_ignore_allowip_scenarios_test.testuser1002.uuid %]',
      'P-NGCP-Caller-Info: <sip:[% scenarios.0.username %]@invite-ignore-allowip.scenarios.test>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %];primary=[% invite_ignore_allowip_scenarios_test.testuser1002.phone_number %]',
      'P-NGCP-Callee-Info: <sip:[% scenarios.0.responders.0.username %]@invite-ignore-allowip.scenarios.test>;ip=127.0.0.1;port=5060;primary=[% invite_ignore_allowip_scenarios_test.testuser1003.phone_number %]',
      'P-D-Uri: sip:lb@127.0.0.1;lr;socket=sip:127.0.0.1:5060',
      'Content-Type: application/sdp',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'Content-Length:\s+\d+',
    ]
