cdr:
  - source_user: 'X_testuser1002'
    source_domain: 'dom.invite_concurrent_max_per_account.test'
    source_cli: '4311002'
    destination_user: 'X_testuser1003'
    destination_domain: 'dom.invite_concurrent_max_per_account.test'
    destination_user_dialed: 'X_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'X_testuser1002'
    source_domain: 'dom.invite_concurrent_max_per_account.test'
    source_cli: '4311002'
    destination_user: 'X_testuser1004'
    destination_domain: 'dom.invite_concurrent_max_per_account.test'
    destination_user_dialed: 'X_testuser1004'
    call_type: 'call'
    call_status: 'busy'
    call_code: '486'
    duration: '0'