flow:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_COLLECT_HDR:
  - return|ROUTE_COLLECT_HDR:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_APPLY_HDR:
  - return|ROUTE_APPLY_HDR:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'CSeq: 2 INVITE'
  - 'From: <sip:4311002@'
  - 'To: <sip:004321001@'
sip_out:
  - [
      '^SIP/2.0 180 Ringing',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
      'To: <sip:004321001@',
    ]
