flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_LEG_B:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'INVITE sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'From: <sip:[% scenarios.0.username %]@invite-reinvite-transcoding.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-reinvite-transcoding.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'P-LB-Uptime: \d+'
  - 'P-Asserted-Identity: <sip:[% scenarios.0.username %]@invite-reinvite-transcoding.scenarios.test>'
  - 'P-Caller-UUID: 0'
  - 'P-NGCP-Caller-Info: <sip:[% scenarios.0.username %]@[% scenarios.0.ip %]>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %]'
  - 'P-NGCP-Callee-Info: <sip:[% scenarios.0.responders.0.username %]@invite-reinvite-transcoding.scenarios.test>;ip=[% scenarios.0.responders.0.ip %];port=[% scenarios.0.responders.0.port %];primary=[% invite_reinvite_transcoding.testuser1001.phone_number %]'
  - 'P-D-Uri: sip:lb@127.0.0.1;lr;(received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];)?socket=sip:[% server_ip %]:5060'
  - 'Content-Type: application/sdp'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
  - 'Content-Length:\s+\d+'
  - 'a=rtpmap:8 PCMA/8000'
  - 'a=rtpmap:0 PCMU/8000'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:[% scenarios.0.username %]@invite-reinvite-transcoding.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-reinvite-transcoding.scenarios.test>',
      'CSeq: \d+ INVITE',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'INVITE sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0',
      'From: <sip:[% scenarios.0.username %]@invite-reinvite-transcoding.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.0.username %]@invite-reinvite-transcoding.scenarios.test>',
      'CSeq: \d+ INVITE',
      'P-LB-Uptime: \d+',
      'P-Asserted-Identity: <sip:[% scenarios.0.username %]@invite-reinvite-transcoding.scenarios.test>',
      'P-Caller-UUID: 0',
      'P-NGCP-Caller-Info: <sip:[% scenarios.0.username %]@[% scenarios.0.ip %]>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %]',
      'P-NGCP-Callee-Info: <sip:[% scenarios.0.responders.0.username %]@invite-reinvite-transcoding.scenarios.test>;ip=[% scenarios.0.responders.0.ip %];port=[% scenarios.0.responders.0.port %];primary=[% invite_reinvite_transcoding.testuser1001.phone_number %]',
      'P-D-Uri: sip:lb@127.0.0.1;lr;(received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];)?socket=sip:[% server_ip %]:5060',
      'Content-Type: application/sdp',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'Content-Length:\s+\d+',
      'a=rtpmap:8 PCMA/8000',
      'a=rtpmap:0 PCMU/8000',
    ]
