flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'SIP/2.0 100 Trying'
  - 'From: <sip:testuser1001@spce.test>;tag=[\w-]+'
  - 'To: <sip:004321001@127.0.2.1>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB 9.X'
  - 'Content-Length: 0'
sip_out: []
