flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
  - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.responders.0.username %]@invite-reinvite-transcoding.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@[% scenarios.0.domain %]>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Length: 0'
sip_out: []
