flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.responders.0.username %]@invite-reinvite-transcoding.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@[% scenarios.0.domain %]>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Contact: <sip:127.0.0.1:508[08];transport=udp>'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'a=rtpmap:18 G729/8000'
  - '_:NOT:_a=rtpmap:8 PCMA/8000'
  - '_:NOT:_a=rtpmap:0 PCMU/8000'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:[% scenarios.0.responders.0.username %]@invite-reinvite-transcoding.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.username %]@[% scenarios.0.domain %]>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'Contact: <sip:127.0.0.1:508[08];transport=udp>',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'a=rtpmap:18 G729/8000',
      '_:NOT:_a=rtpmap:8 PCMA/8000',
      '_:NOT:_a=rtpmap:0 PCMU/8000',
    ]
