cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: '[% scenarios.0.ip %]'
    source_cli: '[% scenarios.0.username %]'
    destination_user: '[% scenarios.0.responders.0.username %]'
    destination_domain: 'invite-reinvite-transcoding.scenarios.test'
    destination_user_dialed: '[% scenarios.0.responders.0.username %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'