messages:
- - 'SIP/2.0 401 Unauthorized'
  - 'From: <sip:[% scenarios.0.username %]@register-allowip.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@register-allowip.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'WWW-Authenticate: Digest realm="register-allowip.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 403 Unauthorized IP detected'
  - 'From: <sip:[% scenarios.0.username %]@register-allowip.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@register-allowip.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
