cdr:
  - source_user: 'Q_testuser1002'
    source_domain: 'dom.invite_blockout_ncos.test'
    source_cli: '4311002'
    destination_user: 'Q_testuser1003'
    destination_domain: 'dom.invite_blockout_ncos.test'
    destination_user_dialed: '4311003'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'
    duration: '0'