flow:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
      $avp(lua_dlg_profile): [
        "accountout:[% cst.invite_peerout.test.id %]",
        "userout:[% dom.invite_peerout.test.6_testuser1002.uuid %]",
        "account:[% cst.invite_peerout.test.id %]",
        "user:[% dom.invite_peerout.test.6_testuser1002.uuid %]",
        "totalaccountout:[% cst.invite_peerout.test.id %]",
        "totaluserout:[% dom.invite_peerout.test.6_testuser1002.uuid %]",
        "totalaccount:[% cst.invite_peerout.test.id %]",
        "totaluser:[% dom.invite_peerout.test.6_testuser1002.uuid %]",
        "total",
        "relay",
        "peerout:[% 6_peer_00_host0.id %]",
        "peer:[% 6_peer_00_host0.id %]",
        "outgoing"
      ]
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'CSeq: 2 INVITE'
  - 'From: <sip:4311002@'
  - 'To: <sip:004321001@'
sip_out:
  - [
      '^SIP/2.0 180 Ringing',
      'CSeq: 2 INVITE',
      'From: <sip:6_testuser1002@',
      'To: <sip:004321001@',
    ]
