cdr:
  - source_user: 'F_testuser1002'
    source_domain: 'dom.invite_peerout.test'
    source_cli: '4361002'
    destination_user: '004366661001'
    destination_domain: '127.6.2.1'
    destination_user_dialed: '004366001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'