{
    "testuser1002@invite-peerout.scenarios-lnp.test": {
        "rewrite_rule_set": "rw_invite_peerout_lnp"
    },
    "peer_invite_peerout_host0": {
        "concurrent_max": 1,
        "rewrite_rule_set": "rw_invite_peerout_lnp",
        "lnp_add_npdi": true
    }
}
