flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_INVITE:
  - start|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_CLEAR_CALLEE_DOMAIN_PREF:
  - return|ROUTE_LOAD_CALLEE_DOMAIN_PREF:
  - start|ROUTE_FIND_CALLER:
  - start|ROUTE_PSTN_SELECT_INBOUND_PEER:
  - return|ROUTE_PSTN_SELECT_INBOUND_PEER:
  - start|ROUTE_CLEAR_PEER_IN_PREF:
  - return|ROUTE_CLEAR_PEER_IN_PREF:
  - start|ROUTE_LOAD_PEER_IN_PREF:
  - start|ROUTE_DLG_MANAGE:
  - return|ROUTE_DLG_MANAGE:
  - return|ROUTE_LOAD_PEER_IN_PREF:
      $avp(lua_dlg_profile): ["peer:[% peer_incoming_peer_ua_00_host0.id %]", "total"]
  - return|ROUTE_FIND_CALLER:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_GET_CALLER_CLI:
  - return|ROUTE_GET_CALLER_CLI:
  - start|ROUTE_GET_CALLER_CLI:
  - return|ROUTE_GET_CALLER_CLI:
  - start|ROUTE_GET_FORWARDER_CLI:
  - return|ROUTE_GET_FORWARDER_CLI:
  - start|ROUTE_CLIR:
  - return|ROUTE_CLIR:
  - start|ROUTE_CALLER_BLOCK_CLI:
  - return|ROUTE_CALLER_BLOCK_CLI:
  - start|ROUTE_FIND_CALLEE:
  - start|ROUTE_DETECT_LOOP:
  - return|ROUTE_DETECT_LOOP:
  - start|ROUTE_CLEAR_CALLEE_PREF:
  - return|ROUTE_CLEAR_CALLEE_PREF:
  - start|ROUTE_LNP:
  - start|ROUTE_ACC_FAILURE:
      $avp(callee_lnp_authoritative): [1]
      $avp(callee_uuid): [0]
      $var(announce_handle): "callee_unknown"
  - start|ROUTE_ACC_CALLER:
  - start|ROUTE_SET_ACC_CALLER_CALL_COUNTERS:
  - return|ROUTE_SET_ACC_CALLER_CALL_COUNTERS:
  - return|ROUTE_ACC_CALLER:
  - start|ROUTE_ACC_CALLEE:
  - start|ROUTE_SET_ACC_CALLEE_CALL_COUNTERS:
  - return|ROUTE_SET_ACC_CALLEE_CALL_COUNTERS:
  - return|ROUTE_ACC_CALLEE:
  - return|ROUTE_ACC_FAILURE:
  - start|ROUTE_EARLY_REJECT:
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - start|ROUTE_LOCAL_REPLY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|dialog:failed:
  - return|dialog:failed:
      $avp(lua_dlg_profile): None
  - return|dialog:failed:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^INVITE sip:[% extra_info.phone_numbers.0 %]@'
  - 'From: <sip:[% scenarios.0.username %]@[% scenarios.0.domain %]>'
  - 'To: <sip:[% extra_info.phone_numbers.0 %]@'
  - 'CSeq: 1 INVITE'
  - 'Max-Forwards: 69'
  - 'Content-Type: application/sdp'
  - 'P-NGCP-Src-Ip: [% scenarios.0.ip %]'
  - 'P-NGCP-Src-Port: [% scenarios.0.port %]'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
  - 'P-Sock-Info: udp:[% server_ip %]:5060'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'From: <sip:[% scenarios.0.username %]@[% scenarios.0.domain %]>',
      'To: <sip:[% extra_info.phone_numbers.0 %]',
      'CSeq: 1 INVITE',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: [% scenarios.0.ip %]',
      'Content-Length:\s+0'
    ]
  - [
      '^SIP/2.0 404 Not Found',
      'From: <sip:[% scenarios.0.username %]@[% scenarios.0.domain %]>',
      'To: <sip:[% extra_info.phone_numbers.0 %]@',
      'CSeq: 1 INVITE',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: [% scenarios.0.ip %]',
      'P-NGCP-Caller-Info: <sip:[% scenarios.0.username %]@[% scenarios.0.ip %]>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %]',
      'P-NGCP-Callee-Info: <sip:[% extra_info.phone_numbers.0 %]@incoming-peer-unallocated-authoritative.scenarios-lnp.test>;ip=incoming-peer-unallocated-authoritative.scenarios-lnp.test;port=5060',
      'Content-Length:\s+0'
    ]
