cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: '[% scenarios.0.ip %]'
    source_cli: '[% scenarios.0.username %]'
    destination_user: '[% extra_info.phone_numbers.0 %]'
    destination_domain: 'incoming-peer-unallocated-authoritative.scenarios-lnp.test'
    destination_user_dialed: '[% extra_info.phone_numbers.0 %]'
    call_type: 'call'
    call_status: 'offline'
    call_code: '404'