{
    "peer_incoming_peer_ua_00_host0": {
    	"lnp_add_npdi": true,
    	"lnp_to_rn": true,
        "concurrent_max": 1
    },
    "@incoming-peer-unallocated-authoritative.scenarios-lnp.test": {
        "nat_sipping": "no"
    }
}
