# INVITE_OFFLINE scenario
flow:
  - start|MAIN:
  - start|ROUTE_NET_INFO:
  - end|ROUTE_NET_INFO:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_OUTBOUND:
sip_in:
  - '^ACK sip:vmu4311001@127.0.0.1:5070 SIP/2.0'
  - 'Contact: <sip:127.0.0.1:5080(;transport=udp)?>'
  - 'CSeq: 10 ACK'
  - 'Content-Length: 0'
  - 'From: <sip:testuser1002@'
  - 'To: <sip:testuser1001@'
sip_out:
  - [
      '^ACK sip:vmu4311001@127.0.0.1:5070 SIP/2.0',
      'Contact: <sip:127.0.0.1:5080(;transport=udp)?>',
      'CSeq: 10 ACK',
      'Content-Length: 0',
      'From: <sip:4311002@',
      'To: <sip:testuser1001@'
    ]
