cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: 'invite-voicebox.scenarios.test'
    source_cli: '[% invite_voicebox_scenarios_test.testuser1002.phone_number %]'
    destination_user: '[% scenarios.0.responders.0.username %]'
    destination_domain: 'invite-voicebox.scenarios.test'
    destination_user_dialed: '[% scenarios.0.responders.0.username %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: '[% scenarios.0.responders.0.username %]'
    source_domain: 'invite-voicebox.scenarios.test'
    source_cli: '[% invite_voicebox_scenarios_test.testuser1001.phone_number %]'
    destination_user: 'vmu[% invite_voicebox_scenarios_test.testuser1001.phone_number %]'
    destination_domain: 'voicebox.local'
    destination_user_dialed: 'vmu[% invite_voicebox_scenarios_test.testuser1001.phone_number %]'
    destination_user_in: 'vmu[% invite_voicebox_scenarios_test.testuser1001.phone_number %]'
    destination_domain_in: 'voicebox.local'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'