cdr:
  - source_user: 'AP_testuser1002'
    source_domain: 'dom.invite_voicebox.test'
    source_cli: '4311002'
    destination_user: 'AP_testuser1001'
    destination_domain: 'dom.invite_voicebox.test'
    destination_user_dialed: 'AP_testuser1001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'AP_testuser1001'
    source_domain: 'dom.invite_voicebox.test'
    source_cli: '4311001'
    destination_user: 'vmu4311001'
    destination_domain: 'voicebox.local'
    destination_user_dialed: 'vmu4311001'
    destination_user_in: 'vmu4311001'
    destination_domain_in: 'voicebox.local'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'