cdr:
  - source_user: 'G_testuser1002'
    source_domain: 'dom.invite_allowedcli_match_alias.test'
    source_cli: '43071009'
    destination_user: 'G_testuser1003'
    destination_domain: 'dom.invite_allowedcli_match_alias.test'
    destination_user_dialed: 'G_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'