cdr:
  - source_user: 'G_testuser1002'
    source_domain: 'dom.invite_peerout_rn.test'
    source_cli: '4371002'
    destination_user: '004377771001'
    destination_domain: '127.7.2.1'
    destination_user_dialed: '004377001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'