messages:
- - 'SIP/2.0 401 Unauthorized'
  - 'From: <sip:[% scenarios.0.responders.0.username %]@invite-callforward.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward.scenarios.test>;tag=[\w-]+'
  - 'CSeq: 1 REGISTER'
  - 'WWW-Authenticate: Digest realm="invite-callforward.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.responders.0.username %]@invite-callforward.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@invite-callforward.scenarios.test>;tag=[\w-]+'
  - 'CSeq: 2 REGISTER'
  - 'Contact: <sip:[% scenarios.0.responders.1.username %]@[% scenarios.0.responders.1.ip %]:[% scenarios.0.responders.1.port %]>;expires=\d+;received="sip:[% scenarios.0.responders.1.ip %]:[% scenarios.0.responders.1.port %]"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
