messages:
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-blockout-blst.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_blockout_blst_scenarios_test.testuser1003.phone_number %]@invite-blockout-blst.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length: 0'
- - 'SIP/2.0 407 Proxy Authentication Required'
  - 'From: <sip:[% scenarios.0.username %]@invite-blockout-blst.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_blockout_blst_scenarios_test.testuser1003.phone_number %]@invite-blockout-blst.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Proxy-Authenticate: Digest realm="invite-blockout-blst.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-blockout-blst.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_blockout_blst_scenarios_test.testuser1003.phone_number %]@invite-blockout-blst.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length: 0'
- - 'SIP/2.0 403 Blocked by Caller'
  - 'From: <sip:[% scenarios.0.username %]@invite-blockout-blst.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_blockout_blst_scenarios_test.testuser1003.phone_number %]@invite-blockout-blst.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
