messages:
- - 'SIP/2.0 401 Unauthorized'
  - 'From: <sip:[% scenarios.0.username %]@auth-fail.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@auth-fail.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'WWW-Authenticate: Digest realm="auth-fail.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 401 Unauthorized'
  - 'From: <sip:[% scenarios.0.username %]@auth-fail.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@auth-fail.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'WWW-Authenticate: Digest realm="auth-fail.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 401 Unauthorized'
  - 'From: <sip:[% scenarios.0.username %]@auth-fail.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@auth-fail.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'WWW-Authenticate: Digest realm="auth-fail.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 401 Unauthorized'
  - 'From: <sip:[% scenarios.0.username %]@auth-fail.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@auth-fail.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'WWW-Authenticate: Digest realm="auth-fail.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 403 Try again later'
  - 'From: <sip:[% scenarios.0.username %]@auth-fail.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@auth-fail.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
