cdr:
  - source_user: external
    source_domain: external.test
    source_cli: external
    destination_user: testuser1003
    destination_domain: spce.test
    destination_user_dialed: 4311003
    call_type: call
    call_status: ok
    call_code: 200