cdr:
  - source_user: 'external'
    source_domain: 'external.test'
    source_cli: 'external'
    destination_user: 'B_testuser1003'
    destination_domain: 'dom.incoming_foreign_dom.test'
    destination_user_dialed: '43021003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'