cdr:
  - source_user: 'R_testuser1002'
    source_domain: 'dom.invite_blockout_pinoverride.test'
    source_cli: '43181002'
    destination_user: 'R_testuser1003'
    destination_domain: 'dom.invite_blockout_pinoverride.test'
    destination_user_dialed: '\*80\*44443181003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'