flow:
  - start|REPLY_ROUTE_NAT:
  - start|FAILURE_ROUTE_PSTN:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_FILTER_FAILOVER:
  - return|ROUTE_FILTER_FAILOVER:
  - start|ROUTE_PSTN_SELECT_PEER_FAILURE:
  - start|ROUTE_CLEAR_PEER_OUT_PREF:
  - return|ROUTE_CLEAR_PEER_OUT_PREF:
  - start|ROUTE_LOAD_PEER_OUT_PREF:
  - return|ROUTE_LOAD_PEER_OUT_PREF:
  - return|ROUTE_PSTN_SELECT_PEER_FAILURE:
  - start|ROUTE_PSTN_SELECT_PEER_FAILURE:
  - start|ROUTE_CLEAR_PEER_OUT_PREF:
  - return|ROUTE_CLEAR_PEER_OUT_PREF:
  - start|ROUTE_LOAD_PEER_OUT_PREF:
  - return|ROUTE_LOAD_PEER_OUT_PREF:
  - return|ROUTE_PSTN_SELECT_PEER_FAILURE:
  - start|ROUTE_OUTBOUND:
  - start|BRANCH_ROUTE_SBC:
  - start|ROUTE_BRANCH_ACC_RTP:
  - start|ROUTE_ACC_CALLEE:
  - return|ROUTE_ACC_CALLEE:
  - return|ROUTE_BRANCH_ACC_RTP:
  - start|ROUTE_SET_RUSER:
  - return|ROUTE_SET_RUSER:
  - start|ROUTE_FILTER_PRACK:
  - return|ROUTE_FILTER_PRACK:
  - start|ROUTE_PREPARE_SST:
  - return|ROUTE_PREPARE_SST:
  - start|ROUTE_PREPARE_MOH:
  - return|ROUTE_PREPARE_MOH:
  - start|ROUTE_SET_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - start|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_PREPARE_CALLER_CLI:
  - return|ROUTE_SET_CALLER_CLI:
  - start|ROUTE_SET_CALLEE:
  - return|ROUTE_SET_CALLEE:
  - start|ROUTE_ADD_CALLINFO:
  - return|ROUTE_ADD_CALLINFO:
  - return|BRANCH_ROUTE_SBC:
  - return|BRANCH_ROUTE_SBC:
  - exit|ROUTE_OUTBOUND:
  - exit|ROUTE_OUTBOUND:
"sip_in":
  - '^SIP/2.0 408 Timeout'
"sip_out":
  - [
      '^ACK sip:004321001@127.0.4.1:\d+;transport=udp SIP/2.0',
      'From: <sip:4311002@spce.test>;tag=',
      'To: <sip:004321001@spce.test>;tag=',
      'CSeq: 2 ACK',
      'Content-Length: 0'
    ]
  - [
      '^INVITE sip:004321001@127.0.2.1:\d+;transport=udp SIP/2.0',
      'From: <sip:4311002@spce.test>;tag=',
      'To: <sip:004321001@spce.test>',
      'CSeq: 2 INVITE',
      'Contact: sip:testuser1002@',
      'Content-Type: application/sdp',
      'P-Caller-UUID: \w+',
      'P-Callee-UUID: \w+',
      'P-Asserted-Identity: <sip:4311002@spce.test>',
      'P-Called-Party-ID: <sip:004321001@127.0.4.1>',
      'P-App-Param: ;aleg_sst_enable=no;sst_enable=no',
      'P-App-Name: sbc',
      'P-NGCP-Caller-Info: <sip:testuser1002@spce.test>;ip=127.126.0.1;port=\d+',
      'P-NGCP-Callee-Info: <sip:004321001@spce.test>;ip=127.0.2.1;port=\d+',
      'P-D-Uri: sip:127.0.0.1:5060;received=',
    ]