{
    "@invite-peerout-failover.scenarios.test": {
        "nat_sipping": "no"
    },
    "peer_00_invite_peerout_failover_host0": {
        "concurrent_max": 1
    },
    "peer_01_invite_peerout_failover_host0": {
        "concurrent_max_out": -1
    }
}
