flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|tm:branch-failure:local:
  - return|tm:branch-failure:local:
  - start|FAILURE_ROUTE_LOCAL:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_STOP_RTPPROXY_BRANCH:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_STOP_RTPPROXY_BRANCH:
  - start|ROUTE_CF_REDIRECT:
  - start|ROUTE_CHECK_CF:
  - return|ROUTE_CHECK_CF:
  - start|ROUTE_EXECUTE_CF_LOOP:
  - start|ROUTE_ADD_AOC_HEADER:
  - return|ROUTE_ADD_AOC_HEADER:
  - start|BRANCH_ROUTE_FWD_LOOP:
  - start|ROUTE_SET_HIH_CF:
  - return|ROUTE_SET_HIH_CF:
  - start|ROUTE_APPEND_CF_HDRS:
  - start|ROUTE_ADD_DEVALIAS_HEADERS:
  - return|ROUTE_ADD_DEVALIAS_HEADERS:
  - return|ROUTE_APPEND_CF_HDRS:
  - start|ROUTE_ADD_CALLINFO:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - return|BRANCH_ROUTE_FWD_LOOP:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
  - exit|ROUTE_EXIT:
sip_in:
 - '^SIP/2.0 302 Moved Temporarily'
 - 'From: <sip:[% invite_redirect_tel_uri_scenarios_test.testuser1000.phone_number %]@invite-redirect-tel-uri.scenarios.test>;tag=[\w-]+'
 - 'To: <sip:\+[% invite_redirect_tel_uri_scenarios_test.testuser1001.phone_number %]@invite-redirect-tel-uri.scenarios.test;user=phone>;tag=[\w-]+'
 - 'CSeq: 2 INVITE'
 - 'Diversion: <sip:[% invite_redirect_tel_uri_scenarios_test.testuser1001.phone_number %]@invite-redirect-tel-uri.scenarios.test;transport=UDP>'
 - 'Contact: <sip:[% scenarios.0.responders.1.username %]@invite-redirect-tel-uri.scenarios.test;alias=[^;]+;transport=UDP>'
sip_out:
  - [
      '^ACK sip:[% scenarios.0.responders.0.username %]@',
      'From: <sip:[% invite_redirect_tel_uri_scenarios_test.testuser1000.phone_number %]@invite-redirect-tel-uri.scenarios.test>',
      'To: <sip:\+[% invite_redirect_tel_uri_scenarios_test.testuser1001.phone_number %]@invite-redirect-tel-uri.scenarios.test;user=phone>',
      'CSeq: \d+ ACK',
    ]
  - [
      '^INVITE sip:[% scenarios.0.responders.1.username %]@invite-redirect-tel-uri.scenarios.test',
      'From: <sip:\+[% invite_redirect_tel_uri_scenarios_test.testuser1000.phone_number %]@invite-redirect-tel-uri.scenarios.test;user=phone>',
      'To: <sip:\+[% invite_redirect_tel_uri_scenarios_test.testuser1001.phone_number %]@invite-redirect-tel-uri.scenarios.test;user=phone>',
      'CSeq: \d+ INVITE',
      'Contact: <sip:[% scenarios.0.username %]@[% scenarios.0.ip %]:[% scenarios.0.port %](;[^>]+)?>',
      'Content-Type: application/sdp',
      'Content-Length:\s+\d+',
      'P-LB-Uptime:\s+\d+',
      'History-Info: <sip:[% scenarios.0.responders.0.username %]@invite-redirect-tel-uri.scenarios.test:5060;user=phone\?Reason=SIP%3bcause%3d302>;index=1',
      'P-HIH-Cause: 302',
      'P-App-Param: ;profile=ngcp_cf',
      'P-App-Name: sbc',
      'P-NGCP-Sems-Instance: sbc',
      'P-Caller-UUID: [% invite_redirect_tel_uri_scenarios_test.testuser1001.uuid %]',
      'P-First-Caller-UPN: [% invite_redirect_tel_uri_scenarios_test.testuser1000.phone_number %]',
      'P-First-Caller-NPN: [% invite_redirect_tel_uri_scenarios_test.testuser1000.phone_number %]',
      'P-First-Caller-UPD: invite-redirect-tel-uri.scenarios.test',
      'P-First-Caller-NPD: invite-redirect-tel-uri.scenarios.test',
      'P-Acc-Caller-User: testuser1001',
      'P-Acc-Caller-Domain: invite-redirect-tel-uri.scenarios.test',
      'P-Acc-State: cfb',
      'P-CF-Depth: 1',
      'P-Orig-Callee-Dialed: testuser1001',
      'P-Prev-Caller-UUID: [% invite_redirect_tel_uri_scenarios_test.testuser1000.uuid %]',
      'P-NGCP-Caller-Info: <sip:\+[% invite_redirect_tel_uri_scenarios_test.testuser1000.phone_number %]@invite-redirect-tel-uri.scenarios.test>;ip=[% scenarios.0.ip %];port=[% scenarios.0.port %];primary=[% invite_redirect_tel_uri_scenarios_test.testuser1000.phone_number %]',
      'P-NGCP-Forward-Info: <sip:[% scenarios.0.responders.0.username %]@invite-redirect-tel-uri.scenarios.test>;ip=127.0.0.1;port=5080;primary=[% invite_redirect_tel_uri_scenarios_test.testuser1001.phone_number %]',
      'P-NGCP-Callee-Info: <sip:[% scenarios.0.responders.1.username %]@invite-redirect-tel-uri.scenarios.test>;ip=127.0.0.1;port=5080',
    ]
