flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
 - '^SIP/2.0 200 OK'
 - 'From: <sip:[% invite_redirect_tel_uri_scenarios_test.testuser1000.phone_number %]@invite-redirect-tel-uri.scenarios.test>;tag=[\w-]+'
 - 'To: <sip:[% scenarios.0.responders.1.username %]@invite-redirect-tel-uri.scenarios.test>;tag=[\w-]+'
 - 'CSeq: \d+ BYE'
 - 'Content-Length:\s+0'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'From: <sip:[% invite_redirect_tel_uri_scenarios_test.testuser1000.phone_number %]@invite-redirect-tel-uri.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.1.username %]@invite-redirect-tel-uri.scenarios.test>;tag=[\w-]+',
      'CSeq: \d+ BYE',
      'Content-Length:\s+0',
    ]
