messages:
- - 'INVITE sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+;did=[^;]+>'
  - 'From: <sip:[% scenarios.0.username %]@timer-session-supported.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@timer-session-supported.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Supported: timer'
  - 'P-Asserted-Identity: <sip:[% scenarios.0.username %]@timer-session-supported.scenarios.test>'
  - 'Session-Expires: 8'
  - 'Min-SE: 2'
  - 'Content-Length: 0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'ACK sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+>'
  - 'From: <sip:[% scenarios.0.username %]@timer-session-supported.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@timer-session-supported.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ ACK'
  - 'Supported: timer'
  - 'Content-Length: 0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'INVITE sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+;did=[^;]+>'
  - 'From: <sip:[% scenarios.0.username %]@timer-session-supported.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@timer-session-supported.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'P-Asserted-Identity: <sip:[% scenarios.0.username %]@timer-session-supported.scenarios.test>'
  - 'P-D-Uri: sip:lb@127.0.0.1;lr;received=sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];socket=sip:[% server_ip %]:5060'
  - 'Supported: timer'
  - 'Session-Expires: 100'
  - 'Min-SE: 2'
  - 'Content-Length: 0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'ACK sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+;did=[^;]+>'
  - 'From: <sip:[% scenarios.0.username %]@timer-session-supported.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@timer-session-supported.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ ACK'
  - 'Supported: timer'
  - 'Content-Length: 0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'BYE sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP SIP/2.0'
  - 'Record-Route: <sip:[% server_ip %];r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1;r2=on;lr=on;ftag=[^;]+;ngcplb=yes;socket=sip:[% server_ip %]:5060>'
  - 'Record-Route: <sip:127.0.0.1:5062;lr=on;ftag=[^;]+>'
  - 'From: <sip:[% scenarios.0.username %]@timer-session-supported.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@timer-session-supported.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'P-Asserted-Identity: <sip:[% scenarios.0.username %]@timer-session-supported.scenarios.test>'
  - 'Content-Length: 0'
