messages:
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@incoming-peer-anonymous.host0.peer.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% incoming_peer_anonymous_scenarios_test.testuser1003.phone_number %]@incoming-peer-anonymous.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length: 0'
- - 'SIP/2.0 180 Ringing'
  - 'From: <sip:[% scenarios.0.username %]@incoming-peer-anonymous.host0.peer.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% incoming_peer_anonymous_scenarios_test.testuser1003.phone_number %]@incoming-peer-anonymous.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Length: 0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.username %]@incoming-peer-anonymous.host0.peer.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% incoming_peer_anonymous_scenarios_test.testuser1003.phone_number %]@incoming-peer-anonymous.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Type: application/sdp'
  - 'Content-Length: \d+'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
  - 'v=0'
  - 's=-'
  - 't=0 0'
  - 'm=audio \d+ RTP/AVP 8'
  - 'a=rtpmap:8 PCMA/8000'
  - 'a=sendrecv'
  - 'a=rtcp:\d+'
  - 'a=ptime:50'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.username %]@incoming-peer-anonymous.host0.peer.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% incoming_peer_anonymous_scenarios_test.testuser1003.phone_number %]@incoming-peer-anonymous.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'Content-Length: 0'
