messages:
- - 'INVITE sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %] SIP/2.0'
  - 'From: "Anonymous" <sip:anonymous@anonymous.invalid>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@incoming-peer-anonymous.scenarios.test>'
  - 'CSeq: \d+ INVITE'
  - '_:NOT:_P-Asserted-Identity: <sip:[% scenarios.0.username %]@incoming-peer-anonymous.scenarios.test>'
  - 'Content-Type: application/sdp'
  - 'Content-Length: \d+'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
  - 'v=0'
  - 's=-'
  - 't=0 0'
  - 'm=audio \d+ RTP/AVP 8'
  - 'a=rtpmap:8 PCMA/8000'
  - 'a=sendrecv'
  - 'a=rtcp:\d+'
  - 'a=ptime:50'
- - 'ACK sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP SIP/2.0'
  - 'From: "Anonymous" <sip:anonymous@anonymous.invalid>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@incoming-peer-anonymous.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ ACK'
  - 'Content-Length: 0'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'BYE sip:[% scenarios.0.responders.0.ip %]:[% scenarios.0.responders.0.port %];transport=UDP SIP/2.0'
  - 'From: "Anonymous" <sip:anonymous@anonymous.invalid>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@incoming-peer-anonymous.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - '_:NOT:_P-Asserted-Identity: <sip:[% scenarios.0.username %]@incoming-peer-anonymous.scenarios.test>'
  - 'Content-Length: 0'
