flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
  - 'SIP/2.0 200 OK'
  - 'From: <sip:[% invite_prack_scenarios_test.testuser1012.phone_number %]@invite-prack.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]>;tag=[\w-]+'
  - 'CSeq: \d+ PRACK'
sip_out:
  - [
      'SIP/2.0 200 OK',
      'From: <sip:[% invite_prack_scenarios_test.testuser1012.phone_number %]@invite-prack.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]>;tag=[\w-]+',
      'CSeq: \d+ PRACK',
    ]
