flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - return|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
      $avp(lua_dlg_profile): [
        "accountout:[% customer_test.id %]",
        "userout:[% invite_peerout_rewrite_scenarios_test.testuser1002.uuid %]",
        "account:[% customer_test.id %]",
        "user:[% invite_peerout_rewrite_scenarios_test.testuser1002.uuid %]",
        "totalaccountout:[% customer_test.id %]",
        "totaluserout:[% invite_peerout_rewrite_scenarios_test.testuser1002.uuid %]",
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% invite_peerout_rewrite_scenarios_test.testuser1002.uuid %]",
        "total",
        "relay",
        "peerout:[% peer_invite_peerout_rewrite_host0.id %]",
        "peer:[% peer_invite_peerout_rewrite_host0.id %]",
        "outgoing"
      ]
sip_in:
  - '^SIP/2.0 200 OK'
  - 'CSeq: 2 INVITE'
  - 'From: <sip:[% invite_peerout_rewrite_scenarios_test.testuser1002.phone_number %]@'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'CSeq: 2 INVITE',
      'From: <sip:[% scenarios.0.username %]@',
      'To: <sip:[% scenarios.0.responders.0.username %]@',
    ]
