cdr:
  - source_user: 'AH_testuser1002'
    source_domain: 'dom.invite_peerout_rewrite.test'
    source_cli: '4311002'
    destination_user: '4321001'
    destination_domain: '127.34.2.1'
    destination_user_dialed: '4321001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'