---
cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: '[% scenarios.0.ip %]'
    source_cli: '[% scenarios.0.username %]'
    destination_user: 'testuser1003'
    destination_domain: 'incoming-peer-stir.scenarios.test'
    destination_user_dialed: '[% incoming_peer_stir_scenarios_test.testuser1003.phone_number %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: '[% scenarios.1.username %]'
    source_domain: '[% scenarios.1.ip %]'
    source_cli: '[% scenarios.1.username %]'
    destination_user: 'testuser1003'
    destination_domain: 'incoming-peer-stir.scenarios.test'
    destination_user_dialed: '[% incoming_peer_stir_scenarios_test.testuser1003.phone_number %]'
    call_type: 'call'
    call_status: 'other'
    call_code: '428'
  - source_user: '[% scenarios.2.username %]'
    source_domain: '[% scenarios.2.ip %]'
    source_cli: '[% scenarios.2.username %]'
    destination_user: 'testuser1003'
    destination_domain: 'incoming-peer-stir.scenarios.test'
    destination_user_dialed: '[% incoming_peer_stir_scenarios_test.testuser1003.phone_number %]'
    call_type: 'call'
    call_status: 'other'
    call_code: '428'
  - source_user: '[% scenarios.3.username %]'
    source_domain: '[% scenarios.3.ip %]'
    source_cli: '[% scenarios.3.username %]'
    destination_user: 'testuser1003'
    destination_domain: 'incoming-peer-stir.scenarios.test'
    destination_user_dialed: '[% incoming_peer_stir_scenarios_test.testuser1003.phone_number %]'
    call_type: 'call'
    call_status: 'other'
    call_code: '436'
  - source_user: '[% scenarios.4.username %]'
    source_domain: '[% scenarios.4.ip %]'
    source_cli: '[% scenarios.4.username %]'
    destination_user: 'testuser1003'
    destination_domain: 'incoming-peer-stir.scenarios.test'
    destination_user_dialed: '[% incoming_peer_stir_scenarios_test.testuser1003.phone_number %]'
    call_type: 'call'
    call_status: 'other'
    call_code: '438'
