messages:
- - 'SIP/2.0 401 Unauthorized'
  - 'From: <sip:[% scenarios.0.username %]@register.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@register.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'WWW-Authenticate: Digest realm="register.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.username %]@register.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@register.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'Contact: <sip:[% scenarios.0.username %]@[% scenarios.0.ip %]:[% scenarios.0.port %]>;expires=\d+;received="sip:[% scenarios.0.ip %]:[% scenarios.0.port %]"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
