{
    "@invite-sdp-filter-blacklist.scenarios.test": {
        "nat_sipping": "no"
    },
    "[% scenarios.0.responders.0.username %]@invite-sdp-filter-blacklist.scenarios.test": {
        "codecs_filter": "0",
        "codecs_list": "opus,userinbandfec,speex,vbr,annexb"
    }
}
