cdr:
  - source_user: 'AM_testuser1002'
    source_domain: 'dom.invite_tcp_udp.test'
    source_cli: '43391002'
    destination_user: 'AM_testuser1003'
    destination_domain: 'dom.invite_tcp_udp.test'
    destination_user_dialed: 'AM_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'