flow:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
      $avp(lua_dlg_profile): [
        "accountout:[% customer_test.id %]",
        "userout:[% spce_test.testuser1002.uuid %]",
        "account:[% customer_test.id %]",
        "user:[% spce_test.testuser1002.uuid %]",
        "totalaccountout:[% customer_test.id %]",
        "totaluserout:[% spce_test.testuser1002.uuid %]",
        "totalaccount:[% customer_test.id %]",
        "totaluser:[% spce_test.testuser1002.uuid %]",
        "total",
        "relay",
        "peerout:[% peer_00_host0.id %]",
        "peer:[% peer_00_host0.id %]",
        "outgoing"
      ]
  - start|ROUTE_COLLECT_HDR:
  - return|ROUTE_COLLECT_HDR:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'CSeq: 2 INVITE'
  - 'From: <sip:4311002@'
  - 'To: <sip:43999100@'
sip_out:
  - [
      '^SIP/2.0 180 Ringing',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
      'To: <sip:43999100@',
    ]
