flow:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
      $avp(lua_dlg_profile): [
        "accountout:[% cst.invite_ncos_white.test.id %]",
        "userout:[% dom.invite_ncos_white.test.E_testuser1002.uuid %]",
        "account:[% cst.invite_ncos_white.test.id %]",
        "user:[% dom.invite_ncos_white.test.E_testuser1002.uuid %]",
        "totalaccountout:[% cst.invite_ncos_white.test.id %]",
        "totaluserout:[% dom.invite_ncos_white.test.E_testuser1002.uuid %]",
        "totalaccount:[% cst.invite_ncos_white.test.id %]",
        "totaluser:[% dom.invite_ncos_white.test.E_testuser1002.uuid %]",
        "total",
        "relay",
        "peerout:[% E_peer_00_host1.id %]",
        "peer:[% E_peer_00_host1.id %]",
        "outgoing"
      ]
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'CSeq: 2 INVITE'
  - 'From: <sip:4351002@'
  - 'To: <sip:43555200@'
sip_out:
  - [
      '^SIP/2.0 180 Ringing',
      'CSeq: 2 INVITE',
      'From: <sip:E_testuser1002@',
      'To: <sip:43555200@',
    ]
