cdr:
  - source_user: 'E_testuser1002'
    source_domain: 'dom.invite_ncos_white.test'
    source_cli: '4351002'
    destination_user: '43555300'
    destination_user_dialed: '43555300'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'
    duration: '0'
  - source_user: 'E_testuser1002'
    source_domain: 'dom.invite_ncos_white.test'
    source_cli: '4351002'
    destination_user: '4355551001'
    destination_user_dialed: '43555200'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'E_testuser1002'
    source_domain: 'dom.invite_ncos_white.test'
    source_cli: '4351002'
    destination_user: '43555100'
    destination_user_dialed: '43555100'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'