cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: 'invite-ncos-white.scenarios-lnp.test'
    source_cli: '[% invite_ncos_white_scenarios_lnp_test.testuser1002.phone_number %]'
    destination_user: '[% extra_info.phone_numbers.4 %]'
    destination_user_dialed: '[% extra_info.phone_numbers.4 %]'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'
    duration: '0'
  - source_user: '[% scenarios.1.username %]'
    source_domain: 'invite-ncos-white.scenarios-lnp.test'
    source_cli: '[% invite_ncos_white_scenarios_lnp_test.testuser1002.phone_number %]'
    destination_user: '4318881001'
    destination_user_dialed: '[% extra_info.phone_numbers.3 %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: '[% scenarios.2.username %]'
    source_domain: 'invite-ncos-white.scenarios-lnp.test'
    source_cli: '[% invite_ncos_white_scenarios_lnp_test.testuser1002.phone_number %]'
    destination_user: '[% extra_info.phone_numbers.2 %]'
    destination_user_dialed: '[% extra_info.phone_numbers.2 %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'