---
testuser1001@invite-conference-update.scenarios.test:
  destinations:
    destinations:
      - destination: conference
        priority: 0
        timeout: 5
    name: dest1001
  mappings:
    cfu:
      - bnumberset: null
        destinationset: dest1001
        sourceset: null
        timeset: null
        enabled: true
    cfb: []
    cfna: []
    cft: []
    cfs: []
    cfr: []
    cfo: []
