cdr:
  - source_user: 'Y_testuser1002'
    source_domain: 'dom.invite_conference_update.test'
    source_cli: '43251002'
    destination_user: 'Y_testuser1001'
    destination_domain: 'dom.invite_conference_update.test'
    destination_user_dialed: 'Y_testuser1001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'Y_testuser1001'
    source_domain: 'dom.invite_conference_update.test'
    source_cli: '43251001'
    destination_user: 'conf=43251001'
    destination_domain: 'conference.local'
    destination_user_dialed: 'conf=43251001'
    destination_user_in: 'conf=43251001'
    destination_domain_in: 'conference.local'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'