cdr:
  - source_user: 'testuser1002'
    source_domain: 'invite-conference-update.scenarios.test'
    source_cli: '[% invite_conference_update_scenarios_test.testuser1002.phone_number %]'
    destination_user: 'testuser1001'
    destination_domain: 'invite-conference-update.scenarios.test'
    destination_user_dialed: 'testuser1001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'testuser1001'
    source_domain: 'invite-conference-update.scenarios.test'
    source_cli: '[% invite_conference_update_scenarios_test.testuser1001.phone_number %]'
    destination_user: 'conf=[% invite_conference_update_scenarios_test.testuser1001.phone_number %]'
    destination_domain: 'conference.local'
    destination_user_dialed: 'conf=[% invite_conference_update_scenarios_test.testuser1001.phone_number %]'
    destination_user_in: 'conf=[% invite_conference_update_scenarios_test.testuser1001.phone_number %]'
    destination_domain_in: 'conference.local'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'