flow:
  - start|DEFAULT_ONREPLY:
  - return|DEFAULT_ONREPLY:
sip_in:
  - '^SIP/2.0 200'
  - 'CSeq: 2 CANCEL'
  - 'Content-Length: 0'
  - 'From: <sip:4311002@'
  - 'To: <sip:testuser1003@'
sip_out: []
