flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|tm:branch-failure:local:
  - return|tm:branch-failure:local:
  - return|tm:branch-failure:local:
sip_in:
  - '^SIP/2.0 486 Busy Here'
  - 'CSeq: 2 INVITE'
  - 'From: <sip:[% invite_q_forking_scenarios_test.testuser1002.phone_number %]@'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@'
sip_out:
  - [
      '^ACK sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]',
      'CSeq: 2 ACK',
      'From: <sip:[% invite_q_forking_scenarios_test.testuser1002.phone_number %]@',
      'To: <sip:[% scenarios.0.responders.0.username %]@'
    ]
  - [
      '^CANCEL sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]',
      'CSeq: 2 CANCEL',
      'From: <sip:[% invite_q_forking_scenarios_test.testuser1002.phone_number %]@',
      'To: <sip:[% scenarios.0.responders.0.username %]@'
    ]
