flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
  - start|FAILURE_ROUTE_LOCAL:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_STOP_RTPPROXY_BRANCH:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_STOP_RTPPROXY_BRANCH:
  - start|ROUTE_CF_CFB:
  - return|ROUTE_CF_CFB:
  - start|ROUTE_CODES_ANNOUNCEMENTS_MAPPING:
  - return|ROUTE_CODES_ANNOUNCEMENTS_MAPPING:
  - start|ROUTE_EARLY_REJECT:
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - start|ROUTE_LOCAL_REPLY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|dialog:failed:
  - return|dialog:failed:
  - return|dialog:failed:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 487 Request terminated'
  - 'CSeq: 2 INVITE'
  - 'Content-Length: 0'
  - 'From: <sip:[% invite_q_forking_scenarios_test.testuser1002.phone_number %]@'
  - 'To: <sip:[% scenarios.0.responders.0.username %]@'
sip_out:
  - [
      '^ACK sip:[% scenarios.0.responders.0.username %]@[% scenarios.0.responders.0.ip %]',
      'CSeq: 2 ACK',
      'From: <sip:[% invite_q_forking_scenarios_test.testuser1002.phone_number %]@',
      'To: <sip:[% scenarios.0.responders.0.username %]@'
    ]
  - [
      '^SIP/2.0 486 Busy Here',
      'CSeq: 2 INVITE',
      'Content-Length: 0',
      'From: <sip:[% scenarios.0.username %]@',
      'To: <sip:[% scenarios.0.responders.0.username %]@'
    ]
