cdr:
  - source_user: '[% scenarios.0.username %]'
    source_domain: 'invite-q-forking.scenarios.test'
    source_cli: '[% invite_q_forking_scenarios_test.testuser1002.phone_number %]'
    destination_user: '[% scenarios.0.responders.0.username %]'
    destination_domain: 'invite-q-forking.scenarios.test'
    destination_user_dialed: '[% scenarios.0.responders.0.username %]'
    call_type: 'call'
    call_status: 'busy'
    call_code: '486'