{
    "@invite-emergency.scenarios.test": {
        "nat_sipping": "no",
        "emergency_prefix": "E",
        "rewrite_rule_set": "rw_invite_emergency_00"
    },
    "peer_invite_emergency_host0": {
        "rewrite_rule_set": "rw_invite_emergency_01",
        "concurrent_max": 0
    }
}
