cdr:
  - source_user: 'O_testuser1002'
    source_domain: 'dom.invite_blockin_wlst.test'
    source_cli: '4311002'
    destination_user: 'O_testuser1003'
    destination_domain: 'dom.invite_blockin_wlst.test'
    destination_user_dialed: '4311003'
    call_type: 'call'
    call_status: 'other'
    call_code: '403'