flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|REPLY_SCA_UPDATE:
  - return|REPLY_SCA_UPDATE:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - return|ROUTE_REMOVE_TIMER_SUPP_REQ:
  - start|REPLY_ROUTE_RTPENGINE:
  - return|REPLY_ROUTE_RTPENGINE:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|dialog:start:
  - return|dialog:start:
      $avp(lua_dlg_profile): [
        "totalaccountout:[% customerpbx_test.id %]",
        "totaluserout:[% spce_test.testuser1002.uuid %]",
        "totalaccount:[% customerpbx_test.id %]",
        "totaluser:[% spce_test.testuser1002.uuid %]",
        "totalaccount:[% customerpbx_test.id %]",
        "totaluser:[% spce_test.testuser1003.uuid %]",
        "total"
      ]
  - return|dialog:start:
sip_in:
  - '^SIP/2.0 200 OK'
  - 'CSeq: 2 INVITE'
sip_out:
  - [
      '^SIP/2.0 200 OK',
      'CSeq: 2 INVITE',
      'From: <sip:testuser1002@',
      'To: <sip:1003@'
    ]
