flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - '^SIP/2.0 180 Ringing'
  - 'CSeq: 2 INVITE'
  - 'From: <sip:431100299@'
  - 'To: <sip:testuser1003@'
sip_out:
  - [
      '^SIP/2.0 180 Ringing',
      'CSeq: 2 INVITE',
      'From: "431100299" <sip:testuser1002@',
      'To: <sip:testuser1003@'
    ]
