cdr:
  - source_user: 'F_testuser1002'
    source_domain: 'dom.invite_allowedcli_match.test'
    source_cli: '431100299'
    destination_user: 'F_testuser1003'
    destination_domain: 'dom.invite_allowedcli_match.test'
    destination_user_dialed: 'F_testuser1003'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'