{
    "testuser1002@invite-allowedcli-match.scenarios.test": {
        "allowed_clis": [
            "[% invite_allowedcli_match_scenarios_test.testuser1002.phone_number %]9*",
            "[% invite_allowedcli_match_scenarios_test.testuser1002.phone_number %]1*"
        ],
        "cli": [% invite_allowedcli_match_scenarios_test.testuser1002.phone_number %],
        "user_cli": 43122122,
        "inbound_upn": "from_display"
    }
}
