flow:
  - start|DEFAULT_ONREPLY:
  - start|REPLY_ROUTE_NAT:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|REPLY_ROUTE_NAT_CONTINUE:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - start|tm:branch-failure:local:
  - return|tm:branch-failure:local:
  - start|FAILURE_ROUTE_LOCAL:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|ROUTE_STOP_RTPPROXY_BRANCH:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_STOP_RTPPROXY_BRANCH:
      $var(rtpp_flags): "discard-recording"
  - start|ROUTE_CF_CFB:
  - return|ROUTE_CF_CFB:
  - start|ROUTE_CODES_ANNOUNCEMENTS_MAPPING:
  - return|ROUTE_CODES_ANNOUNCEMENTS_MAPPING:
  - start|ROUTE_EARLY_REJECT:
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - start|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLER_PRIMARY:
  - start|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_CALLEE_PRIMARY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - start|ROUTE_LOCAL_REPLY:
  - start|ROUTE_APPLY_HEADER_RULES:
  - return|ROUTE_APPLY_HEADER_RULES:
  - start|dialog:failed:
  - return|dialog:failed:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'SIP/2.0 486 Busy Here'
  - 'From: <sip:[% invite_record_call_scenarios_test.testuser1004.phone_number %]@invite-record-call.scenarios.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.3.responders.0.username %]@invite-record-call.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Length:\s+0'
sip_out:
  - [
      'ACK sip:[% scenarios.3.responders.0.username %]@[% scenarios.3.responders.0.ip %]:[% scenarios.3.responders.0.port %] SIP/2.0',
      'From: <sip:[% invite_record_call_scenarios_test.testuser1004.phone_number %]@invite-record-call.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.3.responders.0.username %]@invite-record-call.scenarios.test>;tag=[\w-]+',
      'CSeq: \d+ ACK',
      'Content-Length:\s+0',
    ]
  - [
      'SIP/2.0 486 Busy Here',
      'From: <sip:[% scenarios.1.responders.0.username %]@invite-record-call.scenarios.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.3.responders.0.username %]@invite-record-call.scenarios.test>;tag=[\w-]+',
      'CSeq: \d+ INVITE',
      'P-Out-Socket: udp:[% server_ip %]:5060',
      'P-NGCP-Auth-IP: [% scenarios.0.ip %]',
      'P-NGCP-Auth-UA: <null>',
      'P-NGCP-Authorization: testuser1004@invite-record-call.scenarios.test',
      'P-NGCP-Authorized: 1',
      'P-NGCP-Caller-Info: <sip:[% scenarios.1.responders.0.username %]@invite-record-call.scenarios.test>;ip=[% scenarios.3.ip %];port=[% scenarios.3.port %];primary=[% invite_record_call_scenarios_test.testuser1004.phone_number %]',
      'P-Caller-UUID: [% invite_record_call_scenarios_test.testuser1004.uuid %]',
      'P-Callee-Uuid: [% invite_record_call_scenarios_test.testuser1006.uuid %]',
      'P-NGCP-Caller-Info: <sip:[% scenarios.1.responders.0.username %]@invite-record-call.scenarios.test>;ip=[% scenarios.3.ip %];port=[% scenarios.3.port %];primary=[% invite_record_call_scenarios_test.testuser1004.phone_number %]',
      'P-NGCP-Callee-Info: <sip:[% scenarios.3.responders.0.username %]@invite-record-call.scenarios.test>;ip=[% scenarios.3.responders.0.ip %];port=[% scenarios.3.responders.0.port %];primary=[% invite_record_call_scenarios_test.testuser1006.phone_number %]',
      'Server: Sipwise NGCP Proxy',
      'Content-Length:\s+0',
    ]
