{
    "@invite-record-call.scenarios.test": {
        "nat_sipping": "no",
        "sound_set": "invite_record_call"
    },
    "[% scenarios.0.responders.0.username %]@invite-record-call.scenarios.test": {
        "play_announce_before_recording": "always",
        "record_call": true
    }
}
