{
    "@invite-record-call.scenarios.test": {
        "sound_set": "default_soundset"
    },
    "[% scenarios.0.responders.0.username %]@invite-record-call.scenarios.test": {
        "play_announce_before_recording": true,
        "record_call": true
    }
}
