flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_PRX_REQUEST:
  - start|ROUTE_INITVARS:
  - return|ROUTE_INITVARS:
  - start|dialog:end:
  - return|dialog:end:
      $dlg_var(force_decrease_counters_callee): "1"
      $xavp(lua_dlgcnt_vals[0]=>totaluser:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.uuid %]): None
      $xavp(lua_dlgcnt_vals[0]=>totalaccount:[% invite_xfer_attended_caller_immediat_rel_customerpbx_test.id %]): None
  - start|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_RESTORE_CLUSTERSET:
  - return|ROUTE_STOP_RTPPROXY:
  - start|ROUTE_PREPARE_UA:
  - return|ROUTE_PREPARE_UA:
  - start|ROUTE_OUTBOUND:
  - start|DEFAULT_SEND:
  - exit|DEFAULT_SEND:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'BYE sip:[% scenarios.0.responders.1.ip %]:[% scenarios.0.responders.1.port %];transport=UDP SIP/2.0'
  - 'From: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1002.phone_number %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.responders.1.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'P-LB-Uptime:\s+\d+'
  - 'Content-Length:\s+0'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1002.phone_number %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.1.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ BYE',
      'Server: Sipwise NGCP Proxy',
      'Content-Length:\s+0',
    ]
  - [
      'PUBLISH sip:[% scenarios.0.responders.1.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test SIP/2.0',
      'To: <sip:[% scenarios.0.responders.1.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>',
      'From: <sip:[% scenarios.0.responders.1.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ PUBLISH',
      'Content-Length:\s+\d+',
      'User-Agent: Sipwise NGCP Proxy',
      'Event: dialog',
      'SIP-If-Match:',
      'Content-Type: application/dialog-info\+xml',
    ]
  - [
      'BYE sip:[% scenarios.0.responders.1.ip %]:[% scenarios.0.responders.1.port %];transport=UDP SIP/2.0',
      'From: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1002.phone_number %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+',
      'To: <sip:[% scenarios.0.responders.1.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ BYE',
      'P-LB-Uptime:\s+\d+',
      'Content-Length:\s+0',
    ]
