messages:
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 407 Proxy Authentication Required'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Proxy-Authenticate: Digest realm="invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 180 Ringing'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Length:\s+0'
  - 'P-Asserted-Identity: "[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]" <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'P-Asserted-Identity: "[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]" <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
  - 'v=0'
  - 's=-'
  - 't=0 0'
  - 'm=audio \d+ RTP/AVP 8'
  - 'a=rtpmap:8 PCMA/8000'
  - 'a=sendrecv'
  - 'a=rtcp:\d+'
  - 'a=ptime:50'
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'P-Asserted-Identity: "[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]" <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
  - 'v=0'
  - 's=-'
  - 't=0 0'
  - 'm=audio \d+ RTP/AVP 8'
  - 'a=rtpmap:8 PCMA/8000'
  - 'a=recvonly'
  - 'a=rtcp:\d+'
  - 'a=ptime:50'
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 407 Proxy Authentication Required'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Proxy-Authenticate: Digest realm="invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 100 Trying'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
  - 'CSeq: \d+ INVITE'
  - 'Server: Sipwise NGCP LB'
  - 'Content-Length:\s+0'
- - 'SIP/2.0 180 Ringing'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Length:\s+0'
  - 'P-Asserted-Identity: "[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]" <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ INVITE'
  - 'Content-Type: application/sdp'
  - 'Content-Length:\s+\d+'
  - 'P-Asserted-Identity: "[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]" <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
  - 'Contact: <sip:ngcp-lb@[% server_ip %]:5060;ngcpct=[^;]+>'
  - 'v=0'
  - 's=-'
  - 't=0 0'
  - 'm=audio \d+ RTP/AVP 8'
  - 'a=rtpmap:8 PCMA/8000'
  - 'a=sendrecv'
  - 'a=rtcp:\d+'
  - 'a=ptime:50'
- - 'SIP/2.0 202 Accepted'
  - 'From: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ REFER'
  - 'Content-Length:\s+0'
  - 'P-Asserted-Identity: "[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]" <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
- - 'BYE sip:[% scenarios.0.username %]@[% scenarios.0.ip %]:[% scenarios.0.port %] SIP/2.0'
  - 'From: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'Content-Length:\s+0'
  - 'P-Asserted-Identity: "[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]" <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1004.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
- - 'BYE sip:[% scenarios.0.username %]@[% scenarios.0.ip %]:[% scenarios.0.port %] SIP/2.0'
  - 'From: <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: <sip:[% scenarios.0.username %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>;tag=[\w-]+'
  - 'CSeq: \d+ BYE'
  - 'Content-Length:\s+0'
  - 'P-Asserted-Identity: "[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]" <sip:[% invite_xfer_attended_caller_immediat_rel_scenarios_pbx_test.testuser1003.pbx_extension %]@invite-xfer-attended-caller-immediat-rel.scenarios-pbx.test>'
