cdr:
  - source_user: 'testuser1002'
    source_domain: 'spce.test'
    source_cli: '4311002'
    destination_user: 'testuser1001'
    destination_domain: 'spce.test'
    destination_user_dialed: 'testuser1001'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'
  - source_user: 'testuser1001'
    source_domain: 'spce.test'
    source_cli: '4311001'
    destination_user: 'conf=4311001'
    destination_domain: 'conference.local'
    destination_user_dialed: 'conf=4311001'
    destination_user_in: 'conf=4311001'
    destination_domain_in: 'conference.local'
    call_type: 'cfu'
    call_status: 'ok'
    call_code: '200'