flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_REG_REQUEST:
  - start|ROUTE_REG_HANDLE:
  - start|ROUTE_AUTH:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'REGISTER sip:testuser1003@invite-alias-devid.scenarios-pbx.test SIP/2.0'
  - 'From: <sip:testuser1003@invite-alias-devid.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: "TestBria" <sip:testuser1003@invite-alias-devid.scenarios-pbx.test>'
  - 'CSeq: \d+ REGISTER'
  - 'Contact: "TestBria" <sip:testuser1003@127.126.0.1:\d+;ob>;reg-id=1;\+sip.instance="<urn:uuid:C3DD6013-20E8-40E3-8EA2-5849B02ED0C4>"'
  - 'Content-Length: 0'
  - 'P-NGCP-Src-Ip: [% scenarios.0.ip %]'
  - 'P-NGCP-Src-Port: [% scenarios.0.port %]'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
  - 'P-Sock-Info: udp:127.0.0.1:5060'
  - 'P-LB-Uptime: \d+'
  - 'Path: <sip:lb@127.0.0.1;lr;socket=sip:127.0.0.1:5060>'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:testuser1003@invite-alias-devid.scenarios-pbx.test>;tag=[\w-]+',
      'To: "TestBria" <sip:testuser1003@invite-alias-devid.scenarios-pbx.test>',
      'CSeq: \d+ REGISTER',
      'P-Out-Socket: udp:127.0.0.1:5060',
      'P-NGCP-Auth-IP: 127.126.0.1',
      'P-NGCP-Auth-UA: <null>',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'SIP/2.0 401 Unauthorized',
      'From: <sip:testuser1003@invite-alias-devid.scenarios-pbx.test>;tag=[\w-]+',
      'To: "TestBria" <sip:testuser1003@invite-alias-devid.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ REGISTER',
      'P-Out-Socket: udp:127.0.0.1:5060',
      'P-NGCP-Auth-IP: 127.126.0.1',
      'P-NGCP-Auth-UA: <null>',
      'WWW-Authenticate: Digest realm="invite-alias-devid.scenarios-pbx.test", nonce=".+"',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
