flow:
  - start|DEFAULT_ROUTE:
  - start|ROUTE_ENTRY:
  - return|ROUTE_ENTRY:
  - start|ROUTE_NET_INFO:
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_REG_REQUEST:
  - start|ROUTE_REG_HANDLE:
  - start|ROUTE_AUTH:
  - start|ROUTE_AUTH_HELPER:
  - return|ROUTE_AUTH_HELPER:
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_AUTH:
  - start|ROUTE_PREFERENCES:
  - start|ROUTE_CHECK_UA:
  - return|ROUTE_CHECK_UA:
  - return|ROUTE_PREFERENCES:
  - start|ROUTE_EXIT:
  - start|ROUTE_RUNTIME:
  - return|ROUTE_RUNTIME:
  - exit|ROUTE_EXIT:
sip_in:
  - 'REGISTER sip:[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]@invite-alias-devid.scenarios-pbx.test SIP/2.0'
  - 'From: <sip:[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]@invite-alias-devid.scenarios-pbx.test>;tag=[\w-]+'
  - 'To: "TestBria" <sip:[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]@invite-alias-devid.scenarios-pbx.test>'
  - 'CSeq: \d+ REGISTER'
  - 'Authorization: Digest username="[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]",realm="invite-alias-devid.scenarios-pbx.test",uri="sip:127.0.0.1:5060",nonce=".+",response=".+",algorithm=MD5'
  - 'Contact: "TestBria" <sip:[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]@[% scenarios.0.ip %]:\d+;ob>;reg-id=1;\+sip.instance="<urn:uuid:C3DD6013-20E8-40E3-8EA2-5849B02ED0C4>"'
  - 'Content-Length: 0'
  - 'P-NGCP-Src-Ip: [% scenarios.0.ip %]'
  - 'P-NGCP-Src-Port: \d+'
  - 'P-NGCP-Src-Proto: udp'
  - 'P-NGCP-Src-Af: 4'
  - 'P-Sock-Info: udp:127.0.0.1:5060'
  - 'P-LB-Uptime: \d+'
  - 'Path: <sip:lb@127.0.0.1;lr;socket=sip:127.0.0.1:5060>'
sip_out:
  - [
      'SIP/2.0 100 Trying',
      'From: <sip:[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]@invite-alias-devid.scenarios-pbx.test>;tag=[\w-]+',
      'To: "TestBria" <sip:[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]@invite-alias-devid.scenarios-pbx.test>',
      'CSeq: \d+ REGISTER',
      'P-Out-Socket: udp:127.0.0.1:5060',
      'P-NGCP-Auth-IP: [% scenarios.0.ip %]',
      'P-NGCP-Auth-UA: <null>',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
  - [
      'SIP/2.0 200 OK',
      'From: <sip:[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]@invite-alias-devid.scenarios-pbx.test>;tag=[\w-]+',
      'To: "TestBria" <sip:[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]@invite-alias-devid.scenarios-pbx.test>;tag=[\w-]+',
      'CSeq: \d+ REGISTER',
      'P-Out-Socket: udp:127.0.0.1:5060',
      'P-NGCP-Auth-IP: [% scenarios.0.ip %]',
      'P-NGCP-Auth-UA: <null>',
      'P-NGCP-Authorization: [% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]@invite-alias-devid.scenarios-pbx.test',
      'P-NGCP-Authorized: 1',
      'P-Caller-UUID: [% invite_alias_devid_scenarios_pbx_test.testuser1003.uuid %]',
      'Contact: <sip:[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.2.phone_number %]@[% scenarios.0.ip %]:\d+;ob>;expires=\d+;\+sip.instance="<urn:uuid:C3DD6013-20E8-40E3-8EA2-5849B02ED0C4>";reg-id=1',
      'Server: Sipwise NGCP Proxy',
      'Content-Length: 0',
    ]
