cdr:
  - source_user: 'testuser1002'
    source_domain: 'invite-alias-devid.scenarios-pbx.test'
    source_cli: '[% invite_alias_devid_scenarios_pbx_test.testuser1002.phone_number %]'
    destination_user: '[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.0.phone_number %]'
    destination_domain: 'invite-alias-devid.scenarios-pbx.test'
    destination_user_dialed: '[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.0.phone_number %]'
    destination_user_in: '[% invite_alias_devid_scenarios_pbx_test.testuser1003.alias_numbers.0.phone_number %]'
    call_type: 'call'
    call_status: 'ok'
    call_code: '200'