flow:
  - start|DEFAULT_ROUTE:
      $fU: testuser1003
      $tU: testuser1003
  - start|ROUTE_NET_INFO:
      $fU: testuser1003
      $tU: testuser1003
  - return|ROUTE_NET_INFO:
  - start|ROUTE_CHECK_TEL_URI:
  - return|ROUTE_CHECK_TEL_URI:
  - start|ROUTE_REG_REQUEST:
  - start|ROUTE_REG_HANDLE:
  - start|ROUTE_AUTH:
  - start|ROUTE_AUTH_HELPER:
      $fd: spce.test
      $var(realm_user): testuser1003
      $var(realm_domain): spce.test
  - return|ROUTE_AUTH_HELPER:
      $avp(orig_acc_caller_user): ['testuser1003']
      $avp(orig_acc_caller_domain): ['spce.test']
  - start|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_ADD_CALLINFO_REPLY:
  - return|ROUTE_AUTH:
  - start|ROUTE_PREFERENCES:
  - return|ROUTE_PREFERENCES:
  - exit|ROUTE_REG_HANDLE:
sip_in:
  - '^REGISTER'
  - 'Contact: "TestBria" <sip:testuser1003@127.126.0.1:6666;ob>;reg-id=1;\+sip.instance="<urn:uuid:C3DD6013-20E8-40E3-8EA2-5849B02ED0C4>"'
  - 'Content-Length: 0'
  - 'Expires: 600'
  - 'Authorization: Digest username="testuser1003"'
sip_out:
  - [
      '^SIP/2.0 100 Trying',
      'Content-Length: 0'
    ]
  - [
      '^SIP/2.0 200 OK',
      'Contact: <sip:testuser1003@127.126.0.1:6666;ob>;expires=\d{3};\+sip.instance="<urn:uuid:C3DD6013-20E8-40E3-8EA2-5849B02ED0C4>";reg-id=1',
      'Content-Length: 0',
      'P-NGCP-Authorization: testuser1003@',
      'P-NGCP-Authorized: 1'
    ]
