messages:
- - 'SIP/2.0 401 Unauthorized'
  - 'From: <sip:[% scenarios.1.username %]@register-bria.scenarios.test>;tag=[\w-]+'
  - 'To: "TestBria" <sip:[% scenarios.1.username %]@register-bria.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'WWW-Authenticate: Digest realm="register-bria.scenarios.test", nonce="[^"]+"'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
- - 'SIP/2.0 200 OK'
  - 'From: <sip:[% scenarios.1.username %]@register-bria.scenarios.test>;tag=[\w-]+'
  - 'To: "TestBria" <sip:[% scenarios.1.username %]@register-bria.scenarios.test>;tag=[\w-]+'
  - 'CSeq: \d+ REGISTER'
  - 'Contact: <sip:[% scenarios.2.username %]@[% scenarios.2.ip %]:[% scenarios.2.port %];ob>;expires=\d+;received="sip:[% scenarios.2.ip %]:[% scenarios.2.port %]";\+sip.instance="<urn:uuid:C3DD6013-20E8-40E3-8EA2-5849B02ED0C4>";reg-id=1'
  - 'Server: Sipwise NGCP Proxy'
  - 'Content-Length: 0'
